@charset "utf-8";
* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    white-space: nowrap;
}
html,
body {
    margin: 0;
    overflow: hidden;
}
img,
.image {
    cursor: pointer;
}
#menu {
    background-color: #F0F0F0;
    border-bottom: 1px #c8c8c8 solid;
    font-size: 11px;
    height: 23px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 1px;
}
#menu a {
    border: 1px #F0F0F0 solid;
    color: #000000;
    display: block;
    float: left;
    height: 18px;
    line-height: 16px;
    padding: 1px 3px;
    text-decoration: none;
    white-space: nowrap;
}
#menu a:hover {
    border: 1px #F0F0F0 outset;
}
#menu .down {
    background-color: #ddd;
    border: 1px #ddd inset;
}
#menu img {
    border: 0;
}
#loading {
    cursor: default;
    float: right;
    padding: 4px;
}
#dir,
#search,
#favorits {
    background-color: #fff;
    bottom: 0;
    font-size: 11px;
    left: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 5px;
    position: absolute;
    top: 26px;
    width: 195px;
}
#dir div div {
    margin-left: 8px
}
#dir a {
    cursor: pointer;
    padding: 1px 3px 4px 3px;
    white-space: nowrap;
}
#dir a:hover {
    text-decoration: underline;
}
#dir a:hover img {
    text-decoration: none;
}
#dir a:active,
#dir .active {
    background-color: #0A246A;
    color: #FFFFFF;
}
#dir input {
    padding: 0;
    width: 75%;
}
#dir p {
    display: inline;
    margin-left: 3px;
}
#dir *,
#menu * {
    vertical-align: middle;
}
#searchpath,
#searchalt {
    padding: 2px;
    width: 172px;
}
#searchtype {
    padding: 2px;
    width: 178px;
}
#files {
    background-color: #fff;
    bottom: 0;
    left: 205px;
    overflow: auto;
    overflow-y: scroll;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 26px;
}
#files .navn {
    border: 1px #fff solid;
    height: 18px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    white-space: nowrap;
    width: 128px;
}
#files input {
    width: 128px;
}
#files input,
#dir input,
#searchpath,
#searchalt {
    border: 1px #000000 solid;
    font-size: inherit;
    text-align: left;
}
#files .filetile,
#files .imagetile {
    float: left;
    font-size: 12px;
    height: 118px;
    margin: 5px 10px;
    overflow: hidden;
    text-align: center;
    width: 130px;
}
#files .image {
    background-color: #FFFFFF;
    border: 1px #CCCCCC solid;
    font-size: 0;
    height: 96px;
    /*FF needs it 1px lower*/
    line-height: 95px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 128px;
}
#files .image * {
    vertical-align: middle;
}
#files form,
#files form * {
    border: 0;
    display: inline;
    padding: 0;
}
