@charset "utf-8";
#data select,
#data input {
    border: 1px dashed #999999;
}
#print {
    display: none;
}
.tal {
    text-align: right;
}
thead {
    font-weight: bold;
}
img {
    border: 0;
}
#data {
    border-collapse: collapse;
}
#data thead td {
    vertical-align: middle;
}
#data thead td,
#data .border td {
    border: 1px #000000 solid;
}
#data tbody td,
#data tfoot td {
    border-left: 1px #000000 solid;
    border-right: 1px #000000 solid;
}
#data .border td {
    border-top: 2px #000000 solid;
    vertical-align: middle;
}
#payamount {
    font-size: 12px;
}
#note {
    width: 525px;
}
