@charset "utf-8";
#web, #mainmenu {
    display:none;
}

.tal {
    text-align:right;
}

body, table {
    font-size:10pt;
}

#main {
    margin-bottom:5mm;
}

h1 {
    border-bottom:1.5pt #000000 solid;
    display:inline;
    font-size:35.5pt;
    padding-bottom:2.6mm;
}

address {
    background-color:#FFFFFF;
    border-left:1.5pt solid #000000;
    float:right;
    font-size:10pt;
    font-style:normal;
    padding-left:8mm;
    text-align:right;
}

#postadresse {
    font-size:11pt;
    height:29mm;
    margin-left:2mm;
    margin-top:22mm;
    width:81mm;
}

#ref span {
    padding-right:7mm;
}

#fakturadiv {
    float:right;
    font-size:25pt;
    margin-top:1mm;
}

#ref {
    padding-top:17pt;
}

#printdata {
    border-collapse:collapse;
    height:12cm;
    width:100%;
}

#printdata td {
    padding:1pt 3pt;
    vertical-align:bottom;
}

#printdata thead td {
    vertical-align:middle;
}

#printdata thead td, .border td {
    border:1pt #000000 solid;
}

#printdata tbody td, #printdata tfoot td {
    border-left:1pt #000000 solid;
    border-right:1pt #000000 solid;
}

.td1 {
    width:2cm;
}

.td3 {
    width:25mm;
}

.td4 {
    width:3cm;
}

.border td {
    border-top:1.5pt #000000 solid;
    vertical-align:middle;
}

#printpayamount {
    font-size:12pt;
}

tr {
    height:6mm;
    max-height:6mm;
    min-height:6mm;
}

p {
    margin:0;
}
