/* GENERAL STYLES */

div.menu {
	position: absolute;
	top: 0;
	left: 0;
	font-family: verdana;
}
div.menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
}
.menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	list-style-position: outside;
}


/* FIREFOX STYLES */

.menu.firefox {
	width: 12em;
	background: #F4F5EB;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 2px 0;
}
.menu.firefox a {
	color: #555;
	padding: 4px 15px;
	margin: 0 2px;
}
.menu.firefox a:hover {
	background: #006;
	color: #fff;
}
.menu.firefox a.disabled {
	color: #bbb;
}
.menu.firefox a.disabled:hover {
	background: #F4F5EB;
	color: #bbb;
}
.menu.firefox .separator {
	border-bottom: 1px solid #fff;
	background: #999;
	margin: 2px 4px;
}

/* DESKTOP STYLES */

.menu.desktop {
	width: 156px;
	background: #f0f0f0;
	border: 1px solid #999;
	padding: 0;
	filter: progid:DXImageTransform.Microsoft.Shadow( Color=#8c8d8c,direction:135,strength:5);
}
.menu.desktop ul, .menu.desktop li {
	margin: 0;
	padding: 0;
}
.menu.desktop li.separator {
	height: 1px;
}
.menu.desktop a {
	color: #555;
	padding: 3px 0 3px 25px;
	margin: 0;
	border: 1px solid #f0f0f0;
}
.menu.desktop a.disabled {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
.menu.desktop li.separator {
	border-bottom: 1px solid #fff;
	background: #aaa;
	margin: 1px 1px 0 1px;
	line-height: 1px !important;
}
.menu.desktop a.bold {
  background: #f0f0f0 none 2px 50% no-repeat;
  font-weight:bold;
}
.menu.desktop a.delete {
  background: #f0f0f0 url(/theme/default/images/admin/cross.png) 2px 50% no-repeat;
}
.menu.desktop a.link {
  background: #f0f0f0 url(/theme/default/images/admin/link.png) 2px 50% no-repeat;
}
.menu.desktop a.unlink {
  background: #f0f0f0 url(/theme/default/images/admin/link_break.png) 2px 50% no-repeat;
}
.menu.desktop a.edit {
  background: #f0f0f0 url(/theme/default/images/admin/page_edit.png) 2px 50% no-repeat;
}
.menu.desktop a.picture_edit {
  background: #f0f0f0 url(/theme/default/images/admin/picture_edit.png) 2px 50% no-repeat;
}
.menu.desktop a.folder_go {
  background: #f0f0f0 url(/theme/default/images/admin/folder_go.png) 2px 50% no-repeat;
}
.menu.desktop a.eye {
  background: #f0f0f0 url(/theme/default/images/admin/eye.png) 2px 50% no-repeat;
}
.menu.desktop a.picture {
  background: #f0f0f0 url(/theme/default/images/admin/picture.png) 2px 50% no-repeat;
}
.menu.desktop a.picture {
  background: #f0f0f0 url(/theme/default/images/admin/picture.png) 2px 50% no-repeat;
}
.menu.desktop a.pictures {
  background: #f0f0f0 url(/theme/default/images/admin/pictures.png) 2px 50% no-repeat;
}
.menu.desktop a.film {
  background: #f0f0f0 url(/theme/default/images/admin/film.png) 2px 50% no-repeat;
}
.menu.desktop a.textfield_rename {
  background: #f0f0f0 url(/theme/default/images/admin/textfield_rename.png) 2px 50% no-repeat;
}
/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) */
.menu.desktop a.enabled:hover {
	background-color: #0A246A;
	color: #fff;
}
