@charset "utf-8";
* {
    color: #3F3D3D;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
body,
table,
input,
select,
textarea {
    font-size: 10px;
}
h2 {
    font-size: 18px;
}
#bindinger p,
#accessories p {
    margin: 0;
}
#bindinger img {
    vertical-align: bottom;
}
table,
td,
tr {
    border: 0;
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    cursor: pointer;
}
body {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
a {
    color: #3F3D3D;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #7E7C7C;
    text-decoration: underline;
}
#mainmenu form {
    display: inline;
}
#mainmenu {
    background-color: #F0F0F0;
    border-right: 3px #C1C1C1 solid;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 16px;
    position: fixed;
    top: 0;
    width: 190px;
}
#mainmenu input {
    border: 1px #C1C1C1 solid;
    text-align: center;
}
.toolbox {
    float: left;
    margin: 0 15px 15px 0;
}
.toolbox>div {
    background-color: #EFEDDE;
    padding: 3px;
}
.menuboxheader,
#headline {
    background-image: url('/theme/default/images/admin/headerbar.gif');
    font-weight: bold;
    height: 13px;
}
.menuboxheader {
    border: 1px #AAAAAA solid;
    display: block;
    margin-top: 15px;
    overflow: hidden;
    padding: 4px 12px;
    white-space: nowrap;
    width: 143px;
}
.menuboxheader:hover {
    text-decoration: none;
}
#listbox table {
    background-color: #FFFFFF;
    width: 100%;
}
#listbox table * {
    border-collapse: separate;
    color: #000000;
}
#listbox table td {
    border: 1px solid #FFFFFF;
    line-height: 16px;
}
#listbox table img {
    vertical-align: top;
}
#listbox caption {
    background-color: #999999;
    font-size: 14px;
    font-weight: bold;
}
#listbox thead {
    background-color: #999999;
    font-weight: bold;
}
#listbox tbody tr:nth-child(even),
#list tbody tr:nth-child(even) {
    background: #CCCCCC
}
#listbox input,
#listbox select {
    background-color: transparent;
    border: 0;
    padding: 0;
}
#listbox tbody tr:hover,
#listbox tfoot tr {
    background-color: #999999;
}
#listbox tfoot input,
#listbox tfoot select {
    background-color: #CCC;
}
#mainmenu ul {
    background-color: #F5F5F5;
    border: 1px #C1C1C1 solid;
    border-top: 0;
    margin: 0;
    padding: 10px 12px;
    width: 143px;
}
#mainmenu ul li {
    list-style: none;
    margin: 2px 0;
}
#canvas {
    background-color: #FFFFFF;
    margin: 0 0 0 225px;
}
#canvas>* {
    margin: 16px;
}
#folders * {
    vertical-align: text-bottom;
    white-space: nowrap;
}
#kats {
    background-color: #FFFFFF;
    border: 1px #AAAAAA solid;
    border-top: 0;
    height: 400px;
    overflow: auto;
}
#headline {
    margin: 0;
    padding: 4px 0;
    text-align: center;
}
#subMenus,
#listOrder {
    background-color: #FFFFFF;
    border: 1px #AAAAAA solid;
    list-style: none;
    margin: 0;
    padding: 3px;
}
#subMenus *,
#listOrder * {
    list-style: none;
    margin: 0;
    padding: 0;
}
#list td thead * {
    font-weight: bold;
}
#list tbody tr:nth-child(even) {
    background: #CCCCCC
}
#list tbody tr:hover {
    background-color: #6CC;
}
#list td {
    padding: 0;
}
#list td a {
    color: #000;
    display: block;
    padding: 1px;
    text-decoration: none;
}
#list td .address {
    background-color: #FFF;
    border: 1px solid #CCC;
    display: none;
    padding: 3px 7px;
    position: absolute;
}
#list td:hover .address {
    display: block;
}
#list td .address:hover {
    display: none;
}
