@charset "utf-8";
* {
	font-family:Arial, Helvetica, sans-serif;
}
body {
	font-size:10pt;
	background-color:#cccccc;
	margin:0px;
}
input {
	width:160px;
}
td {
	vertical-align:top;
	white-space:nowrap;
}
h2 {
	margin:0;
}
#menu {
	left:0px;
	top:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-image:url('http://www.postdanmark.dk/pfs/grafik/bg-menubar.gif');
	width:151px;
	padding-left:11px;
	font-size:9pt;
	height:100%;
	position:fixed;
}
a {
	color:#FFFFFF;
	text-decoration:none;
}
#loading {
	position:fixed; width:100%; height:100%; top:0px; left:0px;
}
#loading img, #loading input {
	width:228px;margin:0px auto;text-align:center;padding:15px;border:1px dashed #333;background-color:#eee;display:block;
}
hr {
	color:#CC0000; background-color:#CC0000; border:0px #CC0000 solid; margin:0; padding:0; clear:both;
}

