includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
	level: max
	paths:
		- inc
		- index.php
	ignoreErrors:
		- '#Call to an undefined method SoapClient::gettransactionlist\(\)\.#'
		- '#Call to an undefined method SoapClient::delete\(\)\.#'
		- '#Call to an undefined method SoapClient::capture\(\)\.#'
		- '#Undefined variable: \$app#'
