/* set edit elements to match onsite content */
.NyPris {
    color: #CC0000;
    font-weight: bold;
}
.Pris {
    font-weight: bold;
}
.XPris {
    text-decoration: line-through;
}
.admin_name {
    color: #333333;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}
