.DS_Store
*~
/coverage
/.codelite
/*.phprj
/*.workspace
/application/files
/application/images
/application/javascript
/application/theme/cache
/application/vendor
/build
/node_modules
/tests/application/theme/cache
