.DS_Store
*~
/coverage
/.codelite
/*.phprj
/*.workspace
/application/files
/application/images
/application/javascript/admin/ckeditor/
/application/theme/cache
/application/vendor
/build
/tests/application/theme/cache
