<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <style type="text/css">
            #faktura td {
                border:1px solid #000;
                border-collapse:collapse; padding:2px;
            }
            .tal {
                text-align:right;
            }
        </style>
    </head>
    <body>
        {% block info %}
        <p>{{'The customer has approved the payment and the following order must be shipped to the customer.'|trans}}</p>
        <p>{{'Remember to process the payment when the product is sent (The payment will only by transferred from the customer\'s account once we hit \'Process\')'|trans}}.</p>
        {% endblock %}
        <p>{{'Click '|trans}}<a href="{{invoice.adminLink}}">{{'here'|trans}}</a>{{' to open the invoice page.'|trans}}</p>
        <p>
            <a href="mailto:{{invoice.email}}">{{invoice.email}}</a><br />
            {{'Mobile:'|trans}} {{invoice.phone2}}<br />
            {{'Phone:'|trans}} {{invoice.phone1}}<br />
            {{'Delivery phone:'|trans}} {{invoice.shippingPhone}}
        </p>
        {% include 'partial-payment-invoice.html' %}
        <p>{{'Sincerely, the computer'|trans}}</p>
    </body>
</html>

