/*@font-face {
	font-family:"Gill Sans";
	font-style:normal;
	font-weight:bold;
	src:url(GILLSAN0.eot);
}
@font-face {
	font-family:"Gill Sans";
	font-style:normal;
	font-weight:normal;
	src:url(GILLSAN1.eot);
}
*/
* {
/*
	border:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:120%;
	scrollbar-base-color:#E0E0E0;
	scrollbar-3dlight-color:#CCCCCC;
	scrollbar-highlight-color:#dddddd;
	scrollbar-shadow-color:#dddddd;
	*/
	/*Safari on window has shadow*/
	text-shadow: 0 0 0 #fff;
}
/*
body {
	background-color:#0C0C0C;
	margin:0px;
	font-size:12px;
	color:#000000;
}
input, select, textarea {
	border:1px solid #000000;
	font-size:12px;
	color:#000000;
}
#wrapper {
	font-size:12px;
	position:absolute;
	width:750px;
	left:50%;
	margin-left:-375px;
}
#mainfade-l {
	position:absolute;
	top:59px;
	left:0px;
	border-right:115px solid #EAEAEA;
}
#mainfade-r {
	position:absolute;
	top:59px;
	left:130px;
	border-left:603px solid #ffffff;
}
#jof {
 position:absolute;
 left:10px;
 top:19px;
}
a {
	text-decoration:none;
	color:#333333;
}
a:visited {
	color:#000000;
}
a:hover {
	text-decoration:underline;
}
h2 {
	font-size:12px;
	margin:0px;
	position:absolute;
	left:173px;
	top:28px;
}
h2 img {
	font-size:12px;
	vertical-align:middle;
}
h2 a {
	font-size:16px;
	font-family:"Gill Sans", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#777777;
	margin-right:6px;
}
h2 a:visited {
	color:#777777;
}
h2 a:hover {
	text-decoration:none;
	color:#e0e0e0;
}
h2 a:active {
	text-decoration:none;
	color:#e0e0e0;
}
h3 {
	font-size:15px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0px;
}
h3 * {
	font-size:15px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
h4 {
	font-size:12px;
	color:#000000;
	display:inline;
	font-weight:normal;
}
#menu {
	font-size:12px;
	color:#000000;
	position:absolute;
	top:74px;
	left:50%;
	margin-left:-375px;
	clip:auto;
	width:130px;
	background-color:#EAEAEA;
	overflow:auto;
}
#menu * {
	font-size:12px;
	margin:0px;
	padding:0px;
}
#menu a {
	margin-left:-3px;
	display:block;
}
#menu ul {
	 margin-left:23px;
	 list-style:url('/images/web/dod.gif');
}
#menu ul ul {
	 margin-left:16px;
}
#menu li {
	cursor:pointer;
}
#menu ul li:hover, .activ {
	 list-style:url('/images/web/dod-h.gif');
}
.close {
	 list-style:url('/images/web/close.gif');
}
#menu ul .close:hover {
	 list-style:url('/images/web/close-h.gif');
}
.open {
	 list-style:url('/images/web/open.gif');
	 cursor:default;
}
#menu ul .open:hover {
	 list-style:url('/images/web/open.gif');
}

#text {
	font-size:12px;
	color:#000000;
	position:absolute;
	top:74px;
	left:50%;
	margin-left:-245px;
	clip:auto;
	width:620px;
	background-color:#ffffff;
	overflow:auto;
}
.tabel {
	font-size:12px;
	width:100%;
	clear:both;
}
.tabel * {
	font-size:12px;
	color:#000000;
	padding:1px;
}
.tabel thead {
	background-color:#999999;
}
.tabel a {
	font-weight:bold;
}
.altrow {
	background-color:#cccccc;
}
#liste {
	font-size:12px;
	text-align:center;
	width:587px;
	margin-left:16px;
	border-collapse:collapse;
}
#liste td {
	border:#DDD dashed 1px;
	width:50%;
	vertical-align:top;
	padding:5px 5px 15px 5px;
}
*/
.NyPris {
	font-size:16px;
	font-weight:bold;
	font-family:"Gill Sans", Arial, Helvetica, sans-serif;
	color:#CC0000;
	line-height:125%;
}
.Pris {
	font-family:"Gill Sans", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.XPris {
	font-size:14px;
	font-weight:lighter;
	color:#666666;
	text-decoration:line-through;
}
/*
#liste a, h1,*/ .admin_name {
	font-size:17px;
	font-family:"Gill Sans", Arial, Helvetica, sans-serif;
	font-weight:bold;
}/*
.print {
	display:none;
}*/