body {
	background-color:#FFFFFF;
}
#mainfade-l, #mainfade-r, h2 img, #text.h510 {
	display:none;
}
#jof {
	margin:auto;
	display:block;
	position:static;
}
.open {
	font-weight:bold;
}
#menu, #text, .h510 {
	height:auto;
}
#menu {
	position:static;
	margin:auto;
	overflow:visible;
	padding:2px 0;
	width:100%;
}
#menu * {
	font-size:16px;
}
#menu a {
	margin:4px 0;
}
#wrapper {
	position:static;
	text-align:center;
	margin:auto;
	background-color:#000000;
	width:100%;
}
#wrapper h2 {
	margin:auto;
	position:static;
	padding:2px 0;
}
#text {
	position:static;
	margin:auto;
	overflow:visible;
	width:100%;
}
#innercontainer {
	 width:auto;
	 padding:0px 2px;
}
#text img {
	max-width:100%;
}
#liste {
	width:100%;
	margin:auto;
}
#liste * {
	width:auto;
}
#liste td {
	display:block;
	width:100%;
	padding:5px 0 15px;
}
#liste a {
	display:block;
}
.imgright, .imgleft {
	padding:0;
	margin:auto;
	display:block;
	float:none;
}