body {
	background-color:#FFFFFF;
}
#wrapper, #mainfade-l, #mainfade-r, .web, .addtocart {
	display:none;
}
#menu {
	position:fixed;
	top:0px;
	height:100%;
	left:0px;
	margin-left:0px;
	overflow:visible;
	background-color:#EAEAEA;
	float:left;
}
#text {
	position:relative;
	top:0px;
	height:100%;
	overflow:visible;
	left:auto;
	margin-left:130px;
}
.print {
	display:inline;
}
#menu a {
	margin-left:0px;
}
#menu ul {
	margin-left:16px;
	list-style-image:none;
	list-style:none;
}
.activ h4 a, .open a {
	list-style-image:none;
	list-style:none;
	font-weight:bold;
}
#menu ul ul, #menu ul li:hover, .close, .open, .open *, .open * a, #menu ul .close:hover, .activ {
	list-style-image:none;
	list-style:none;
	font-weight:normal;
}
