@font-face {
    font-family: "Gill Sans";
    font-style: normal;
    font-weight: bold;
    src: url('/theme/www.jagtogfiskerimagasinet.dk/style/gillsan0.eot?#iefix') format('embedded-opentype');
}
.NyPris {
    color: #CC0000;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 125%;
}
.Pris {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.XPris {
    color: #666666;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: line-through;
}
.admin_name {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}
