@font-face {
font-family:"Gill Sans";
font-style:normal;
font-weight:bold;
src:url('/theme/www.jagtogfiskerimagasinet.dk/style/gillsan0.eot');
}
* {
border:0px;
font-family:Verdana, Arial, Helvetica, sans-serif;
line-height:120%;
scrollbar-base-color:#E0E0E0;
scrollbar-3dlight-color:#CCCCCC;
scrollbar-highlight-color:#dddddd;
scrollbar-shadow-color:#dddddd;
/*Safari is font is fat, shadows makes it use a thinner AA*/
text-shadow: 0 0 0 #fff;
}
body {
background-color:#0C0C0C;
margin:0px;
font-size:12px;
color:#000000;
}
img {
-ms-interpolation-mode:bicubic;
}
input, select, textarea {
border:1px solid #000000;
font-size:12px;
color:#000000;
}
#wrapper {
font-size:12px;
position:absolute;
width:750px;
left:50%;
margin-left:-375px;
}
#mainfade-l {
position:absolute;
top:59px;
left:0px;
border-right:115px solid #EAEAEA;
}
#mainfade-r {
position:absolute;
top:59px;
left:130px;
border-left:603px solid #ffffff;
}
#jof {
position:absolute;
left:10px;
top:19px;
}
#jof:hover, #jof.active {
background:url('/theme/www.jagtogfiskerimagasinet.dk/images/logo-hover.gif')
}
#jof:hover img, #jof.active img {
visibility: hidden;
}
a {
text-decoration:none;
color:#333333;
}
a:visited {
color:#000000;
}
a:hover {
text-decoration:underline;
}
#wrapper h2 {
font-size:12px;
margin:0px;
position:absolute;
left:173px;
top:28px;
}
#wrapper h2 img {
font-size:12px;
vertical-align:middle;
}
#wrapper h2 a {
font-size:16px;
font-family:"Gill Sans", Arial, Helvetica, sans-serif;
font-weight:bold;
color:#777777;
background: url('/theme/www.jagtogfiskerimagasinet.dk/images/link.gif') no-repeat;
padding: 0 10px 0 36px;
}
#wrapper h2 a:visited {
color:#777777;
}
#wrapper h2 a:hover, #wrapper h2 a:active, #wrapper h2 a.active {
background-image: url('/theme/www.jagtogfiskerimagasinet.dk/images/link-a.gif');
text-decoration:none;
color:#e0e0e0;
}
#menu h3 {
font-size:12px;
color:#000000;
display:inline;
font-weight:normal;
}
#menu {
font-size:12px;
color:#000000;
position:absolute;
top:74px;
left:50%;
margin-left:-375px;
clip:auto;
width:130px;
background-color:#EAEAEA;
overflow:auto;
}
#menu * {
font-size:12px;
margin:0px;
padding:0px;
}
#menu a {
margin-left:-3px;
display:block;
}
#menu ul {
margin-left:23px;
list-style:url('/theme/www.jagtogfiskerimagasinet.dk/images/dod.gif');
}
#menu ul ul {
margin-left:16px;
}
#menu li {
cursor:pointer;
}
#menu ul li:hover, #menu ul li.active {
list-style:url('/theme/www.jagtogfiskerimagasinet.dk/images/dod-h.gif');
}
.close {
list-style:url('/theme/www.jagtogfiskerimagasinet.dk/images/close.gif');
}
#menu ul .close:hover {
list-style:url('/theme/www.jagtogfiskerimagasinet.dk/images/close-h.gif');
}
.open {
list-style:url('/theme/www.jagtogfiskerimagasinet.dk/images/open.gif');
cursor:default;
}
#menu ul .open:hover {
list-style:url('/theme/www.jagtogfiskerimagasinet.dk/images/open.gif');
}

#text, #text table {
font-size:12px;
color:#000000;
background-color:#ffffff;
}
#text {
position:absolute;
top:74px;
left:50%;
margin-left:-245px;
clip:auto;
width:620px;
overflow:auto;
}
#innercontainer {
width:587px;
padding-left:16px;
}
#innercontainer a {
color:#3366FF;
}
.tabel {
font-size:12px;
width:100%;
clear:both;
}
.tabel * {
font-size:12px;
color:#000000;
padding:1px;
}
.tabel thead {
background-color:#999999;
}
.tabel a {
font-weight:bold;
color:#000000;
}
.altrow {
background-color:#cccccc;
}
#liste {
font-size:12px;
text-align:center;
width:587px;
margin-left:16px;
border-collapse:collapse;
}
#liste td {
border:#DDD dashed 1px;
width:50%;
vertical-align:top;
padding:5px 5px 15px 5px;
}
#liste a {
display: block;
}
.NyPris {
font-size:16px;
font-weight:bold;
font-family:"Gill Sans", Arial, Helvetica, sans-serif;
color:#CC0000;
line-height:125%;
}
.Pris, .tabel caption {
font-family:"Gill Sans", Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}
.XPris {
font-size:14px;
font-weight:lighter;
color:#666666;
text-decoration:line-through;
}
#liste a, h1 {
font-size:17px;
font-family:"Gill Sans", Arial, Helvetica, sans-serif;
font-weight:bold;
}
#text h2 {
font-size:14px;
font-family:"Gill Sans", Arial, Helvetica, sans-serif;
font-weight:bold;
margin-bottom:0;
}
#text h3 {
font-family:"Gill Sans", Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
margin-bottom:0;
}
#text h4 {
font-family:"Gill Sans", Arial, Helvetica, sans-serif;
font-weight:normal;
text-decoration:underline;
font-size:12px;
margin-bottom:0;
}
#text h5 {
font-family:"Gill Sans", Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:11px;
margin:0;
}
#text h6 {
font-weight:normal;
font-size:9px;
margin:0;
}
.h510 {
height:510px;
}
.imgleft {
float:left;
margin:0 10px 10px 0;
}
.imgright {
float:right;
margin:0 0 10px 10px;
}
.print, #date, #burger, #basket {
display:none;
}
.tal {
text-align:right;
}

#faktura {
width:100%;
border-collapse:collapse;
}
#faktura td {
padding:1px 3px;
}
#faktura thead td {
vertical-align:middle;
font-weight:bold;
}
#faktura thead td, #faktura .border td {
border:1px #000000 solid;
}
#faktura tbody td, #faktura tfoot td {
border-right:1px #000000 solid;
border-left:1px #000000 solid;
white-space:nowrap;
}
#faktura .border td {
border-top:2px #000000 solid;
}
#faktura .td1 {
width:1%;
}
.addtocart {
width:16px;
text-align:center;
}
@media only screen and (max-width: 748px) {
    body {
        background-color:#FFFFFF;
        margin-top: 37px;
    }
    #jof {
        margin:auto;
        display:inline-block;
        position:static;
    }
    .open>a, .active>a {
        font-weight:bold;
    }
    #menu, #text, .h510 {
        height:auto;
    }
    #menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin:auto;
        padding:2px 0;
        overflow:auto;
        overflow-y:scroll;
        background: rgba(0,0,0,0.8);
        transition: left 0.3s ease-in;
    }
    #menu>ul {
        padding-left: 23px;
        margin-left: 0px;
        width: 50%;
        min-height: 100%;
        background-color:#EAEAEA;
        top: 0;
    }
    #menu a, #menu a.open, #menu a.close, #menu a.active {
        background-image: none;
        font-size: 16px;
    }
    #menu * {
        font-size:16px;
    }
    #menu a {
        padding: 4px 0;
    }
    #mainfade-l, #mainfade-r, h2 img, #text.h510, #menu a.notmobile, #menu.h510 * {
        display:none;
    }
    #wrapper {
        position:static;
        text-align:center;
        margin:auto;
        background-color:#000000;
        width:100%;
    }
    #wrapper h2 {
        margin:auto;
        position:static;
        padding:2px 0;
        text-align: left;
    }
    #wrapper h2 a, #wrapper h2 a:hover, #wrapper h2 a:active, #wrapper h2 a.active {
        background: none;
        padding: 0 4px 0 0;
    }
    #headder {
        position:fixed;
        top:0;
        width:100%;
        height:37px;
        background:#000;

    }
    #text {
        position:static;
        margin:auto;
        overflow:visible;
        width:100%;
    }
    #innercontainer {
         width:auto;
         padding:0px 2px;
    }
    #text img {
        max-width:100%;
    }
    #liste {
        width:100%;
        margin:auto;
    }
    #liste * {
        width:auto;
    }
    #liste td {
        display:block;
        width:100%;
        padding:5px 0 15px;
    }
    #liste a {
        display:block;
    }
    .imgright, .imgleft {
        padding:0;
        margin:auto;
        display:block;
        float:none;
    }
    #burger, #basket {
        display:inline-block;
        padding-top:3.5px;
    }
    #burger {
        float:left;
    }
    #basket {
        float:right;
    }
}

@media only print {
    body {
        background-color:#FFFFFF;
    }
    #wrapper, #mainfade-l, #mainfade-r, .web, .addtocart {
        display:none;
    }
    #menu {
        position:fixed;
        top:0px;
        height:100%;
        left:0px;
        margin-left:0px;
        overflow:visible;
        background-color:#EAEAEA;
        float:left;
    }
    #text {
        position:relative;
        top:0px;
        height:100%;
        overflow:visible;
        left:auto;
        margin-left:130px;
    }
    .print {
        display:inline;
    }
    #menu a {
        margin-left:0px;
    }
    #menu ul {
        margin-left:16px;
        list-style-image:none;
        list-style:none;
    }
    .active h4 a, .open a {
        list-style-image:none;
        list-style:none;
        font-weight:bold;
    }
    #menu ul ul, #menu ul li:hover, .close, .open, .open *, .open * a, #menu ul .close:hover, .active {
        list-style-image:none;
        list-style:none;
        font-weight:normal;
    }

}
