@font-face {
    font-family: "Gill Sans";
    font-style: normal;
    font-weight: bold;
    src: url('/theme/www.jagtogfiskerimagasinet.dk/style/gillsan0.eot?#iefix') format('embedded-opentype');
}
body {
    background-color: #0C0C0C;
    border: 0;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 120%;
    margin: 0;
}
input,
select,
textarea {
    border: 1px solid #000000;
    color: #000000;
    font-size: 12px;
}
#wrapper {
    font-size: 12px;
    left: 50%;
    margin-left: -397px;
    position: absolute;
    width: 750px;
}
#mainfade-l {
    border-right: 159px solid #EAEAEA;
    left: 0;
    position: absolute;
    top: 59px;
}
#mainfade-r {
    border-left: 603px solid #ffffff;
    left: 174px;
    position: absolute;
    top: 59px;
}
#jof {
    left: 10px;
    position: absolute;
    top: 19px;
}
#jof:hover,
#jof.active {
    background: url('/theme/www.jagtogfiskerimagasinet.dk/images/logo-hover.gif')
}
#jof:hover img,
#jof.active img {
    visibility: hidden;
}
a {
    color: #333333;
    text-decoration: none;
}
a:visited {
    color: #000000;
}
a:hover {
    text-decoration: underline;
}
#wrapper h2 {
    font-size: 12px;
    left: 173px;
    margin: 0;
    position: absolute;
    top: 28px;
}
#wrapper h2 img {
    font-size: 12px;
    vertical-align: middle;
}
#wrapper h2 a {
    background: url('/theme/www.jagtogfiskerimagasinet.dk/images/link.gif') no-repeat;
    color: #777777;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 0 36px;
}
#wrapper h2 a:visited {
    color: #777777;
}
#wrapper h2 a:hover,
#wrapper h2 a:active,
#wrapper h2 a.active {
    background-image: url('/theme/www.jagtogfiskerimagasinet.dk/images/link-a.gif');
    color: #e0e0e0;
    text-decoration: none;
}
#menu h3 {
    color: #000000;
    display: inline;
    font-size: 12px;
    font-weight: normal;
}
#menu {
    background-color: #EAEAEA;
    clip: auto;
    color: #000000;
    font-size: 12px;
    left: 50%;
    margin-left: -397px;
    overflow: auto;
    position: absolute;
    top: 74px;
    width: 174px;
}
#menu * {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#menu a {
    display: block;
    margin-left: -3px;
}
#menu ul {
    list-style: url('/theme/www.jagtogfiskerimagasinet.dk/images/dod.gif');
    margin-left: 23px;
}
#menu ul ul {
    margin-left: 16px;
}
#menu li {
    cursor: pointer;
}
#menu ul li:hover,
#menu ul li.active {
    list-style: url('/theme/www.jagtogfiskerimagasinet.dk/images/dod-h.gif');
}
.close {
    list-style: url('/theme/www.jagtogfiskerimagasinet.dk/images/close.gif');
}
#menu ul .close:hover {
    list-style: url('/theme/www.jagtogfiskerimagasinet.dk/images/close-h.gif');
}
.open {
    cursor: default;
    list-style: url('/theme/www.jagtogfiskerimagasinet.dk/images/open.gif');
}
#menu ul .open:hover {
    list-style: url('/theme/www.jagtogfiskerimagasinet.dk/images/open.gif');
}
#text,
#text table {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
}
#text {
    clip: auto;
    left: 50%;
    margin-left: -223px;
    overflow: auto;
    position: absolute;
    top: 74px;
    width: 620px;
}
#innercontainer {
    padding-left: 16px;
    width: 587px;
}
#innercontainer a {
    color: #3366FF;
}
.tabel {
    clear: both;
    font-size: 12px;
    width: 100%;
}
.tabel * {
    color: #000000;
    font-size: 12px;
    padding: 1px;
}
.tabel thead {
    background-color: #999999;
}
.tabel a {
    color: #000000;
    font-weight: bold;
}
.altrow {
    background-color: #cccccc;
}
#liste {
    border-collapse: collapse;
    font-size: 12px;
    margin-left: 16px;
    text-align: center;
    width: 587px;
}
#liste td {
    border: #DDD dashed 1px;
    padding: 5px 5px 15px 5px;
    vertical-align: top;
    width: 50%;
}
#liste a {
    display: block;
}
.nypris {
    color: #CC0000;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 125%;
}
.pris,
.tabel caption {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.xpris {
    color: #666666;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: line-through;
}
#liste a,
h1 {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}
#text h2 {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
#text h3 {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}
#text h4 {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    text-decoration: underline;
}
#text h5 {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}
#text h6 {
    font-size: 9px;
    font-weight: normal;
    margin: 0;
}
.h510 {
    height: 510px;
}
.print,
#date,
#burger,
#basket {
    display: none;
}
.tal {
    text-align: right;
}
#faktura {
    border-collapse: collapse;
    width: 100%;
}
#faktura td {
    padding: 1px 3px;
}
#faktura thead td {
    font-weight: bold;
    vertical-align: middle;
}
#faktura thead td,
#faktura .border td {
    border: 1px #000000 solid;
}
#faktura tbody td,
#faktura tfoot td {
    border-left: 1px #000000 solid;
    border-right: 1px #000000 solid;
    white-space: nowrap;
}
#faktura .border td {
    border-top: 2px #000000 solid;
}
#faktura .td1 {
    width: 1%;
}
.addtocart {
    text-align: center;
    width: 16px;
}
.mobile {
    display: none;
}
@media only screen and (min-width: 793px) {
    #menu {
        left: 50% !important;
    }
}
@media only screen and (max-width: 792px) {
    body {
        background-color: #FFFFFF;
        margin-top: 61px;
    }
    #jof {
        display: inline-block;
        margin: auto;
        position: static;
    }
    .open>a,
    .active>a {
        font-weight: bold;
    }
    #menu,
    #text,
    .h510 {
        height: auto;
    }
    #menu {
        background: #333;
        background: rgba(0, 0, 0, 0.8);
        height: 100%;
        left: -100%;
        margin: auto;
        overflow: auto;
        overflow-y: scroll;
        padding: 2px 0;
        position: fixed;
        top: 0;
        width: 100%;
    }
    #menu>ul {
        background-color: #EAEAEA;
        margin-left: 0;
        min-height: 100%;
        padding-left: 23px;
        top: 0;
        width: 50%;
    }
    #menu a,
    #menu a.open,
    #menu a.close,
    #menu a.active {
        background-image: none;
        font-size: 16px;
    }
    #menu {
        font-size: 16px;
    }
    #menu a {
        padding: 4px 0;
    }
    .notmobile {
        display: none !important;
    }
    #mainfade-l,
    #mainfade-r,
    h2 img,
    #menu a.notmobile,
    .notmobile,
    #menu.h510 * {
        display: none;
    }
    #wrapper {
        background-color: #000000;
        margin: auto;
        position: static;
        text-align: center;
        width: 100%;
    }
    #wrapper h2 {
        margin: auto;
        padding: 2px 0;
        position: static;
    }
    #wrapper h2 a,
    #wrapper h2 a:hover,
    #wrapper h2 a:active,
    #wrapper h2 a.active {
        background: none;
        padding: 0 4px 0 0;
    }
    #headder {
        background: #000;
        height: 61px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
    }
    #text {
        margin: auto;
        overflow: visible;
        position: static;
        width: 100%;
    }
    #innercontainer {
        padding: 0 2px;
        width: auto;
    }
    #text img {
        max-width: 100%;
    }
    #liste {
        margin: auto;
        width: 100%;
    }
    #liste * {
        width: auto;
    }
    #liste td {
        display: block;
        padding: 5px 0 15px;
        width: 100%;
    }
    #liste a,
    .mobile {
        display: block;
    }
    #burger,
    #basket {
        display: inline-block;
        padding: 3px;
    }
    #burger {
        float: left;
    }
    #basket {
        float: right;
    }
}
@media only print {
    body {
        background-color: #FFFFFF;
    }
    #wrapper,
    #mainfade-l,
    #mainfade-r,
    .web,
    .addtocart {
        display: none;
    }
    #menu {
        background-color: #EAEAEA;
        float: left;
        height: 100%;
        left: 0;
        margin-left: 0;
        overflow: visible;
        position: fixed;
        top: 0;
    }
    #text {
        background: none;
        height: 100%;
        left: auto;
        margin-left: 174px;
        overflow: visible;
        position: relative;
        top: 0;
    }
    .print {
        display: inline;
    }
    #menu a {
        margin-left: 0;
    }
    #menu ul {
        list-style: none;
        list-style-image: none;
        margin-left: 16px;
    }
    .active h4 a,
    .open a {
        font-weight: bold;
        list-style: none;
        list-style-image: none;
    }
    #menu ul ul,
    #menu ul li:hover,
    .close,
    .open,
    .open *,
    .open * a,
    #menu ul .close:hover,
    .active {
        font-weight: normal;
        list-style: none;
        list-style-image: none;
    }
}
