body {
    background-color: #FFFCD5;
    border: 0;
    font-family: "Times New Roman", Times, serif;
    line-height: 120%;
}
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.nypris {
    color: #CC0000;
    font-size: 16px;
    font-weight: bold;
    line-height: 125%;
}
.pris {
    font-size: 14px;
    font-weight: bold;
}
.xpris {
    font-size: 17px;
    text-decoration: line-through;
}
