<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <style type="text/css">
            #faktura td {
                border: 1px solid #000;
                border-collapse:collapse; padding:2px;
            }
            .tal {
                text-align:right;
            }
        </style>
    </head>
    <body>
        <p>{{invoice.name}} har lavet en bestilling på følgende:</p>
        <table id="faktura" cellspacing="0">
            <thead>
                <tr>
                    <td class="td1">Antal</td>
                    <td>Benævnelse</td>
                    <td class="td3 tal">á pris</td>
                    <td class="td4 tal">Total</td>
                </tr>
            </thead>
            <tbody>
                {% for item in invoice.items %}
                <tr>
                    <td class="tal">{{item.quantity}}</td>
                    <td>{{item.title}}</td>
                    <td class="tal">{{(item.value * (1 + invoice.vat))|number_format(2, ',', '.')}}</td>
                    <td class="tal">{{(item.value * item.quantity * (1 + invoice.vat))|number_format(2, ',', '.')}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><b>Notat:</b><br />{{invoice.note|nl2br}}</p>
        <p>
            <b>Adresse:</b>
            {% if invoice.name %}<br />{{invoice.name}}{% endif %}
            {% if invoice.attn %}<br />{{invoice.attn}}{% endif %}
            {% if invoice.address %}<br />{{invoice.address}}{% endif %}
            {% if invoice.postbox %}<br />{{invoice.postbox}}{% endif %}
            {% if invoice.city %}<br />{{invoice.postcode}} {{invoice.city}}{% endif %}
            {% if invoice.country != 'DK' %}<br />{{invoice.country}}{% endif %}
        </p>
        {% if invoice.hasShippingAddress %}
        <p>
            <b>Lev. adresse:</b>
            {% if invoice.shippingName %}<br />{{invoice.shippingName}}{% endif %}
            {% if invoice.shippingAttn %}<br />{{invoice.shippingAttn}}{% endif %}
            {% if invoice.shippingAddress %}<br />{{invoice.shippingAddress}}{% endif %}
            {% if invoice.shippingAddress2 %}<br />{{invoice.shippingAddress2}}{% endif %}
            {% if invoice.shippingPostbox %}<br />{{invoice.shippingPostbox}}{% endif %}
            {% if invoice.shippingCity %}<br />{{invoice.shippingPostcode}} {{invoiceCity}}{% endif %}
            {% if invoice.shippingCountry != 'DK' %}<br />{{invoice.shippingCountry}}{% endif %}
        </p>
        {% endif %}
        <p>Klik <a href="{{invoice.adminLink}}">her</a> for at behandle ordren.</p>
        <p>
            email: <a href="mailto:{{invoice.email}}">{{invoice.email}}</a>
            {% if invoice.phone1 %}Tlf.:{{invoice.phone1}}{% endif %}
            {% if invoice.phone2 %}Mobil:{{invoice.phone2}}{% endif %}
        </p>
        <p>Mvh Computeren</p>
    </body>
</html>
