<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <style type="text/css">
            #faktura td {
                border:1px solid #000;
                border-collapse:collapse; padding:2px;
            }
            .tal {
                text-align:right;
            }
        </style>
    </head>
    <body>
        {% block info %}
        <p>Kunden har godkendt betalingen og nedenstående ordre skal sendes til kunden.</p>
        <p>Husk at "ekspedere" betalingen når varen sendes (Betaling overføres først fra kundens konto, når vi trykker "Ekspedér").</p>
        {% endblock %}
        <p>Klik <a href="{{invoice.adminLink}}">her</a> for at åbne faktura siden.</p>
        <p>
            <a href="mailto:{{invoice.email}}">{{invoice.email}}</a><br />
            Mobil: {{invoice.phone2}}<br />
            Tlf.: {{invoice.phone1}}<br />
            Leverings tlf.: {{invoice.shippingPhone}}
        </p>
        {% include 'partial-payment-invoice.html' %}
        <p>Mvh Computeren</p>
    </body>
</html>
