{% if product.oldPrice %}
    {% if product.oldPriceType == 1 %}
        {{'Market price:'|trans}} <span>
    {% elseif product.oldPriceType == 2 %}
        {{'Should cost:'|trans}} <span>
    {% else %}
        {{'Before:'|trans}} <span class="XPris">
    {% endif %}
    {{product.oldPrice|number_format(0, localeconv.mon_decimal_point, localeconv.mon_thousands_sep)}},-</span>&nbsp;
{% endif %}

{% if product.price > 0 %}
    {% if product.priceType == 1 and product.oldPrice %}
        <span class="NyPris">{{'New price from:'|trans}}
    {% elseif product.priceType == 2 and product.oldPrice %}
        <span class="NyPris">{{'Used:'|trans}}
    {% elseif product.priceType == 1 %}
        {{'Price from:'|trans}} <span class="Pris">
    {% elseif product.priceType == 2 %}
        {{'Used:'|trans}} <span class="Pris">
    {% elseif product.oldPrice %}
        <span class="NyPris">{{'Now:'|trans}}
    {% else %}
        {{'Price:'|trans}} <span class="Pris">
    {% endif %}
    {{product.price|number_format(0, localeconv.mon_decimal_point, localeconv.mon_thousands_sep)}},-</span>
{% elseif product.price < 0 %}
    <span class="Pris">{{'Sold-out'|trans}}</span>
{% endif %}
