/* set edit elements to match onsite content */

.nypris {
    color: #CC0000;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 125%;
}
.pris {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: bold;
}
.xpris {
    color: #666666;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: line-through;
}
.admin_name {
    color: #333333;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}
#beskrivelse {
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
}
