body {
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
}
img {
    border: 0;
}
a {
    color: #000000;
}
.nypris {
    color: #CC0000;
    font-size: 16px;
    font-weight: bold;
    line-height: 125%;
}
.pris {
    font-size: 15px;
    font-weight: bold;
}
.xpris {
    color: #666666;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: line-through;
}
.gray {
    background-color: #d4d0c8;
}
