@charset "utf-8";
html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#text {
    font-family: "Times New Roman", Times, serif;
}
body {
    background-color: #c5c5c5;
    margin: 0;
}
#date {
    display: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
a {
    color: #000000;
}
.bar {
    clear: both;
}
.bar ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 760px;
}
.bar a,
.bar li {
    display: inline-block;
}
.bar * {
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
}
.bar a:hover {
    text-shadow: 0 0 4px #555;
}
.bar img {
    max-height: 15px;
    vertical-align: text-top;
}
#submenu img {
    margin: 0 2px;
}
input {
    border-color: #3C3C3C;
    border-style: solid;
    font-size: 13px;
}
.liste {
    margin: 4px auto;
    padding: 0 6px;
    width: 100%;
}
.liste td {
    vertical-align: top;
}
.liste .vare {
    background-color: #FFFFFF;
    border: 2px solid #999999;
    font-size: 13px;
    margin: 4px auto;
    width: 250px;
}
.liste .vare h2 {
    background-color: #d4d0c8;
    border-bottom: 2px solid #999999;
    margin: 0;
    text-align: center;
    width: 250px;
}
.liste .vare h2 a {
    font-size: 17px;
    text-decoration: none;
}
.laemere {
    float: left;
    margin: 5px 0 0 5px;
}
#menu,
#content {
    background-image: url('/theme/arms-gallery.dk/images/bg.jpg');
    overflow: auto;
    overflow-y: scroll;
}
#menu {
    height: 100%;
    width: 177px;
}
#menu a {
    display: block;
    font-size: 12px;
    margin: auto;
    overflow: hidden;
    padding: 3px;
    text-decoration: none;
    width: 148px;
}
#menu .active {
    background-color: #999999;
}
#menu a:hover {
    background-color: #BBBBBB;
}
#menu .main,
#menu .main_active {
    background-color: #5a5a5a;
    background-image: url('/theme/arms-gallery.dk/images/button.gif');
    background-position: top;
    background-repeat: no-repeat;
    color: #BBBBBB;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: auto;
    padding: 2px 3px;
    text-decoration: none;
    width: 148px;
}
#menu .main:hover,
#menu .main_active {
    color: #EEEEEE;
}
h1 {
    color: #333333;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: block;
}
#headder {
    background-color: #FFFFFF;
}
#headder div {
    margin: 0 auto;
    padding: 10px;
    width: 760px;
}
#headder form {
    float: right;
}
#headder form a {
    text-decoration: none;
}
#crumb li,
#crumb a {
    color: #5a5a5a;
}
#crumb li {
    padding-right: 4px;
}
#crumb a:hover {
    color: #000;
}
#crumb,
#cart {
    background-image: url('/theme/arms-gallery.dk/images/bar.gif');
}
#submenu {
    background-image: url('/theme/arms-gallery.dk/images/bar2.gif');
}
#submenu ul {
    text-align: center;
}
#container {
    background-color: #c5c5c5;
    bottom: 0;
    position: absolute;
    top: 93px;
    width: 100%;
}
#container2 {
    height: 100%;
    margin: auto;
    width: 760px;
}
#container3 {
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 760px;
}
#container4 {
    float: right;
    height: 100%;
    width: 583px;
}
#text,
#innercontainer {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    margin: 8px auto;
    padding: 10px;
    width: 525px;
}
#text,
#innercontainer,
#innercontainer table,
#text table {
    font-size: 13px;
}
#krav {
    display: block;
    float: right;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
#spar {
    background-image: url('/theme/arms-gallery.dk/images/spar.jpg');
    float: left;
    font-size: 17px;
    font-weight: bold;
    height: 83px;
    padding-left: 7px;
    padding-top: 39px;
    text-align: center;
    width: 112px;
}
.NyPris {
    color: #CC0000;
    font-size: 16px;
    font-weight: bold;
    line-height: 125%;
}
.Pris {
    font-size: 15px;
    font-weight: bold;
}
.XPris {
    color: #666666;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: line-through;
}
#content {
    background-position: top;
    bottom: 57px;
    position: absolute;
    right: 0;
    top: 0;
    width: 583px;
}
#footer,
.note {
    color: #333333;
    font-size: 11px;
}
#footer {
    background-color: #FFFFFF;
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 583px;
}
#footer span {
    font-size: 9px;
}
.gray {
    background-color: #d4d0c8;
}
marquee {
    background-color: #aaaaaa;
    border: #000000 solid 1px;
    bottom: 37px;
    height: 18px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 581px;
}
marquee p {
    margin: 0;
    padding: 0;
}
.tabel {
    clear: both;
    font-size: 12px;
    width: 100%;
}
.tabel * {
    color: #000000;
    font-size: 12px;
    padding: 1px;
}
.tabel thead {
    background-color: #999999;
}
.tabel a {
    color: #000000;
    font-weight: bold;
}
.altrow {
    background-color: #cccccc;
}
#faktura {
    border-collapse: collapse;
    width: 100%;
}
#faktura td {
    padding: 1px 3px;
}
#faktura thead td {
    font-weight: bold;
    vertical-align: middle;
}
#faktura thead td,
#faktura .border td {
    border: 1px #000000 solid;
}
#faktura tbody td,
#faktura tfoot td {
    border-left: 1px #000000 solid;
    border-right: 1px #000000 solid;
    white-space: nowrap;
}
#faktura .border td {
    border-top: 2px #000000 solid;
}
#faktura .td1 {
    width: 1%;
}
#faktura .td3,
#faktura .td4 {
    width: 64px;
}
.addtocart {
    text-align: center;
    width: 16px;
}
.tal {
    text-align: right;
}
#burger,
#basket {
    display: none;
}
@media only screen and (max-width: 779px) {
    #logo,
    .notmobile,
    #cart {
        display: none;
    }
    #burger,
    #basket {
        display: inline-block;
        padding: 7px 0;
        vertical-align: bottom;
    }
    #burger {
        float: left;
    }
    #basket {
        float: right;
    }
    #searchbox {
        margin: 10px 0;
        width: calc(100% - 95px);
        /* button is 42 but iPhones need more space */
    }
    #crumb {
        background: #ddd;
    }
    #crumb li,
    #crumb a {
        color: #999;
    }
    #submenu {
        background-image: none;
    }
    .bar a {
        padding: 4px;
    }
    input {
        font-size: 15px;
    }
    img,
    iframe,
    video,
    audio {
        max-width: 100%;
    }
    img,
    video {
        height: auto;
    }
    body {
        margin-top: 44px;
    }
    #headder {
        background: #fff;
        height: 44px;
        position: fixed;
        top: 0;
        width: 100%;
    }
    #headder form,
    #container4 {
        float: none;
    }
    #headder form {
        display: inline;
    }
    .bar ul {
        width: auto;
    }
    #submenu ul {
        text-align: left;
    }
    #container {
        position: static;
    }
    #container2 {
        width: auto;
    }
    #container3 {
        height: auto;
        position: static;
        width: auto;
    }
    #container4 {
        height: auto;
        width: auto;
    }
    #content {
        overflow: visible;
        position: static;
        width: auto;
    }
    #text,
    #innercontainer {
        border: 0 none;
        margin: auto;
        padding: 2px;
        width: auto;
    }
    marquee {
        border: 1px solid #000000;
        border-left: 0 none;
        border-right: 0 none;
        position: static;
        width: auto;
    }
    #headder div {
        padding: 2px;
        text-align: center;
        width: auto;
    }
    #menu {
        background: #333;
        background: rgba(0, 0, 0, 0.8);
        height: 100%;
        left: -100%;
        position: fixed;
        top: 0;
        transition: left 0.3s ease-in;
        width: 100%;
    }
    #menu a,
    #menu .main,
    #menu .main_active {
        background-image: none;
        font-size: 16px;
        margin: 2px 0;
        width: 50%;
    }
    #menu a {
        background-color: #CCCCCC;
    }
    #footer {
        position: static;
        width: auto;
    }
    .liste {
        margin: auto;
        width: 100%;
    }
    .liste * {
        width: auto;
    }
    .liste td {
        display: block;
        padding: 0;
        width: 100%;
    }
    .liste .vare {
        margin: 10px 0;
        width: 100%;
    }
    .liste .vare h2 {
        width: 100%;
    }
    .liste .vare h2 div a img {
        margin: 5px auto;
    }
}
@media only print {
    #headder form,
    .web {
        display: none;
    }
    .print {
        /*not valid :(*/

        display: auto;
    }
    #menu,
    #content,
    #footer,
    marquee,
    container,
    container {
        bottom: auto;
        height: auto;
        overflow: visible;
        overflow-x: visible;
        overflow-y: visible;
        position: static;
    }
}
