@charset "utf-8";

* {
    font-family:"Times New Roman", Times, serif;
}

body {
    margin:0;
    background-color:#c5c5c5;
}

#date {
    display:none;
}

img {
    border:0;
    -ms-interpolation-mode:bicubic;
}

a {
    color:#000000;
}

.bar {
    clear:both;
}

.bar ul {
    width:760px;
    margin:0 auto;
    list-style:none;
    padding:0;
}

.bar a, .bar li {
    display:inline-block;
}

.bar * {
    text-decoration:none;
    font-size:13px;
    font-weight:bold;
    line-height:16px;
}

.bar a:hover {
    text-shadow: 0 0 4px #555;
}

.bar img {
    vertical-align:text-top;
    max-height:15px;
}

#submenu img {
    margin:0 2px;
}

input {
    border-color:#3C3C3C;
    border-style:solid;
    font-size:13px;
}

.liste {
    padding:0 6px;
    width:100%;
    margin:4px auto;
}

.liste td {
    vertical-align:top;
}

.liste .vare {
    background-color:#FFFFFF;
    border:2px solid #999999;
    width:250px;
    margin:4px auto;
    font-size:13px;
}

.liste .vare h2 {
    text-align:center;
    width:250px;
    border-bottom:2px solid #999999;
    margin:0;
    background-color:#d4d0c8;
}

.liste .vare h2 a {
    font-size: 17px;
    font-family: 'Times New Roman',Times,serif;
    text-decoration: none;
}

.laemere {
    margin:5px 0 0 5px;
    float:left;
}

#menu {
    width:177px;
    background-image:url('/theme/arms-gallery.dk/images/bg.jpg');
    height:100%;
    overflow:auto;
    overflow-y:scroll;
}

#headder, #headder *, .bar, .bar *, #menu, #menu *, #footer, #footer *, marquee, marquee * {
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

#menu a {
    width:148px;
    margin:auto;
    overflow:hidden;
    display:block;
    font-size:12px;
    padding:3px;
    text-decoration:none;
}

#menu a.active {
    background-color:#999999;
}

#menu a:hover {
    background-color:#BBBBBB;
}

#menu a.main, #menu a.main_active {
    background-image:url('/theme/arms-gallery.dk/images/button.gif');
    background-color:#5a5a5a;
    background-repeat:no-repeat;
    background-position:top;
    display:block;
    width:148px;
    margin:auto;
    color:#BBBBBB;
    font-weight:bold;
    font-size:13px;
    padding:2px 3px;
    text-decoration:none;
}

#menu a.main:hover, #menu a.main_active {
    color:#EEEEEE;
}

h1 {
    font-size:17px;
    font-weight:bold;
    color:#333333;
    font-family:"Times New Roman", Times, serif;
    margin:0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

#headder {
    background-color:#FFFFFF;
}

#headder div {
    width:760px;
    margin:0px auto;
    padding:10px;
}

#headder form {
    float:right;
}

#headder form a {
    text-decoration: none;
}

#crumb li, #crumb a {
    color: #5a5a5a;
}

#crumb li {
    padding-right: 4px;
}

#crumb a:hover {
    color: #000;
}

#crumb, #cart {
    background-image:url('/theme/arms-gallery.dk/images/bar.gif');
}

#submenu {
    background-image:url('/theme/arms-gallery.dk/images/bar2.gif');
}

#submenu ul {
    text-align:center;
}

#container {
    background-color:#c5c5c5;
    position:absolute;
    bottom:0px;
    width:100%;
    top:93px;
}

#container2 {
    height:100%;
    width:760px;
    margin:auto;
}

#container3 {
    width:760px;
    margin:0 auto;
    height:100%;
    position:absolute;
}

#container4 {
    float:right;
    width:583px;
    height:100%;
}

#text, #innercontainer {
    width:525px;
    border:1px solid #999999;
    margin:8px auto;
    background-color:#FFFFFF;
    padding:10px;
}

#text, #innercontainer, #innercontainer table, #text table {
    font-size:13px;
    font-family:"Times New Roman", Times, serif;
}

#krav {
    display:block;
    float:right;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
}

#spar {
    width:112px;
    height:83px;
    padding-top:39px;
    padding-left:7px;
    background-image:url('/theme/arms-gallery.dk/images/spar.jpg');
    font-size:17px;
    font-weight:bold;
    text-align:center;
    float:left;
}

.nypris {
    font-size:16px;
    font-weight:bold;
    color:#CC0000;
    line-height:125%;
}

.pris {
    font-size:15px;
    font-weight:bold;
}

.xpris {
    font-size:14px;
    font-weight:lighter;
    color:#666666;
    text-decoration:line-through;
}

#content {
    overflow:auto;
    overflow-y:scroll;
    background-image:url('/theme/arms-gallery.dk/images/bg.jpg');
    background-position:top;
    position:absolute;
    bottom:57px;
    top:0px;
    right:0px;
    width:583px;
}

#footer, .note {
    font-size: 11px;
    color:#333333
}

#footer {
    text-align:center;
    background-color:#FFFFFF;
    position:absolute;
    bottom:0px;
    right:0px;
    width:583px;
}

#footer span {
    font-size: 9px;
}

.gray {
    background-color:#d4d0c8;
}

marquee {
    text-align:center;
    background-color:#aaaaaa;
    position:absolute;
    bottom:37px;
    right:0px;
    width:581px;
    height:18px;
    border:#000000 solid 1px;
}

.imgright {
    padding: 0pt 0pt 10px 10px;
    float: right;
}

.imgleft {
    padding: 0pt 10pt 10px 0px;
    float: left;
}

.tabel {
    font-size:12px;
    width:100%;
    clear:both;
}

.tabel * {
    font-size:12px;
    color:#000000;
    padding:1px;
}

.tabel thead {
    background-color:#999999;
}

.tabel a {
    font-weight:bold;
    color:#000000;
}

.altrow {
    background-color:#cccccc;
}

#faktura {
    width:100%;
    border-collapse:collapse;
}

#faktura td {
    padding:1px 3px;
}

#faktura thead td {
    vertical-align:middle;
    font-weight:bold;
}

#faktura thead td, #faktura .border td {
    border:1px #000000 solid;
}

#faktura tbody td, #faktura tfoot td {
    border-right:1px #000000 solid;
    border-left:1px #000000 solid;
    white-space:nowrap;
}

#faktura .border td {
    border-top:2px #000000 solid;
}

#faktura .td1 {
    width:1%;
}

#faktura .td3, #faktura .td4 {
    width:64px;
}

.addtocart {
    width:16px;
    text-align:center;
}

.tal {
    text-align:right;
}

#burger, #basket {
    display: none;
}
@media only screen and (max-width: 779px) {
    #logo, .notmobile, #cart {
        display: none;
    }
    #burger, #basket {
        display: inline-block;
        vertical-align: bottom;
        padding: 7px 0px;
    }
    #burger {
        float: left;
    }
    #basket {
        float: right;
    }
    #searchbox {
        width: calc(100% - 95px); /* button is 42 but iPhones need more space */
        margin: 10px 0;
    }
    #crumb {
        background: #ddd;
    }
    #crumb li, #crumb a {
        color: #999;
    }
    #submenu {
        background-image: none;
    }
    .bar a {
        padding: 4px;
    }
    input {
        font-size: 15px;
    }
    img, iframe, video, audio {
        max-width:100%;
    }
    img, video {
        height: auto;
    }

    body {
        margin-top: 44px;
    }
    #headder {
        position: fixed;
        width: 100%;
        background: #fff;
        top: 0;
        height: 44px;
    }

    #headder form, #container4 {
        float:none;
    }

    #headder form {
        display: inline;
    }

    .bar ul {
        width:auto;
    }

    #submenu ul {
        text-align:left;
    }

    #container {
        position:static;
    }

    #container2 {
        width:auto;
    }

    #container3 {
        height:auto;
        width:auto;
        position:static;
    }

    #container4 {
        height:auto;
        width:auto;
    }

    #content {
        overflow:visible;
        width:auto;
        position:static;
        width:auto;
        bottom:
    }

    #text, #innercontainer {
        width:auto;
        padding:2px;
        margin:auto;
        border:0 none;
    }

    marquee {
        position:static;
        width:auto;
        border:1px solid #000000;
        border-left:0 none;
        border-right:0 none;
    }

    #headder div {
        width:auto;
        padding:2px;
        text-align: center;
    }

    #menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        transition: left 0.3s ease-in;
    }
    #menu a, #menu a.main, #menu a.main_active {
        background-image: none;
        width: 50%;
        margin: 2px 0;
        font-size: 16px;
    }
    #menu a {
        background-color:#CCCCCC;
    }

    #footer {
        position:static;
        width:auto;
    }

    .liste {
        width:100%;
        margin:auto;
    }

    .liste * {
        width:auto;
    }

    .liste td {
        display:block;
        width:100%;
        padding:0;
    }

    .liste .vare {
        width:100%;
        margin:10px 0;
    }

    .liste .vare h2 {
        width:100%;
    }

    .liste .vare h2 div a img {
        margin:5px auto;
    }

    .imgright, .imgleft {
        padding:0;
        margin:auto;
        display:block;
        float:none;
    }
}

@media only print {
    #headder form, .web {
        display:none;
    }

    .print {
        /*not valid :(*/
        display:auto;
    }

    #menu, #content, #footer, marquee, container, container {
        height:auto;
        overflow:visible;
        overflow-x:visible;
        overflow-y:visible;
        bottom:auto;
        position:static;
    }
}
