<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="style/style.css" />
        <link rel="stylesheet" type="text/css" href="/theme/admin.css" />
        <link rel="stylesheet" type="text/css" href="style/calendar.css" />
        <link rel="stylesheet" type="text/css" href="style/faktura.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="style/mainmenu.css" />
        <link rel="stylesheet" type="text/css" href="style/proto.menu.css" media="screen" />
        <script type="text/javascript" src="javascript/lib/php.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>
        <script type="text/javascript" src="javascript/lib/protomenu/proto.menu.js"></script>
        <script type="text/javascript" src="javascript/javascript.js"></script>
        <script type="text/javascript" src="/javascript/sajax.js"></script>
        <script type="text/javascript" src="javascript/index.js"></script>
        <script type="text/javascript" src="javascript/list.js"></script>
        <script type="text/javascript" src="/javascript/zipcodedk.js"></script>
        <script type="text/javascript" src="javascript/calendar.js"></script>
        <script type="text/javascript" src="javascript/invoice.js"></script>
        <!-- RTEF -->
        <script type="text/javascript" src="rtef/lang/dk.js"></script>
        <script type="text/javascript" src="rtef/xhtml.js"></script>
        <script type="text/javascript" src="rtef/richtext.js"></script>
        <script type="text/javascript"><!--
        {{javascript|raw}}
        --></script>
    </head>
    <body onload="init()">
        <div id="canvas">{% block canvas %}{% endblock %}</div>
        <div id="mainmenu">
            <a class="menuboxheader" onclick="showhide('Activity');">Handlinger</a>
            <ul id="Activity"{% if hide.activity %} style="display:none"{% endif %}>
                {% block actions %}{% endblock %}
                <li id="loading" style="cursor:default;"><img src="images/loading.gif" width="16" height="16" alt="Processing" /> Loading</li>
                <li><a href="./logout.php"><img src="images/door_in.png" width="16" height="16" alt="" /> Log out</a></li>
            </ul>
            <a class="menuboxheader" onclick="showhide('Indhold');">Indhold</a>
            <ul id="Indhold"{% if hide.indhold %} style="display:none"{% endif %}>
                <li><a href="./?side=redigerside"><img src="images/page_add.png" width="16" height="16" alt="" /> Create page</a></li>
                <li><a href="./?side=redigerkat"><img src="images/folder_add.png" width="16" height="16" alt="" /> Create category</a></li>
                <li><a href="./?side=getSiteTree"><img src="images/book_open.png" width="16" height="16" alt="" /> Overview</a></li>
                <li><a href="#" onclick="return jumpto()"><img src="images/book_go.png" width="16" height="16" alt="" /> Skip to page</a>
                <form onsubmit="jumpto(); return false;" action="" method="get"><input style="width:1px; height:1px; position:absolute; top: -20px; left:-20px;" type="submit" accesskey="g" />
                    <p style="display:inline"><input style="width:30px;" id="jumptoid" name="id" /></p>
                </form>
                </li>
                <li><a href="#" onclick="return sogsearch()"><img src="images/find.png" width="16" height="16" alt="" /> Search</a>
                    <form onsubmit="sogsearch(); return false;" action="" method="get"><input style="width:1px; height:1px; position:absolute; top: -20px; left:-20px;" type="submit" accesskey="f" />
                        <p style="display:inline"><input style="width:91px;" id="sogtext" name="text" /><input type="hidden" name="side" value="search" /></p>
                    </form>
                </li>
            </ul>
            <a class="menuboxheader" onclick="showhide('Suplemanger');">Lists</a>
            <ul id="Suplemanger"{% if hide.suplemanger %} style="display:none"{% endif %}>
                <li><a href="./?side=krav"><img src="images/page_white_key.png" width="16" height="16" alt="" /> Requirements</a></li>
                <li><a href="./?side=maerker"><img src="images/page_white_medal.png" width="16" height="16" alt="" /> Brands</a></li>
                <li><a href="./?side=listsort"><img src="images/shape_align_left.png" width="16" height="16" alt="" /> List sorting</a></li>
            </ul>
            <a class="menuboxheader" onclick="showhide('Tools');">Tools</a>
            <ul id="Tools"{% if hide.tools %} style="display:none"{% endif %}>
                <li><a onclick="explorer('','');"><img src="images/folder_page_white.png" width="16" height="16" alt="" /> Open file manager</a></li>
                <li><a href="./?side=emaillist"><img src="images/email.png" width="16" height="16" alt="" /> Newsletters</a></li>
                <li><a href="./?side=addressbook"><img src="images/book_addresses.png" width="16" height="16" alt="" /> Address Book</a></li>
                <li><a href="./?side=sogogerstat"><img src="images/page_white_find.png" width="16" height="16" alt="" /> Find and replace</a></li>
                <li><a href="./?side=get_db_error"><img src="images/database_error.png" width="16" height="16" alt="" /> Maintenance</a></li>
                <li><a href="users.php"><img src="images/group_edit.png" width="16" height="16" alt="" /> Users and Groups</a></li>
                <li><a href="katalog-lables.php"><img src="images/printer.png" width="16" height="16" alt="" /> Catalog labels</a></li>
                <li><a href="listview.php"><img src="images/book_open.png" width="16" height="16" alt="" /> Pris liste</a></li>
                <li><a href="fakturas.php"><img src="images/table_multiple.png" width="16" height="16" alt="" /> Invoices</a></li>
            </ul>
        </div>
    </body>
</html>
