<?xml version="1.0" encoding="utf-8"?>
<products>
    {% for product in products %}
    <product>
        <sku>{{product.sku}}</sku>
        <title>{{product.title}}</title>
        <price>{{product.price}}</price>
        <img>{{product.imageUrl}}</img>
        <link>{{product.link}}</link>
        {% if manufacture %}<company>{{product.company}}</company>{% endif %}
        {% if manufactureSku %}<companysku>{{product.manufactureSku}}</companysku>{% endif %}
        <category>{{product.categories|join(' > ')}}</category>
    </product>
    {% endfor %}
</products>
