{% extends "index.html" %}

{% block content %}
<div id="innercontainer"><div id="date">{{timeStamp|date('d-m-Y H:i:s')}}</div>
    <h1>
        {{page.title}}
        {% if page.sku %} <span style="font-weight:normal; font-size:13px">SKU: {{page.sku}}</span>{% endif %}
    </h1>
    {{content|raw}}
    {% if page.requirement %}<p><a href="{{page.requirement.canonicalLink}}" target="krav">{{page.requirement.title}}</a></p>{% endif %}
    <p style="text-align:center">
        {% include 'price.html' with {'product': page} %}
        {% if product.price and not hasProductList %}<a href="/bestilling/?add={{pageId}}">+ Add to shopping cart</a>{% endif %}
        <br />
    </p>
</div>

{% if page.activeAccessories %}
<p align="center" style="clear:both">Accessories</p>
{% include 'productTiles.html' with {'products': page.activeAccessories} %}
{% endif %}

{% if brand %}
<p align="center" style="clear:both">View other product from the same brand</p>
<a href="{{brand.canonicalLink}}">
    {{brand.title}}
    {% if brand.icon %}
    <br />
    <img src="{{brand.icon.patj}}" alt="" />
    {% endif %}
</a>
{% endif %}
{% endblock %}
