@charset "utf-8";
.printblock {
	display:block;
}
.printinline, #warning span {
	display:inline;
}
#data td {
	vertical-align:bottom;
	padding:1pt 3pt;
}
.web {
	display:none;
}
#postadressetd {
	text-align:left;
}
.td1 {
	width:2cm;
}
.td2 {
	width:10.7cm;
}
.td3 {
	width:2.5cm;
}
.td4 {
	width:3cm;
}
.faktura {
	position: absolute;
	right: 0pt;
	top: -7mm;
}
#postadresse {
	margin-top:9mm;
	margin-left:2mm;
	width:8.1cm;
	height:2.9cm;
	font-size:11pt;
}
#postadresse td {
	vertical-align:middle;
}
#wrapper {
	left:6mm;
	top:3mm;
	width:18.2cm;
}
#spec {
	position:absolute;
	top:7cm;
}
#border td {
	vertical-align:middle;
}
#fakturadiv {
	position:absolute;
	right:0;
	top:1mm;
}
#data {
	height:12cm;
}
tr {
	height:6mm;
	min-height:6mm;
	max-height:6mm;
}

