@charset "utf-8";

body, table {
	font-size:10pt;
}
#menu {
	background-color:#CCCCCC;
	float:left;
	width:100px;
	padding:10px;
	height:100%;
	position:fixed;
	left:0;
	top:0;
}
#wrapper {
	position:absolute;
	left:128px;
	top:0;
}
h1 {
	border-bottom:1.5pt #000000 solid;
	padding-bottom:10px;
	font-size:35.5pt;
	width:13.5cm;
	margin-top:0;
}
address {
	border-left:1.5pt #000000 solid;
	position:absolute;
	top:0;
	left:13.7cm;
	text-align:right;
	font-size:10pt;
	font-style:normal;
	padding-left:8mm;
}
#data {
	border-collapse:collapse;
}
#data tbody td, #data tfoot td {
	border-right:1pt #000000 solid;
	border-left:1pt #000000 solid;
}
#data thead td {
	vertical-align:middle;
}
#data thead td, #border td {
	border:1pt #000000 solid;
}
.tal {
	text-align:right;
}
.printblock, .printinline {
	display:none;
}
img {
	border:0;
}
p {
	margin:0;
}
#border td {
	border-top:1.5pt #000000 solid;
	vertical-align:middle;
}
#ref {
	margin-top:20px;
}
#ref span {
	padding-right:7mm;
}
#payamount {
	font-size:12pt;
}
.faktura {
	font-size: 30px;
}
.td1 {
	width:58px;
}
.td2 {
	width:303px;
}
.td3 {
	width:69px;
}
.td4 {
	width:80px;
}
#fakturadiv {
	font-size:30px;
}
#wrapper input {
	border:1px #999999 dashed;
}
#warning span {
	display:none;
}