{% extends "admin-index.html" %}

{% block canvas %}
<div id="headline">Find and replace</div>
<form onsubmit="sogogerstat(document.getElementById('sog').value,document.getElementById('erstat').value,inject_html); return false;">
    <img src="/admin/images/error.png" width="16" height="16" alt="" /> This function affects all pages.
    <table cellspacing="0">
        <tr>
            <td>Find: </td>
            <td><input id="sog" style="width:256px;" maxlength="64" /></td>
        </tr>
        <tr>
            <td>Replace: </td>
            <td><input id="erstat" style="width:256px;" maxlength="64" /></td>
        </tr>
    </table>
    <br />
    <br />
    <input value="Find and replace" type="submit" accesskey="r" />
</form>
{% endblock %}
