{% extends "admin-index.html" %}

{% block actions %}
{% if invoice.status == 'pbsok' %}
<li>
    <a onclick="pbsconfirm({{invoice.id}})"><img src="images/money.png" alt="" width="16" height="16" /> Expedite</a>
</li>
<li><a onclick="annul({{invoice.id}})"><img src="images/bin.png" alt="" width="16" height="16" /> Reject</a></li>
{% endif %}
<li><a onclick="save({{invoice.id}})"><img src="images/table_save.png" alt="" width="16" height="16" /> Save</a></li>
{% if invoice.status == 'new' %}
<li><a onclick="save({{invoice.id}}, 'lock')"><img src="images/lock.png" alt="" width="16" height="16" /> Lock</a></li>
{% else %}
<li>
    <a href="faktura-pdf.php?id={{invoice.id}}">
        <img height="16" width="16" title="" src="images/printer.png"/> Print
    </a>
</li>
{% endif %}
<li><a onclick="newfaktura();"><img src="images/table_add.png" alt="" width="16" height="16" /> Create new</a></li>
<li>
    <a onclick="copytonew({{invoice.id}})">
        <img src="images/table_multiple.png" alt="" width="16" height="16" /> Copy to new
    </a>
</li>
{% if invoice.status not in ['canceled', 'pbsok', 'accepted', 'giro', 'cash'] %}
<li>
    <a onclick="save({{invoice.id}}, 'cancel')"><img src="images/bin.png" alt="" width="16" height="16" /> Cancel</a>
</li>
{% endif %}
{% if invoice.status not in ['giro', 'cash', 'pbsok', 'accepted', 'canceled', 'rejected'] %}
{% if not invoice.sent %}
<li id="emaillink"{% if not invoice.hasValidEmail %} style="display:none;"{% endif %}>
    <a onclick="save({{invoice.id}}, 'email')">
        <img height="16" width="16" title="Send to customer" alt="" src="images/email_go.png"/> Send
    </a>
</li>
{% else %}
<li>
    <a onclick="sendReminder({{invoice.id}})">
        <img height="16" width="16" alt="" src="images/email_go.png"/> Send reminder!
    </a>
</li>
{% endif %}
{% endif %}
{% endblock %}

{% block canvas %}
<div id="headline">{{title}}</div>
<table style="float:right;">
    {% if invoice.status not in ['giro', 'cash', 'accepted', 'canceled', 'pbsok'] %}
    <tr>
        <td><input type="button" value="Paid via giro" onclick="save({{invoice.id}}, 'giro');" /></td>
        <td>
            <input maxlength="10" name="gdate" id="gdate" size="11" value="{{time|date('d-m-Y')}}" />
            <script type="text/javascript"><!--
            new tcal({'controlid': 'gdate'});
            --></script>
        </td>
    </tr>
    <tr>
        <td><input type="button" value="Paid in cash" onclick="save({{invoice.id}}, 'cash');" /></td>
        <td>
            <input maxlength="10" name="cdate" id="cdate" size="11" value="{{time|date('d-m-Y')}}" />
            <script type="text/javascript"><!--
            new tcal({'controlid': 'cdate'});
            --></script>
        </td>
    </tr>
    {% endif %}
    {% if invoice.status == 'accepted' %}
    <tr>
        <td><input type="button" value="Krediter beløb:" /></td>
        <td><input value="0,00" size="9" /></td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="2">
            <p><strong>Note:</strong></p>
            <p class="note" style="width:350px">
                {% if invoice.status != 'new' %}{{invoice.note|nl2br}}{% endif %}
            </p>
            <textarea style="width:350px" name="note" id="note" rows="{% if invoice.status == 'new' %}{{invoice.note|split('\n')|length + 2}}{% else %}2{% endif %}">{% if invoice.status == 'new' %}{{invoice.note}}{% endif %}</textarea>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>ID:</td>
        <td>{{invoice.id}}</td>
    </tr>
    <tr>
        <td>eCode:</td>
        <td>{{invoice.checkId}}</td>
    </tr>
    <tr>
        <td>Status:</td>
        <td>
            {% if invoice.status == 'new' %}
            Newly created
            {% elseif invoice.status == 'locked' and invoice.sent %}
            Is sent to the Customer.
            {% elseif invoice.status == 'locked' %}
            Locked for editing
            {% elseif invoice.status == 'pbsok' %}
            Ready to expedite
            {% elseif invoice.status == 'accepted' %}
            Paid online
            {% if invoice.timeStampPay %}
            d. {{invoice.timeStampPay|date('d-m-Y')}}
            {% endif %}
            {% elseif invoice.status == 'giro' %}
            Paid via giro
            {% if invoice.timeStampPay %}
            d. {{invoice.timeStampPay|date('d-m-Y')}}
            {% endif %}
            {% elseif invoice.status == 'cash' %}
            Paid in cash
            {% if invoice.timeStampPay %}
            d. {{invoice.timeStampPay|date('d-m-Y')}}
            {% endif %}
            {% elseif invoice.status == 'pbserror' %}
            An error occurred
            {% elseif invoice.status == 'canceled' %}
            Canceled
            {% elseif invoice.status == 'rejected' %}
            Payment declined
            {% else %}
            Does not exist in the system
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Recived:</td>
        <td>
            {% if invoice.transferred %}Yes{% else %}No{% endif %}
            {% if currentUser.accessLevel == 1 and invoice.transferred %}
            (<a href="fakturasvalidate.php?undoid={{invoice.id}}">Remove</a>)
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Oprettet:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input maxlength="10" name="date" id="date" size="11" value="{{invoice.timestamp|date('d-m-Y')}}" />
            <script type="text/javascript"><!--
            new tcal({'controlid': 'date'});
            --></script>
            {% else %}
                {{invoice.timestamp|date('d-m-Y')}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Ansvarlig:</td>
        <td>
            {% if currentUser.accessLevel == 1 and users|length > 1 and invoice.status not in ['giro', 'cash', 'accepted', 'canceled'] %}
            <select name="clerk" id="clerk">
                <option value="">No one</option>
                {% for user in users %}
                <option value="{{user.fullName}}"{% if invoice.clerk == user.fullName or (not invoice.clerk and currentUser.fullname == user.fullName) %} selected="selected"{% endif %}>
                    {{user.fullName}}
                </option>
                {% endfor %}
            </select>
            {% else %}
            {% if invoice.clerk or invoice.isFinalized %}{{invoice.clerk}}{% else %}{{currentUser.fullname}}{% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Afdeling:</td>
        <td>
            {% if invoice.status not in ['giro', 'cash', 'accepted', 'canceled'] %}
            {% if departments|length > 1 %}
            <select name="department" id="department">
                <option value=""{% if not invoice.department %} selected="selected"{% endif %}>Ikke valgt</option>
                {% for department in departments %}
                <option{% if invoice.department == department %} selected="selected"{% endif %}>{{department}}</option>
                {% endfor %}
            </select>
            {% else %}
            {{departments|first}}<input name="department" id="department" type="hidden" value="{{departments|first}}" />
            {% endif %}
            {% else %}
            {{invoice.department}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Our ref.:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="iref" id="iref" value="{{invoice.iref}}" />
            {% else %}
            {{invoice.iref}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Their ref.:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="eref" id="eref" value="{{invoice.eref}}" />
            {% else %}
            {{invoice.eref}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"><strong>Faktureringsadressen:</strong></td>
    </tr>
    <tr>
        <td>Phone 1:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="tlf1" id="tlf1" value="{{invoice.phone1}}" />
            <input type="button" value="Hent" onclick="getAddress($('tlf1').value);" />
            {% else %}
            {{invoice.phone1}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Phone 2:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="tlf2" id="tlf2" value="{{invoice.phone2}}" />
            <input type="button" value="Hent" onclick="getAddress($('tlf2').value);" />
            {% else %}
            {{invoice.phone2}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="email" id="email" onchange="valideMail();" onkeyup="valideMail();" value="{{invoice.email}}" />
            {% else %}
            <a href="mailto:{{invoice.email}}">{{invoice.email}}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="navn" id="navn" value="{{invoice.name}}" />
            {% else %}
            {{invoice.name}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Attn.:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="att" id="att" value="{{invoice.att}}" />
            {% else %}
            {{invoice.att}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="adresse" id="adresse" value="{{invoice.address}}" />
            {% else %}
            {{invoice.address}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Postbox:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="postbox" id="postbox" value="{{invoice.postbox}}" />
            {% else %}
            {{invoice.postbox}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Zipcode:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="postnr" id="postnr" value="{{invoice.postcode}}" onblur="chnageZipCode(this.value, 'land', 'by')" onkeyup="chnageZipCode(this.value, 'land', 'by')" onchange="chnageZipCode(this.value, 'land', 'by')" />
            City:
            <input name="by" id="by" value="{{invoice.city}}" />
            {% else %}
            {{invoice.postcode}} City: {{invoice.city}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>
            {% if invoice.status == 'new' %}
            <select name="land" id="land" onblur="chnageZipCode($('postnr').value, 'land', 'by')" onkeyup="chnageZipCode($('postnr').value, 'land', 'by')" onchange="chnageZipCode($('postnr').value, 'land', 'by')">
                <option value=""{% if not invoice.country %} selected="selected"{% endif %}></option>
                {% for code, country in countries %}
                <option value="{{code}}"{% if invoice.country == code %} selected="selected"{% endif %}>
                    {{country}}
                </option>
                {% endfor %}
            </select>
            {% else %}
            {{countries[invoice.country]}}
            {% endif %}
        </td>
    </tr>
    {% if invoice.hasShippingAddress or invoice.status == 'new' %}
    <tr>
        <td colspan="2">
            {% if invoice.status == 'new' %}
            <input onclick="showhidealtpost(this.checked);" name="altpost" id="altpost" type="checkbox"{% if invoice.hasShippingAddress %} checked="checked"{% endif %} />
            {% endif %}
            <label for="altpost"> <strong>Other delivery address</strong></label>
        </td>
    </tr>
    {% endif %}
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
        <td>Tlf:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="posttlf" id="posttlf" value="{{invoice.shippingPhone}}" />
            <input type="button" value="Hent" onclick="getAltAddress($('posttlf').value);" />
            {% else %}
            {{invoice.shippingPhone}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
        <td>Name:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="postname" id="postname" value="{{invoice.shippingName}}" />
            {% else %}
            {{invoice.shippingName}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
        <td>Attn.:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="postatt" id="postatt" value="{{invoice.shippingAtt}}" />
            {% else %}
            {{invoice.shippingAtt}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
        <td>Address:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="postaddress" id="postaddress" value="{{invoice.shippingAddress}}" />
            {% else %}
            {{invoice.shippingAddress}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
        <td></td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="postaddress2" id="postaddress2" value="{{invoice.shippingAddress2}}" />
            {% else %}
            {{invoice.shippingAddress2}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
        <td>Postbox:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="postpostbox" id="postpostbox" value="{{invoice.shippingPostbox}}" />
            {% else %}
            {{invoice.shippingPostbox}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
        <td>Zipcode:</td>
        <td>
            {% if invoice.status == 'new' %}
            <input name="postpostalcode" id="postpostalcode" value="{{invoice.shippingPostcode}}" onblur="chnageZipCode(this.value, 'postcountry', 'postcity')" onkeyup="chnageZipCode(this.value, 'postcountry', 'postcity')" onchange="chnageZipCode(this.value, 'postcountry', 'postcity')" />
            City:
            <input name="postcity" id="postcity" value="{{invoice.shippingCity}}" />
            {% else %}
            {{invoice.shippingPostcode}} City: {{invoice.shippingCity}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
        <td>Country:</td>
        <td>
            {% if invoice.status == 'new' %}
            <select name="postcountry" id="postcountry" onblur="chnageZipCode($('postpostalcode').value, 'postcountry', 'postcity')" onkeyup="chnageZipCode($('postpostalcode').value, 'postcountry', 'postcity')" onchange="chnageZipCode($('postpostalcode').value, 'postcountry', 'postcity')">
                <option value=""{% if not invoice.shippingCountry %} selected="selected"{% endif %}></option>
                {% for code, country in countries %}
                <option value="{{code}}"{% if invoice.shippingCountry == code %} selected="selected"{% endif %}>
                    {{country}}
                </option>
                {% endfor %}
            </select>
            {% else %}
            {{countries[invoice.shippingCountry]}}
            {% endif %}
        </td>
    </tr>
    {% if invoice.status == 'new' %}
    <tr>
        <td colspan="2">
            <input type="checkbox"{% if invoice.hasPreVat %} checked="checked"{% endif %} id="premoms" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" onclick="prisUpdate()" />
            <label for="premoms">Entered amount includes VAT</label>
        </td>
    </tr>
    {% endif %}
</table>
<table id="data" cellspacing="0">
    <thead>
        <tr>
            <td>Quantity</td>
            <td>Title</td>
            <td class="tal">unit price</td>
            <td class="tal">Total</td>
        </tr>
    </thead>
    <tfoot>
        <tr style="height:auto;min-height:auto;max-height:auto;">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="tal">Net Amount</td>
            <td class="tal" id="netto">{{invoice.netAmount|number_format(2, ',', '')}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="tal">Freight</td>
            <td class="tal">
                {% if invoice.status == 'new' %}
                <input maxlength="7" name="fragt" id="fragt" style="width:80px;" class="tal" value="{{invoice.shipping|number_format(2, ',', '')}}" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" />
                {% else %}
                {{invoice.shipping|number_format(2, ',', '')}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="text-align:right">
                {% if invoice.status == 'new' %}
                <select name="momssats" id="momssats" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()">
                    <option value="0.25"{% if invoice.vat == '0.25'%} selected="selected"{% endif %}>25%</option>
                    <option value="0"{% if not invoice.vat %} selected="selected"{% endif %}>0%</option>
                </select>
                {% else %}
                {{invoice.vat * 100}}%
                {% endif %}
            </td>
            <td class="tal">VAT Amount</td>
            <td class="tal" id="moms">{{(invoice.vat * invoice.netAmount)|number_format(2, ',', '')}}</td>
        </tr>
        <tr class="border">
            <td colspan="2">&nbsp;</td>
            <td style="text-align:center; font-weight:bold;">TO PAY</td>
            <td class="tal" id="payamount">
                {{((invoice.vat + 1) * invoice.netAmount + invoice.shipping)|number_format(2, ',', '')}}
            </td>
        </tr>
    </tfoot>
    <tbody id="vareTable">
        {% for item in invoice.items %}
        {% if invoice.status == 'new' %}
        <tr>
            <td>
                <input name="quantitie" style="width:58px;" class="tal" value="{{item.quantity}}" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" />
            </td>
            <td>
                <input name="product" style="width:303px;" value="{{item.title}}" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" />
            </td>
            <td>
                <input name="value" style="width:69px;" class="tal" value="{% if invoice.hasPreVat %}{{(item.value * 1.25)|number_format(2, ',', '')}}{% else %}{{item.value|number_format(2, ',', '')}}{% endif %}" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" />
            </td>
            <td class="tal total"></td>
            <td style="border:0; font-weight:bold;">
                <a href="#" onclick="removeRow(this); return false">
                    <img alt="X" src="images/cross.png" height="16" width="16" title="Remove Line" />
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td class="tal">{{item.quantity}}</td>
            <td>{{item.title}}</td>
            <td class="tal">{{item.value|number_format(2, ',', '')}}</td>
            <td class="tal">{{(item.value * item.quantity)|number_format(2, ',', '')}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% if invoice.status == 'new' %}
<script type="text/javascript"><!--
showhidealtpost($('altpost').checked);
valideMail();
prisUpdate();
var status = {{status|json_encode|raw}};
--></script>
{% endif %}
{% endblock %}
