{% extends "admin-index.html" %}

{% block canvas %}
<div id="headline">Address Book</div>
<div>
    <a href="?side=editContact"><img src="images/group_add.png" width="16" height="16" alt="" /> Add new contact</a>
    <br />
    <br />
    <table id="addressbook">
        <thead>
            <tr>
                <td style="width:16px"></td>
                <td><a href="/admin/?side=addressbook">Name</a></td>
                <td><a href="/admin/?side=addressbook&order=email">E-mail</td>
                <td><a href="/admin/?side=addressbook&order=tlf1">Phone</td>
                <td><a href="/admin/?side=addressbook&order=tlf2">Mobile</td>
                <td><a href="/admin/?side=addressbook&order=post">Postcode</td>
                <td><a href="/admin/?side=addressbook&order=adresse">Address</td>
                <td style="width:16px"></td>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr id="contact{{contact.id}}"{% if loop.index is even %} class="altrow"{% endif %}>
                <td>
                    <a href="?side=editContact&id={{contact.id}}">
                        <img width="16" height="16" src="images/vcard_edit.png" alt="R" title="Edit" />
                    </a>
                </td>
                <td><a href="/admin/?side=editContact&id={{contact.id}}">{{contact.name}}</a></td>
                <td><a href="/admin/?side=editContact&id={{contact.id}}">{{contact.email}} </a></td>
                <td><a href="/admin/?side=editContact&id={{contact.id}}">{{contact.phone1}}</a></td>
                <td><a href="/admin/?side=editContact&id={{contact.id}}">{{contact.phone2}}</a></td>
                <td><a href="/admin/?side=editContact&id={{contact.id}}">{{contact.postcode}}</a></td>
                <td><a href="/admin/?side=editContact&id={{contact.id}}">{{contact.address}}</a></td>
                <td>
                    <img onclick="x_deleteContact({{contact.id}}, removeTagById)" width="16" height="16" src="images/cross.png" alt="X" title="Delete" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
