{% extends "admin-index.html" %}

{% block actions %}
    <li><a onclick="updateSpecial({{page.id}});"><img src="images/disk.png" width="16" height="16" alt="" /> Save page</a></li>
{% endblock %}

{% block canvas %}
<div id="headline">Edit {{page.title}}</div>
<form action="" method="post" onsubmit="return updateSpecial({{page.id}});">
<input type="submit" accesskey="s" style="width:1px; height:1px; position:absolute; top: -20px; left:-20px;" />
    <script type="text/javascript"><!--
    initRTE("/admin/rtef/images/", "/admin/rtef/", "/theme/{{theme}}/style/rtef-text.css", true);
    writeRichText("text", {{page.html|json_encode()|raw}}, "", {{pageWidth + 32}}, 572, true, false, false);
    //--></script>
    {% if categories %}
    <br />
    Sort maincategories:
    <ul id="subMenus">
        {% for categoriy in categories %}
        <li id="item_{{categoriy.id}}">
            <img src="{% if categoriy.icon %}{{categoriy.icon.path}}{% else %}images/folder.png{% endif %}" alt=""> {{categoriy.title}}
        </li>
        {% endfor %}

    </ul>
    <input type="hidden" id="subMenusOrder" /><script type="text/javascript"><!--
    Sortable.create(
        'subMenus',
        {
            ghosting:false,
            onstraint:false,
            hoverclass:'over',
            onChange:function(element){
                var newOrder = Sortable.serialize(element.parentNode);
                newOrder = newOrder.replace(/subMenus\\[\\]=/g,"");
                newOrder = newOrder.replace(/&/g,",");
                $('subMenusOrder').value = newOrder;
            }
        }
    );
    var newOrder = Sortable.serialize($('subMenus'));
    newOrder = newOrder.replace(/subMenus\\[\\]=/g,"");
    newOrder = newOrder.replace(/&/g,",");
    $('subMenusOrder').value = newOrder;
    --></script>
    {% endif %}
</form>
{% endblock %}
