{% extends "admin-index.html" %}

{% block canvas %}
<div id="headline">Maintenance</div><div>
    <div>
        <script type=""><!--
        function set_db_errors(result)
        {
            if (result != '')
                $('errors').innerHTML = $('errors').innerHTML+result;
        }

        function scan_db()
        {
            $('loading').style.visibility = '';
            $('errors').innerHTML = '';

            var starttime = new Date().getTime();

            $('status').innerHTML = 'Removing news subscribers without contact information';
            x_removeBadSubmisions(set_db_errors);

            $('status').innerHTML = 'Removing bindings to pages that do not exist';
            x_removeBadBindings(set_db_errors);

            $('status').innerHTML = 'Removing accessories that do not exist';
            x_removeBadAccessories(set_db_errors);

            $('status').innerHTML = 'Searching for pages without bindings';
            x_get_orphan_pages(set_db_errors);

            $('status').innerHTML = 'Searching for pages with illegal bindings';
            x_get_pages_with_mismatch_bindings(set_db_errors);

            $('status').innerHTML = 'Searching for orphaned lists';
            x_get_orphan_lists(set_db_errors);

            $('status').innerHTML = 'Searching for orphaned rows';
            x_get_orphan_rows(set_db_errors);

            $('status').innerHTML = 'Searching for orphaned categories';
            x_get_orphan_cats(set_db_errors);

            $('status').innerHTML = 'Searching for cirkalur linked categories';
            x_get_looping_cats(set_db_errors);

            $('status').innerHTML = 'Checking the file names';
            x_check_file_names(set_db_errors);

            $('status').innerHTML = 'Checking the folder names';
            x_check_file_paths(set_db_errors);

            $('status').innerHTML = 'Retrieving the size of the files';
            x_get_size_of_files(function(){});

            $('status').innerHTML = 'Optimizing the database';
            x_optimizeTables(set_db_errors);

            $('status').innerHTML = 'Sending delayed emails';
            x_sendDelayedEmail(set_db_errors);

            $('status').innerHTML = '';
            $('loading').style.visibility = 'hidden';
            $('errors').innerHTML = $('errors').innerHTML+'<br />'+('The scan took %d seconds.'.replace(/[%]d/g, Math.round((new Date().getTime()-starttime)/1000).toString()));
        }

        function get_subscriptions_with_bad_emails()
        {
            $('loading').style.visibility = '';
            $('errors').innerHTML = '';

            var starttime = new Date().getTime();

            $('status').innerHTML = 'Searching for illegal e-mail adresses';
            x_get_subscriptions_with_bad_emails(set_db_errors);

            $('status').innerHTML = '';
            $('loading').style.visibility = 'hidden';
            $('errors').innerHTML = $('errors').innerHTML+'<br />'+('The scan took %d seconds.'.replace(/[%]d/g, Math.round((new Date().getTime()-starttime)/1000).toString()));
        }

        function removeNoneExistingFiles()
        {
            $('loading').style.visibility = '';
            $('status').innerHTML = 'Removes not existing files from the database';
            x_removeNoneExistingFiles(function (dummy) {});
            $('status').innerHTML = 'Getting Database Size';
            x_get_db_size(get_db_size_r);
            $('status').innerHTML = '';
            $('loading').style.visibility = 'hidden';
        }

        function get_mail_size_r(size)
        {
            $('mailboxsize').innerHTML = Math.round(size/1024/1024)+'MB';
            $('status').innerHTML = '';
            $('loading').style.visibility = 'hidden';
        }

        function get_db_size_r(size)
        {
            $('dbsize').innerHTML = Math.round(size*10)/10+'MB';
        }
        --></script>
        <div>
            <b>Server consumption</b> - E-mail:
            <span id="mailboxsize">
                <button onclick="$('loading').style.visibility = ''; x_get_mail_size(get_mail_size_r);">
                    Get e-mail consumption
                </button>
            </span>
            DB: <span id="dbsize">{{dbSize|number_format(1, ',', '')}}MB</span>
            WWW: <span id="wwwsize">{{wwwSize|number_format(1, ',', '')}}MB</span>
        </div>
        <div id="status"></div>
        <button onclick="scan_db();">Scan database</button>
        <button onclick="get_subscriptions_with_bad_emails();">Check emails in the address book</button>
        <button onclick="removeNoneExistingFiles();">Clean up files</button>
        <div id="errors"></div>

        <div>Delayed e-mails {{pendingEmails}}/{{totalDelayedEmails}}</div>
        <div>Cron last run at {{lastrun|date('d/m/Y')}}</div>
    </div>
</div>
{% endblock %}
