{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{renderable.title}}</title>
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="/theme/default/style/style.css" />
        <meta http-equiv="content-language" content="{{'en'|trans}}" />
        <link rel="alternate" type="application/rss+xml" title="{{'News on %name%'|trans|replace({'%name%': companyName})}}" href="/feed/rss/" />
        <link title="{{companyName}}" type="application/opensearchdescription+xml" rel="search" href="/opensearch.xml" />
        <link rel="canonical" href="{{renderable.canonicalLink}}" />
        <meta name="Keywords" content="{% for crumb in crumbs %}{{crumb.title}}{% if not loop.last %}, {% endif %}{% endfor %}" />
        {% if renderable.icon %}
        <meta property="og:image" content="{{renderable.icon.path}}" />
        <meta property="og:image:type" content="{{renderable.icon.mime}}" />
        <meta property="og:image:width" content="{{renderable.icon.width}}" />
        <meta property="og:image:height" content="{{renderable.icon.height}}" />
        <meta property="og:image:alt" content="{{renderable.icon.description}}" />
        {% endif %}
        {% if renderable.excerpt %}<meta property="og:description" content="{{renderable.excerpt}}" />{% endif %}
    </head>
    <body>
        <div id="wrapper">
            {% for crumb in crumbs %}
            <ul{% if loop.first %} id="crumbs"{% endif %}>
                <li>
                    {% if not loop.first %}<b style="font-size:16px">-&gt;</b>{% endif %}
                    <a href="{{crumb.canonicalLink}}">{{crumb.title}}</a>
            {% endfor %}
            {% for crumb in crumbs %}
                </li>
            </ul>
            {% endfor %}
        </div>
        <div id="text">
            <a name="top"></a>
            {% block content %}{{renderable.html|raw}}{% endblock %}
        </div>
        <div id="cart">
            <a style="margin-left:5px" class="notmobile" href="" onclick="shoppingCart.open();return false"><img alt="" src="/theme/default/images/cart.png" /> {{'Shopping list'|trans}} <span id="cartCount"></span></a>
        </div>
        <div id="menu">
        {% include 'menu.html' %}
            <ul>
                <li><a href="/search/">{{'Search and find'|trans}}</a></li>
            </ul>
        </div>
        <script type="text/javascript" src="/javascript/xHttp.js"></script>
        <script type="text/javascript" src="/javascript/javascript.js"></script>
        <script type="text/javascript"><!--
            {% if basketRest %}shoppingCart.resetCart();{% endif %}

        --></script>
    </body>
</html>
{% endspaceless %}
