<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{renderable.title}}</title>
        <link href="/theme/style.css" rel="stylesheet" type="text/css" />
        <script src="/javascript/javascript.js" type="text/javascript"></script>
        <meta http-equiv="content-language" content="en" />
        <link rel="alternate" type="application/rss+xml" title="News" href="/rss.php" />
        <link title="Search" type="application/opensearchdescription+xml" rel="search" href="/sog.php" />
        <link rel="canonical" href="{{renderable.canonicalLink}}" />
        <meta name="Keywords" content="{% for crumb in crumbs %}{{crumb.title}}{% if not loop.last %}, {% endif %}{% endfor %}" />
    </head>
    <body>
        <div id="wrapper">
            <ul id="crumbs">
                <li>
                    {% for crumb in crumbs %}
                    <ul>
                        <li>
                            <b style="font-size:16px">-&gt;</b>
                            <a href="{{crumb.canonicalLink}}">
                                {{crumb.name}} {% if crumb.icon %}<img src="{{crumb.icon}}" alt="" />{% endif %}
                            </a>
                    {% endfor %}
                    {% for crumb in crumbs %}
                        </li>
                    </ul>
                    {% endfor %}
                    {% if hasItemsInCart %}
                    <div class="bar" id="cart">
                        <ul>
                            <li>
                                <a href="/bestilling/">Shopping basket</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div id="text">
            <a name="top"></a>
            {% block content %}{{renderable.html|raw}}{% endblock %}
        </div>
        <div id="menu">
        {% include 'menu.html' %}
        {% include 'menu.html' with {'menu': searchMenu} %}
        </div>
    </body>
</html>
