{% extends "index.html" %}

{% block content %}
{% if brand %}
<p align="center">
    {% if brand.canonicalLink %}<a rel="nofollow" target="_blank" href="{{brand.canonicalLink}}">Read more about {% endif %}
    {{brand.title}}
    {% if brand.icon %}<br /><img src="{{brand.icon.path}}" alt="" width="{{brand.icon.width}}" height="{{brand.icon.height}}" />{% endif %}
    {% if brand.canonicalLink %}</a>{% endif %}
</p>
{% endif %}

{% if pageList %}
<p align="center" class="web">Click on the product for additional information</p>
{% block products %}
<div id="kat{{categoryId}}">
    <table class="tabel">
        <thead>
            <tr>
                <td><a href="#" onClick="x_get_kat({{categoryId}}, 'navn', inject_html);">Title</a></td>
                <td><a href="#" onClick="x_get_kat({{categoryId}}, 'for', inject_html);">Previously</a></td>
                <td><a href="#" onClick="x_get_kat({{categoryId}}, 'pris', inject_html);">Price</a></td>
                <td><a href="#" onClick="x_get_kat({{categoryId}}, 'varenr', inject_html);">#</a></td>
            </tr>
        </thead>
        <tbody>
            {% for item in pageList %}
            <tr{% if loop.index is even %} class="altrow"{% endif %}>
                <td><a href="{{item.canonicalLink}}">{{item.title}}</a></td>
                <td class="XPris" align="right">
                    {% if item.oldPrice > 0%}
                    {{ item.oldPrice|number_format(2, ',', '.') }}
                    {% endif %}
                </td>
                <td class="Pris" align="right">
                    {% if item.price > 0 %}
                    {{ item.price|number_format(2, ',', '.') }}
                    {% endif %}
                </td>
                <td align="right" style="font-size:11px">{{item.sku}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% else %}
<p align="center" class="web">The search did not return any results</p>
{% endif %}
{% endblock %}
