{% if menu %}
<ul>
    {% for menuItem in menu %}
    <li>
        {% if menuItem in category.branch %}<h4 id="activmenu">{% endif %}
        <a href="{{menuItem.canonicalLink}}">
            {{menuItem.title}}
            {% if menuItem.icon %}<img src="{{menuItem.icon}}" alt="" />{% endif %}
        </a>
        {% if menuItem in category.branch %}
        </h4>
        {% include 'menu.html' with {'menu': menuItem.visibleChildren} %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
