{% if menu %}
<ul>
    {% for menuItem in menu %}
    <li>
        {% if menuItem == category %}<h4 id="activmenu">{% endif %}
        <a href="{{menuItem.canonicalLink}}">
            {{menuItem.title}}
            {% if menuItem.icon %}<img src="{{menuItem.icon.path}}" alt="" />{% endif %}
        </a>
        {% if menuItem in category.branch %}
        {% if menuItem == category %}</h4>{% endif %}
        {% include 'menu.html' with {'menu': menuItem.visibleChildren} %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
