{% extends "index.html" %}

{% block content %}
<div id="innercontainer">
    <form action="{{action}}" method="post" onsubmit="{{onsubmit}}">
        <table>
            <tbody>
                <tr>
                    <td>{{'Phone:'|trans}} </td>
                    <td colspan="2"><input name="phone1" id="phone1" style="width:157px" value="{{invoice.phone1}}" /></td>
                    <td>
                        <input type="button" value="{{'Get address'|trans}}" onclick="getAddress(document.getElementById('phone1').value, getAddress_r1);" />
                    </td>
                </tr>
                <tr>
                    <td>{{'Mobile:'|trans}} </td>
                    <td colspan="2"><input name="phone2" id="phone2" style="width:157px" value="{{invoice.phone2}}" /></td>
                    <td>
                        <input type="button" value="{{'Get address'|trans}}" onclick="getAddress(document.getElementById('phone2').value, getAddress_r1);" />
                    </td>
                </tr>
                <tr>
                    <td> {{'Name:'|trans}}</td>
                    <td colspan="2"><input name="name" id="name" style="width:157px" value="{{invoice.name}}" /></td>
                    <td>{% if invalid.name %}<img src="/theme/default/images/error.png" alt="">{% endif %}</td>
                </tr>
                <tr>
                    <td> {{'Attn.:'|trans}}</td>
                    <td colspan="2"><input name="attn" id="attn" style="width:157px" value="{{invoice.attn}}" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td> {{'Address:'|trans}}</td>
                    <td colspan="2">
                        <input name="address" id="address" style="width:157px" value="{{invoice.address}}" />
                    </td>
                    <td>{% if invalid.address %}<img src="/theme/default/images/error.png" alt="" >{% endif %}</td>
                </tr>
                <tr>
                    <td> {{'Postbox:'|trans}}</td>
                    <td colspan="2">
                        <input name="postbox" id="postbox" style="width:157px" value="{{invoice.postbox}}" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td> {{'Zipcode:'|trans}}</td>
                    <td>
                        <input name="postcode" id="postcode" style="width:35px" value="{{invoice.postcode}}" onblur="chnageZipCode(this.value, 'country', 'city')" onkeyup="chnageZipCode(this.value, 'country', 'city')" onchange="chnageZipCode(this.value, 'country', 'city')" />
                    </td>
                        <td align="right"> {{'City:'|trans}}<input name="city" id="city" style="width:90px" value="{{invoice.city}}" /></td>
                    <td>
                        {% if invalid.postcode %}<img src="/theme/default/images/error.png" alt="" >{% endif %}
                        {% if invalid.city %}<img src="/theme/default/images/error.png" alt="" >{% endif %}
                    </td>
                </tr>
                <tr>
                    <td> {{'Country:'|trans}}</td>
                    <td colspan="2">
                        <select name="country" id="country" style="width:157px" onblur="chnageZipCode($('postcode').value, 'country', 'city')" onkeyup="chnageZipCode($('postcode').value, 'country', 'city')" onchange="chnageZipCode($('postcode').value, 'country', 'city')" />
                            {% for code, country in countries %}
                            <option value="{{code}}"{% if invoice.country == code %} selected="selected"{% endif %}>
                                {{country}}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{% if invalid.country %}<img src="/theme/default/images/error.png" alt="" >{% endif %}</td>
                </tr>
                <tr>
                    <td> {{'Email:'|trans}}</td>
                    <td colspan="2"><input name="email" id="email" style="width:157px" value="{{invoice.email}}" /></td>
                    <td>{% if invalid.email %}<img src="/theme/default/images/error.png" alt="" >{% endif %}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input onclick="showhidealtpost(this.checked);" name="hasShippingAddress" id="hasShippingAddress" type="checkbox"{% if invoice.hasShippingAddress %} checked="checked"{% endif %} />
                        <label for="hasShippingAddress"> {{'Other delivery address'|trans}}</label>
                    </td>
                </tr>
                <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
                    <td> {{'Phone:'|trans}}</td>
                    <td colspan="2">
                        <input name="shippingPhone" id="shippingPhone" style="width:157px" value="{{invoice.shippingPhone}}" />
                    </td>
                    <td>
                        <input type="button" value="{{'Get address'|trans}}" onclick="getAddress(document.getElementById('shippingPhone').value, getAddress_r2);" />
                    </td>
                </tr>
                <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
                    <td>{{'Name:'|trans}}</td>
                    <td colspan="2">
                        <input name="shippingName" id="shippingName" style="width:157px" value="{{invoice.shippingName}}" />
                    </td>
                    <td>{% if invalid.shippingName %}<img src="/theme/default/images/error.png" alt="" >{% endif %}</td>
                </tr>
                <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
                    <td> {{'Attn.:'|trans}}</td>
                    <td colspan="2">
                        <input name="shippingAttn" id="shippingAttn" style="width:157px" value="{{invoice.shippingAttn}}" />
                    </td>
                    <td></td>
                </tr>
                <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
                    <td> {{'Address:'|trans}}</td>
                    <td colspan="2">
                        <input name="shippingAddress" id="shippingAddress" style="width:157px" value="{{invoice.shippingAddress}}" />
                        <br />
                        <input name="shippingAddress2" id="shippingAddress2" style="width:157px" value="{{invoice.shippingAddress2}}" />
                    </td>
                    <td>{% if invalid.shippingAddress %}<img src="/theme/default/images/error.png" alt="" >{% endif %}</td>
                </tr>
                <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
                    <td> {{'Postbox:'|trans}}</td>
                    <td colspan="2">
                        <input name="shippingPostbox" id="shippingPostbox" style="width:157px" value="{{invoice.shippingPostbox}}" />
                    </td>
                    <td></td>
                </tr>
                <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
                    <td> {{'Zipcode:'|trans}}</td>
                    <td>
                        <input name="shippingPostcode" id="shippingPostcode" style="width:35px" value="{{invoice.shippingPostalcode}}" onblur="chnageZipCode(this.value, 'shippingCountry', 'shippingCity')" onkeyup="chnageZipCode(this.value, 'shippingCountry', 'shippingCity')" onchange="chnageZipCode(this.value, 'shippingCountry', 'shippingCity')" />
                    </td>
                    <td align="right">
                        {{'City:'|trans}} <input name="shippingCity" id="shippingCity" style="width:90px" value="{{invoice.shippingCity}}" />
                    </td>
                    <td>
                        {% if invalid.shippingPostcode %}<img src="/theme/default/images/error.png" alt="" >{% endif %}
                        {% if invalid.shippingCity %}<img src="/theme/default/images/error.png" alt="" >{% endif %}
                    </td>
                </tr>
                <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none;"{% endif %}>
                    <td> {{'Country:'|trans}}</td>
                    <td colspan="2">
                        <select name="shippingCountry" id="shippingCountry" style="width:157px" onblur="chnageZipCode($('shippingPostcode').value, 'shippingCountry', 'shippingCity')" onkeyup="chnageZipCode($('shippingPostcode').value, 'shippingCountry', 'shippingCity')" onchange="chnageZipCode($('shippingPostcode').value, 'shippingCountry', 'shippingCity')">
                            {% for code, country in countries %}
                            <option value="{{code}}"{% if invoice.shippingCountry == code %} selected="selected"{% endif %}>
                                {{country}}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{% if invalid.shippingCountry %}<img src="/theme/default/images/error.png" alt="" >{% endif %}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input name="newsletter" id="newsletter" type="checkbox"{% if newsletter %}checked="checked"{% endif %} />
                        <label for="newsletter"> {{'Please send me your newsletter.'|trans}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <input style="font-weight:bold" type="submit" value="{{actionLable}}" />
    </form>
</div>
{% endblock %}

{% block jsonload %}xHttp.request("/javascript/zipcodedk.json", loadZipCodesDk);{% endblock %}
