{% extends "index.html" %}

{% block content %}
<div id="innercontainer">
    {% if invoice.items %}
    <form action="" method="get" onsubmit="shoppingCart.openAddress();return false">
        <p>
            <table style="border-bottom:1px solid" id="faktura" cellspacing="0">
                <thead>
                    <tr>
                        <td class="td1">{{'Quantity'|trans}}</td>
                        <td>{{'Title'|trans}}</td>
                        <td class="td3 tal" style="width:64px">{{'unit price'|trans}}</td>
                        <td class="td4 tal" style="width:72px">{{'Total'|trans}}</td>
                    </tr>
                </thead>
                <tfoot>
                    <tr style="border:1px solid #000">
                        <td class="td1"></td>
                        <td></td>
                        <td class="td3 tal">Total</td>
                        <td class="td4 tal" id="total">{{invoice.amount|number_format(2, localeconv.mon_decimal_point, '')}}</td>
                    </tr>
                </tfoot>
                <tbody>
                    {% for item in invoice.items %}
                    <tr>
                        <td class="tal">
                            <input onkeyup="updatePrice()" onchange="updatePrice()" class="tal" value="{{item.quantity}}" name="quantity[]" size="3" />
                        </td>
                        <td>{{item.title}}</td>
                        <td class="tal">
                            {% if item.value %}{{(item.value * (1 + invoice.vat))|number_format(2, localeconv.mon_decimal_point, '')}}{% else %}*{% endif %}
                        </td>
                        <td class="tal total">
                            {% if item.value %}{{(item.value * item.quantity * (1 + invoice.vat))|number_format(2, localeconv.mon_decimal_point, '')}}{% else %}*{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script type="text/javascript"><!--
                var values = [{% for item in invoice.items %}{{(item.value * (1 + invoice.vat))|json_encode()|raw}}{% if not loop.last %},{% endif %}{% endfor %}];
            --></script>
            {% if invoice.hasUnknownPrice %}
                <small>{{'* The price cannot be determined automatically, please make sure to describe the exact type in the note field.'|trans}}</small></p>
            {% endif %}
        </p>
        <p class="clearfix">
        {{'Preferred payment method:'|trans}}
            <select id="payMethod" name="payMethod" style="float:right">
                <option value="creditcard"{% if payMethod == 'creditcard' %} selected="selected"{% endif %}>{{'Credit Card'|trans}}</option>
                <option value="bank"{% if payMethod == 'bank' %} selected="selected"{% endif %}>{{'Bank transaction'|trans}}</option>
                <option value="cash"{% if payMethod == 'cash' %} selected="selected"{% endif %}>{{'Cash'|trans}}</option>
            </select>
        </p>
        <p>
            {{'Delivery:'|trans}}
            <select id="deleveryMethod" name="deleveryMethod" style="float:right">
                <option value="postal"{% if deleveryMethod == 'postal' %} selected="selected"{% endif %}>{{'Mail'|trans}}</option>
                <option value="pickup"{% if deleveryMethod == 'pickup' %} selected="selected"{% endif %}>{{'Pick-up in store'|trans}}</option>
            </select>
            <small id="shipping"><br />{{'The exact shipping cost will be calculated when the goods are packed.'|trans}}</small>
        </p>
        <p>
            {{'Note:'|trans}}<br />
            <textarea style="width:100%;box-sizing:border-box" id="note" name="note">{{invoice.note}}</textarea>
        </p>
        <p><input value="{{'Continue'|trans}}" type="submit" /></p>
    </form>
    {% else %}
    {{'Ther is no content in the basket.'|trans}}
    {% endif %}
</div>
{% endblock %}
