{% spaceless %}
<table class="tabel">
    <thead>
        <tr>
            <td><a href="" onclick="return getKat({{renderable.id}}, 'navn')">{{'Title'|trans}}</a></td>
            <td><a href="" onclick="return getKat({{renderable.id}}, 'for')">{{'Previously'|trans}}</a></td>
            <td><a href="" onclick="return getKat({{renderable.id}}, 'pris')">{{'Price'|trans}}</a></td>
            <td><a href="" onclick="return getKat({{renderable.id}}, 'varenr')">#</a></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for page in renderable.pages(orderBy) %}
        <tr{% if loop.index is even %} class="altrow"{% endif %}>
            <td><a href="{{page.canonicalLink(renderable)}}">{{page.title}}</a></td>
            <td class="XPris" align="right">
                {% if page.oldPrice > 0 %}
                {{page.oldPrice|number_format(0, ',', '.')}}{{'.00'|trans}}
                {% endif %}
            </td>
            <td class="Pris" align="right">
                {% if page.price > 0 %}
                {{page.price|number_format(0, ',', '.')}}{{'.00'|trans}}
                {% elseif page.price < 0 %}
                {{'Sold-out'|trans}}
                {% endif %}
            </td>
            <td align="right" style="font-size:11px">{{page.sku}}</td>
            <td class="addtocart">
                {% if page.price > 0 %}
                <a href="" onclick="shoppingCart.addItem('page',{{page.id}});return false">
                    <img src="/theme/default/images/cart_add.png" title="{{'Add to shopping cart'|trans}}" alt="+" />
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endspaceless %}
