{% spaceless %}
<table class="tabel">
    <thead>
        <tr>
            <td><a href="" onclick="return getKat({{renderable.id}}, 'navn')">Titel</a></td>
            <td><a href="" onclick="return getKat({{renderable.id}}, 'for')">Før</a></td>
            <td><a href="" onclick="return getKat({{renderable.id}}, 'pris')">Pris</a></td>
            <td><a href="" onclick="return getKat({{renderable.id}}, 'varenr')">#</a></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for page in renderable.pages(orderBy) %}
        <tr{% if loop.index is even %} class="altrow"{% endif %}>
            <td><a href="{{page.canonicalLink(renderable)}}">{{page.title}}</a></td>
            <td class="XPris" align="right">
                {% if page.oldPrice %}
                {{page.oldPrice|number_format(0, ',', '.')}},-
                {% endif %}
            </td>
            <td class="Pris" align="right">
                {% if page.price > 0 %}
                {{page.price|number_format(0, ',', '.')}},-
                {% elseif page.price %}
                Udsolgt
                {% endif %}
            </td>
            <td align="right" style="font-size:11px">{{page.sku}}</td>
            <td class="addtocart">
                {% if page.price > 0 %}
                <a href="/bestilling/?add={{page.id}}">
                    <img src="/theme/default/images/cart_add.png" title="Add to shopping cart" alt="+" />
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endspaceless %}
