<table id="faktura" cellspacing="0">
    <thead>
        <tr>
            <td class="td1">{{'Quantity'|trans}}</td>
            <td>{{'Title'|trans}}</td>
            <td class="td3 tal">{{'unit price'|trans}}</td>
            <td class="td4 tal">Total</td>
        </tr>
    </thead>
    <tfoot>
        <tr style="height:auto;min-height:auto;max-height:auto">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="tal">{{'Net Amount'|trans}}</td>
            <td class="tal">{{invoice.netAmount|money(false)}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="tal">{{'Freight'|trans}}</td>
            <td class="tal">{{invoice.shipping|money(false)}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="text-align:right" class="tal">{{invoice.vat * 100}}%</td>
            <td class="tal">{{'VAT Amount'|trans}}</td>
            <td class="tal">{{(invoice.netAmount * invoice.vat)|money(false)}}</td>
        </tr>
        <tr class="border">
            <td colspan="2">{{'All figures in USD'|trans}}</td>
            <td style="text-align:center;font-weight:bold">{{'TO PAY'|trans}}</td>
            <td class="tal"><big>{{invoice.amount|money(false)}}</big></td>
        </tr>
    </tfoot>
    <tbody>
    {% for item in invoice.items %}
        <tr>
            <td class="tal">{{item.quantity}}</td>
            <td>{{item.title}}</td>
            <td class="tal">{{(item.value * (1 + invoice.vat))|money(false)}}</td>
            <td class="tal">{{(item.value * (1 + invoice.vat) * item.quantity)|money(false)}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if invoice.name %}<br /><strong>{{'Note:'|trans}}</strong><br /><p class="note">{{invoice.note|nl2br}}</p>{% endif %}
