{% spaceless %}
{% for dir in dirs %}
<div id="dir_{{dir.id}}">
    {% if dir.hassubs %}
    <img{% if dir.subs %} style="display:none"{% endif %} src="images/+.gif" onclick="dir_expand(this,{{move|json_encode()}});" height="16" width="16" alt="+" title="" />
    <img{% if not dir.subs %} style="display:none"{% endif %} src="images/-.gif" onclick="dir_contract(this);" height="16" width="16" alt="-" title="" />
    {% endif %}
    <a{% if not dir.hassubs %} style="margin-left:16px"{% endif %}{% if dir.path == activeDir %} class="active"{% endif %} title="{{dir.name}}"{% if not move %} ondblclick="showdirname(this)"{% endif %} onclick="{% if not move %}showfiles({{dir.path|json_encode()}}){% else %}movefile({{dir.path|json_encode()}}){% endif %}">
        <img src="images/folder.png" height="16" width="16" alt="" /> <span>{{dir.name}}</span>
    </a>
    <form action="" method="get" onsubmit="document.getElementById('files').focus();return false" style="display:none">
        <p style="display: inline; margin-left: {% if not dir.hassubs %}16{% else %}3{% endif %}px;">
            <img width="16" height="16" alt="" src="images/folder.png"/>
            <input style="display:inline;" onblur="renamedir(this);" maxlength="{{254 - dir.path|length}}" value="{{dir.name}}" name="{{dir.path}}" />
        </p>
    </form>
    {% if dir.hassubs %}
    <div>
        {% if dir.subs %}
        {% include 'partial-admin-listDirs.html' with {'dirs': dir.subs} %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endspaceless %}
