<table cellspacing="0">
    <tr style="height:21px">
        <td>Name: </td>
        <td><input value="{{brand.title}}" id="navn" style="width:256px;" maxlength="64" /></td>
    </tr>
    <tr style="height:21px">
        <td>Link: </td>
        <td><input value="{{brand.link}}" id="link" style="width:256px;" maxlength="64" /></td>
    </tr>
    <tr style="height:21px">
        <td>Logo: </td>
        <td style="text-align:center">
            <input type="hidden" value="{% if brand.icon %}{{brand.icon.path}}{% else %}/images/web/intet-foto.jpg{% endif %}" id="ico" name="ico" />
            <img id="icothb" src="{% if brand.icon %}{{brand.icon.path}}{% else %}/images/web/intet-foto.jpg{% endif %}" alt="" onclick="explorer('thb', 'ico')" />
            <br />
            <img onclick="explorer('thb', 'ico')" src="images/folder_image.png" width="16" height="16" alt="Pictures" title="Find image" />
            <img onclick="setThb('ico', '', '/images/web/intet-foto.jpg')" src="images/cross.png" alt="X" title="Remove picture" width="16" height="16" />
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
<p><input value="Save brand" type="submit" accesskey="s" /><br /><br /></p>
