{% if product.oldPrice %}
    {% if product.oldPriceType == 1 %}
        Retail price: <span>
    {% elseif product.oldPriceType == 2 %}
        Should cost: <span>
    {% else %}
        Before: <span class="XPris">
    {% endif %}
    {{product.oldPrice|number_format(2, '.', ',')}}</span>
{% endif %}

{% if product.price %}
    {% if product.priceType == 1 and product.oldPrice %}
        <span class="NyPris">New price from:
    {% elseif product.priceType == 2 and product.oldPrice %}
        <span class="NyPris">Used:
    {% elseif product.priceType == 1 %}
        Price from: <span class="Pris">
    {% elseif product.priceType == 2 %}
        Used: <span class="Pris">
    {% elseif product.oldPrice %}
        <span class="NyPris">Now:
    {% else %}
        Price: <span class="Pris">
    {% endif %}
    {{product.price|number_format(2, '.', ',')}}</span>
{% endif %}
