{% if products %}
<table cellspacing="0" id="liste">
    {% for product in products %}
    {% if loop.index is even %}<tr>{% endif %}
        <td>
            <a href="{{product.canonicalLink(category)}}">
                {% if product.icon %}<img src="{{product.icon.path}}" alt="" /><br />{% endif %}
                {{product.title}}<br />
                {% include 'price.html' %}
            </a>
        </td>
    {% if loop.index is odd or loop.last %}</tr>{% endif %}
    {% endfor %}
</table>
{% endif %}
