<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="{{url}}" rel="self" type="application/rss+xml" />
        <title>{{title}}</title>
        <link>{{siteUrl}}</link>
        <description>The latest pages</description>
        <language>en</language>
        <lastBuildDate>{{lastBuildDate}}</lastBuildDate>
        <managingEditor>{{email}} ({{siteName}})</managingEditor>
        {% for item in items %}
        <item>
            <title>{{item.title}}</title>
            <link>{{item.link}}</link>
            <description>{{item.description}}</description>
            <pubDate>{{item.pubDate}}</pubDate>
            <guid>{{item.link}}</guid>
            {% for category in item.categories %}
            <category>{{category}}</category>
            {% endfor %}
        </item>
        {% endfor %}
    </channel>
</rss>
