{% extends "index.html" %}

{% block content %}
{% if brand %}
<p align="center">
    {% if brand.link %}
    <a rel="nofollow" target="_blank" href="{{brand.link}}">
    {{'Read more about %title%'|trans|replace({'%title%': brand.title})}}
    {% else %}
    {{brand.title}}
    {% endif %}
    {% if brand.icon %}
    <br />
    <img src="{{brand.icon.path}}" alt="{{brand.icon.description}}" width="{{brand.icon.width}}" height="{{brand.icon.height}}" />
    {% endif %}
    {% if brand.link %}</a>{% endif %}
</p>
{% endif %}

{% if not renderable.pages and search %}
<p align="center" class="web">{{'The search did not return any results'|trans}}</p>
{% endif %}
{% include 'productTiles.html' with {'products': renderable.pages} %}
{% endblock %}
