<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{'Add list'|trans}}</title>
        <link href="style/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
        <script type="text/javascript" src="/javascript/xHttp.js"></script>
        <script type="text/javascript" src="/javascript/admin/javascript.js"></script>
        <script type="text/javascript">
        function addcolumn() {
            var td = document.createElement("td");
            td.innerHTML =
                "<td><select name=\"cell\"><option value=\"0\">{{'Text'|trans}}</option><option value=\"1\">{{'Number'|trans}}</option><option value=\"2\">{{'Price'|trans}}</option><option value=\"4\">{{'Previous price'|trans}}</option><option value=\"3\">{{'Offer'|trans}}</option></select><br /><select name=\"sort\"><option value=\"0\">{{'Alphanumeric'|trans}}</option>{% for tablesort in tablesorts %}<option value=\"{{tablesort.id}}\">{{tablesort.title}}</option>{% endfor %}</select><br /><input name=\"cell_name\" style=\"width:102px;\" /></td>";
            var addbuttonrow = $("addbuttonrow");
            addbuttonrow.parentNode.insertBefore(td, addbuttonrow);
        }
        </script>
    </head>
    <body>
        <form method="post" action="" onsubmit="return createTable();">
            <input id="page_id" name="page_id" type="hidden" value="{{page_id}}" />
            {{'Title:'|trans}} <input id="title" name="title" /><br />
            {{'Links:'|trans}} <input type="checkbox" name="link" id="link" value="1" /><br />
            {{'Order by column:'|trans}} <input size="1" name="dsort" id="dsort" value="0" />
            <table>
                <tbody>
                    <tr id="therow">
                        <td>
                            {{'Type:'|trans}}<br />
                            {{'Ordering:'|trans}}<br />
                            {{'Name:'|trans}}
                        </td>
                        <td>
                            <select name="cell">
                                <option value="0">{{'Text'|trans}}</option>
                                <option value="1">{{'Number'|trans}}</option>
                                <option value="2">{{'Price'|trans}}</option>
                                <option value="4">{{'Previous price'|trans}}</option>
                                <option value="3">{{'Offer'|trans}}</option>
                            </select><br />
                            <select name="sort">
                                <option value="0">{{'Alphanumeric'|trans}}</option>
                                {% for tablesort in tablesorts %}
                                <option value="{{tablesort.id}}">{{tablesort.title}}</option>
                                {% endfor %}
                            </select><br />
                            <input name="cell_name" style="width:102px;" />
                        </td>
                        <td id="addbuttonrow">
                            <input type="button" value="{{'Add'|trans}}" style="height: 48px;" onclick="addcolumn();" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <input name="cells" id="cells" type="hidden" />
            <input name="cell_names" id="cell_names" type="hidden" />
            <input name="sorts" id="sorts" type="hidden" />
            <input type="submit" value="Gem" />
        </form>
    </body>
</html>
