{% extends "admin/index.html" %}

{% block actions %}
<li><a onclick="updateContact({{contact.id}});"><img src="/theme/default/images/admin/disk.png" width="16" height="16" alt="" /> Save contact</a></li>
{% endblock %}

{% block canvas %}
<div id="headline">Edit contact person</div>
<form method="post" action="" onsubmit="updateContact({{contact.id}}); return false;">
    <input type="submit" accesskey="s" style="width:1px; height:1px; position:absolute; top: -20px; left:-20px;" />
    <table border="0" cellspacing="0">
        <tbody>
            <tr>
                <td>Name:</td>
                <td colspan="2"><input value="{{contact.name}}" id="navn" /></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td colspan="2"><input value="{{contact.email}}" id="email" /></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td colspan="2"><input value="{{contact.address}}" id="adresse" /></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td colspan="2"><input value="{{contact.country}}" id="land" /></td>
            </tr>
            <tr>
                <td width="1%">Postal Code:</td>
                <td width="1%"><input maxlength="8" size="8" id="post" value="{{contact.postcode}}" /> </td>
                <td align="left" nowrap="nowrap">&nbsp;City:<input size="8" id="by" value="{{contact.city}}" /></td>
            </tr>
            <tr>
                <td nowrap="nowrap">Private phone:</td>
                <td colspan="2"><input maxlength="11" size="15" id="tlf1" value="{{contact.phone1}}" /></td>
            </tr>
            <tr>
                <td nowrap="nowrap">Mobile phone:</td>
                <td colspan="2"><input maxlength="11" size="15" id="tlf2" value="{{contact.phone2}}" /></td>
            </tr>
            <tr>
                <td colspan="5">
                    <br />
                    <label for="kartotek">
                        <input value="1" id="kartotek" type="checkbox"{% if contact.subscribed %} checked="checked"{% endif %} />
                        Receive newsletters.
                        </label>
                    <br />
                    <strong>Interests:</strong>
                    <div id="interests">
                        {% for interest in interests %}
                        <label for="{{interest}}"><input{% if interest in contact.interests %} checked="checked"{% endif %} type="checkbox" value="{{interest}}" id="{{interest}}" />
                            {{interest}}
                        </label>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}
