{% extends "admin/index.html" %}

{% block canvas %}
<div id="headline">{{title}}</div>
<table id="list" style="width:100%;margin:0 0 113px 0">
    <thead>
        <tr>
            <td>{{'ID'|trans}}</td>
            <td>{{'Payment method'|trans}}</td>
            <td>{{'Pay date'|trans}}</td>
            <td>{{'Responsible'|trans}}</td>
            <td>{{'Amount'|trans}}</td>
            <td style="width:16px"></td>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
        <tr>
            <td style="text-align:right"><a href="/admin/invoices/{{invoice.id}}/">{{invoice.id}}</a></td>
            <td style="text-align:right">
                <a href="/admin/invoices/{{invoice.id}}/">
                    {% if invoice.status == 'accepted' %}{{invoice.cardType}}{% elseif invoice.status == 'giro' %}{{'Bank transferal'|trans}}{% endif %}
                </a>
            </td>
            <td style="text-align:right">
                <a href="/admin/invoices/{{invoice.id}}/">{{invoice.timestampPay|date('d-m-Y')}}</a>
            </td>
            <td><a href="/admin/invoices/{{invoice.id}}/">{{invoice.clerk}}</a></td>
            <td style="text-align:right">
                <a href="/admin/invoices/{{invoice.id}}/">{{invoice.amount|number_format(2, '.', ',')}}</a>
            </td>
            <td style="text-align:center">
                <a href="" onclick="return confirmPaymentValidate({{invoice.id}})">
                    <img src="/theme/default/images/admin/tick.png" alt="{{'Approve'|trans}}" title="{{'Approve'|trans}}" />
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
