{% extends "admin/index.html" %}

{% block actions %}
{% if invoice.status == 'pbsok' %}
<li>
    <a onclick="return pbsconfirm({{invoice.id}})"><img src="/theme/default/images/admin/money.png" alt="" width="16" height="16" /> {{'Process'|trans}}</a>
</li>
<li><a onclick="return annul({{invoice.id}})"><img src="/theme/default/images/admin/bin.png" alt="" width="16" height="16" /> {{'Reject'|trans}}</a></li>
{% endif %}
<li><a onclick="return save({{invoice.id|json_encode|raw}})"><img src="/theme/default/images/admin/table_save.png" alt="" width="16" height="16" /> {{'Save'|trans}}</a></li>
{% if not invoice or invoice.status == 'new' %}
<li><a onclick="return save({{invoice.id|json_encode|raw}}, 'lock')"><img src="/theme/default/images/admin/lock.png" alt="" width="16" height="16" /> {{'Lock'|trans}}</a></li>
{% else %}
<li>
    <a href="/admin/invoices/{{invoice.id}}/pdf/">
        <img height="16" width="16" title="" src="/theme/default/images/admin/printer.png"/> {{'Print'|trans}}
    </a>
</li>
{% endif %}
{% if invoice.id %}
<li>
    <a onclick="return copytonew({{invoice.id}})">
        <img src="/theme/default/images/admin/table_multiple.png" alt="" width="16" height="16" /> {{'Copy to new'|trans}}
    </a>
</li>
{% endif %}
{% if invoice.id and invoice.status not in ['canceled', 'pbsok', 'accepted', 'giro', 'cash'] %}
<li>
    <a onclick="return save({{invoice.id}}, 'cancel')"><img src="/theme/default/images/admin/bin.png" alt="" width="16" height="16" /> {{'Cancel'|trans}}</a>
</li>
{% endif %}
{% if invoice.status not in ['giro', 'cash', 'pbsok', 'accepted', 'canceled', 'rejected'] %}
{% if not invoice.sent %}
<li id="emaillink"{% if not invoice.hasValidEmail %} style="display:none"{% endif %}>
    <a onclick="return save({{invoice.id|json_encode|raw}}, 'email')">
        <img height="16" width="16" title="{{'Send to customer'|trans}}" alt="" src="/theme/default/images/admin/email_go.png"/> {{'Send'|trans}}
    </a>
</li>
{% else %}
<li>
    <a onclick="return sendReminder({{invoice.id}})">
        <img height="16" width="16" alt="" src="/theme/default/images/admin/email_go.png"/> {{'Send reminder'|trans}}
    </a>
</li>
{% endif %}
{% endif %}
{% endblock %}

{% block canvas %}
<div id="headline">{{title}}</div>
<table style="float:right">
    {% if invoice.status not in ['giro', 'cash', 'accepted', 'canceled', 'pbsok'] %}
    <tr>
        <td><input type="button" value="{{'Paid via giro'|trans}}" onclick="save({{invoice.id|json_encode|raw}}, 'giro')" /></td>
        <td>
            <input maxlength="10" name="gdate" id="gdate" size="11" value="{{time|date('d-m-Y')}}" />
            <script type="text/javascript"><!--
                new tcal({'controlid': 'gdate'});
            --></script>
        </td>
    </tr>
    <tr>
        <td><input type="button" value="{{'Paid in cash'|trans}}" onclick="save({{invoice.id|json_encode|raw}}, 'cash')" /></td>
        <td>
            <input maxlength="10" name="cdate" id="cdate" size="11" value="{{time|date('d-m-Y')}}" />
            <script type="text/javascript"><!--
                new tcal({'controlid': 'cdate'});
            --></script>
        </td>
    </tr>
    {% endif %}
    {% if invoice.status == 'accepted' %}
    <tr>
        <td><input type="button" value="{{'Refund:'|trans}}" /></td>
        <td><input value="0,00" size="9" /></td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="2">
            <p><strong>{{'Note:'|trans}}</strong></p>
            <p class="note" style="width:350px">
                {% if invoice and invoice.status != 'new' %}{{invoice.note|nl2br}}{% endif %}
            </p>
            {% if not invoice or invoice.status in ['new', 'locked'] %}<textarea style="width:350px" name="note" id="note" rows="{% if not invoice or invoice.status == 'new' %}{{invoice.note|split('\n')|length + 2}}{% else %}2{% endif %}">{% if not invoice or invoice.status == 'new' %}{{invoice.note}}{% endif %}</textarea>{% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p><strong>{{'Internal note:'|trans}}</strong></p>
            <textarea style="width:350px" name="internalNote" id="internalNote" rows="{{invoice.internalNote|split('\n')|length + 2}}">{{invoice.internalNote}}</textarea>
        </td>
    </tr>
</table>
<table>
    {% if invoice.id %}
    <tr>
        <td>{{'ID:'|trans}}</td>
        <td>{{invoice.id}}</td>
    </tr>
    <tr>
        <td>{{'eCode:'|trans}}</td>
        <td>{{invoice.checkId}}</td>
    </tr>
    {% endif %}
    <tr>
        <td>{{'Status:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            {{'Newly created'|trans}}
            {% elseif invoice.status == 'locked' and invoice.sent %}
            {{'Sent to customer'|trans}}
            {% elseif invoice.status == 'locked' %}
            {{'Locked for editing'|trans}}
            {% elseif invoice.status == 'pbsok' %}
            {{'Ready for processing'|trans}}
            {% elseif invoice.status == 'accepted' %}
            {% if invoice.timeStampPay %}
            {{'Paid online the %date%'|trans|replace({'%date%': invoice.timeStampPay|date('d-m-Y')})}}
            {% else %}
            {{'Paid online'|trans}}
            {% endif %}
            {% elseif invoice.status == 'giro' %}
            {% if invoice.timeStampPay %}
            {{'Paid via giro the %date%'|trans|replace({'%date%': invoice.timeStampPay|date('d-m-Y')})}}
            {% else %}
            {{'Paid online'|trans}}
            {% endif %}
            {% elseif invoice.status == 'cash' %}
            {% if invoice.timeStampPay %}
            {{'Paid in cash the %date%'|trans|replace({'%date%': invoice.timeStampPay|date('d-m-Y')})}}
            {% else %}
            {{'Paid online'|trans}}
            {% endif %}
            {% elseif invoice.status == 'pbserror' %}
            {{'An error occurred'|trans}}
            {% elseif invoice.status == 'canceled' %}
            {{'Canceled'|trans}}
            {% elseif invoice.status == 'rejected' %}
            {{'Payment declined'|trans}}
            {% else %}
            {{'Does not exist in the system'|trans}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Received:'|trans}}</td>
        <td>
            {% if invoice.transferred %}{{'Yes'|trans}}{% else %}{{'No'|trans}}{% endif %}
            {% if currentUser.accessLevel == 1 and invoice.transferred %}
            (<a href="" onclick="return setPaymentTransferred({{invoice.id}}, false)">{{'Remove'|trans}}</a>)
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Created:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input maxlength="10" name="date" id="date" size="11" value="{{invoice.timestamp|date('d-m-Y')}}" />
            <script type="text/javascript"><!--
                new tcal({'controlid': 'date'});
            --></script>
            {% else %}
                {{invoice.timestamp|date('d-m-Y')}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Assigned:'|trans}}</td>
        <td>
            {% if currentUser.accessLevel == 1 and users|length > 1 and invoice.status not in ['giro', 'cash', 'accepted', 'canceled'] %}
            <select name="clerk" id="clerk">
                <option value="">{{'No one'|trans}}</option>
                {% for user in users %}
                <option value="{{user.fullName}}"{% if invoice.clerk == user.fullName or (not invoice.clerk and currentUser.fullname == user.fullName) %} selected="selected"{% endif %}>
                    {{user.fullName}}
                </option>
                {% endfor %}
            </select>
            {% else %}
            {% if invoice.clerk or invoice.isFinalized %}{{invoice.clerk}}{% else %}{{currentUser.fullname}}{% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Department:'|trans}}</td>
        <td>
            {% if invoice.status not in ['giro', 'cash', 'accepted', 'canceled'] %}
            {% if departments|length > 1 %}
            <select name="department" id="department">
                <option value=""{% if not invoice.department %} selected="selected"{% endif %}>{{'Not selected'|trans}}</option>
                {% for department in departments %}
                <option{% if invoice.department == department %} selected="selected"{% endif %}>{{department}}</option>
                {% endfor %}
            </select>
            {% else %}
            {{departments|first}}<input name="department" id="department" type="hidden" value="{{departments|first}}" />
            {% endif %}
            {% else %}
            {{invoice.department}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Our ref.:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="iref" id="iref" value="{{invoice.iref}}" />
            {% else %}
            {{invoice.iref}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Their ref.:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="eref" id="eref" value="{{invoice.eref}}" />
            {% else %}
            {{invoice.eref}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"><strong>{{'Invoice address:'|trans}}</strong></td>
    </tr>
    <tr>
        <td>{{'Phone 1:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="tlf1" id="tlf1" value="{{invoice.phone1}}" />
            <input type="button" value="{{'Fetch'|trans}}" onclick="getInvoiceAddress($('tlf1').value)" />
            {% else %}
            {{invoice.phone1}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Phone 2:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="tlf2" id="tlf2" value="{{invoice.phone2}}" />
            <input type="button" value="{{'Fetch'|trans}}" onclick="getInvoiceAddress($('tlf2').value)" />
            {% else %}
            {{invoice.phone2}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Email:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="email" id="email" onchange="valideMail()" onkeyup="valideMail()" value="{{invoice.email}}" />
            {% else %}
            <a href="mailto:{{invoice.email}}">{{invoice.email}}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Name:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="navn" id="navn" value="{{invoice.name}}" />
            {% else %}
            {{invoice.name}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Attn.:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="attn" id="attn" value="{{invoice.attn}}" />
            {% else %}
            {{invoice.attn}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Address:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="adresse" id="adresse" value="{{invoice.address}}" />
            {% else %}
            {{invoice.address}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Postbox:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="postbox" id="postbox" value="{{invoice.postbox}}" />
            {% else %}
            {{invoice.postbox}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Zipcode:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="postnr" id="postnr" value="{{invoice.postcode}}" onblur="changeZipCode(this.value, 'land', 'by')" onkeyup="changeZipCode(this.value, 'land', 'by')" onchange="changeZipCode(this.value, 'land', 'by')" />
            {{'City:'|trans}}
            <input name="by" id="by" value="{{invoice.city}}" />
            {% else %}
            {{invoice.postcode}} {{'City:'|trans}} {{invoice.city}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{'Country:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <select name="land" id="land" onblur="changeZipCode($('postnr').value, 'land', 'by')" onkeyup="changeZipCode($('postnr').value, 'land', 'by')" onchange="changeZipCode($('postnr').value, 'land', 'by')">
                <option value=""{% if not invoice.country %} selected="selected"{% endif %}></option>
                {% for code, country in countries %}
                <option value="{{code}}"{% if invoice.country == code or (not invoice and code == 'DK') %} selected="selected"{% endif %}>
                    {{country}}
                </option>
                {% endfor %}
            </select>
            {% else %}
            {{countries[invoice.country]}}
            {% endif %}
        </td>
    </tr>
    {% if invoice.hasShippingAddress or not invoice or invoice.status == 'new' %}
    <tr>
        <td colspan="2">
            {% if not invoice or invoice.status == 'new' %}
            <input onclick="setShippingAddressVisability(this.checked)" name="altpost" id="altpost" type="checkbox"{% if invoice.hasShippingAddress %} checked="checked"{% endif %} />
            {% endif %}
            <label for="altpost"> <strong>{{'Other delivery address'|trans}}</strong></label>
        </td>
    </tr>
    {% endif %}
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none"{% endif %}>
        <td>{{'Tel.:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="posttlf" id="posttlf" value="{{invoice.shippingPhone}}" />
            <input type="button" value="Hent" onclick="getAltAddress($('posttlf').value)" />
            {% else %}
            {{invoice.shippingPhone}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none"{% endif %}>
        <td>{{'Name:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="postname" id="postname" value="{{invoice.shippingName}}" />
            {% else %}
            {{invoice.shippingName}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none"{% endif %}>
        <td>{{'Attn.:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="postattn" id="postattn" value="{{invoice.shippingAttn}}" />
            {% else %}
            {{invoice.shippingAttn}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none"{% endif %}>
        <td>{{'Address:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="postaddress" id="postaddress" value="{{invoice.shippingAddress}}" />
            {% else %}
            {{invoice.shippingAddress}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none"{% endif %}>
        <td></td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="postaddress2" id="postaddress2" value="{{invoice.shippingAddress2}}" />
            {% else %}
            {{invoice.shippingAddress2}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none"{% endif %}>
        <td>{{'Postbox:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="postpostbox" id="postpostbox" value="{{invoice.shippingPostbox}}" />
            {% else %}
            {{invoice.shippingPostbox}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none"{% endif %}>
        <td>{{'Zipcode:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <input name="postpostalcode" id="postpostalcode" value="{{invoice.shippingPostcode}}" onblur="changeZipCode(this.value, 'postcountry', 'postcity')" onkeyup="changeZipCode(this.value, 'postcountry', 'postcity')" onchange="changeZipCode(this.value, 'postcountry', 'postcity')" />
            {{'City:'|trans}}
            <input name="postcity" id="postcity" value="{{invoice.shippingCity}}" />
            {% else %}
            {{invoice.shippingPostcode}} {{'City:'|trans}} {{invoice.shippingCity}}
            {% endif %}
        </td>
    </tr>
    <tr class="altpost"{% if not invoice.hasShippingAddress %} style="display:none"{% endif %}>
        <td>{{'Country:'|trans}}</td>
        <td>
            {% if not invoice or invoice.status == 'new' %}
            <select name="postcountry" id="postcountry" onblur="changeZipCode($('postpostalcode').value, 'postcountry', 'postcity')" onkeyup="changeZipCode($('postpostalcode').value, 'postcountry', 'postcity')" onchange="changeZipCode($('postpostalcode').value, 'postcountry', 'postcity')">
                <option value=""{% if not invoice.shippingCountry %} selected="selected"{% endif %}></option>
                {% for code, country in countries %}
                <option value="{{code}}"{% if invoice.shippingCountry == code or (not invoice and code == 'DK') %} selected="selected"{% endif %}>
                    {{country}}
                </option>
                {% endfor %}
            </select>
            {% else %}
            {{countries[invoice.shippingCountry]}}
            {% endif %}
        </td>
    </tr>
    {% if not invoice or invoice.status == 'new' %}
    <tr>
        <td colspan="2">
            <input type="checkbox"{% if not invoice or invoice.hasPreVat %} checked="checked"{% endif %} id="premoms" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" onclick="prisUpdate()" />
            <label for="premoms">{{'Entered amount includes VAT'|trans}}</label>
        </td>
    </tr>
    {% endif %}
</table>
<table id="data" cellspacing="0">
    <thead>
        <tr>
            <td>{{'Quantity'|trans}}</td>
            <td>{{'Title'|trans}}</td>
            <td class="tal">{{'unit price'|trans}}</td>
            <td class="tal">{{'Total'|trans}}</td>
        </tr>
    </thead>
    <tfoot>
        <tr style="height:auto;min-height:auto;max-height:auto">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="tal">{{'Net Amount'|trans}}</td>
            <td class="tal" id="netto">{{invoice.netAmount|number_format(2, localeconv.mon_decimal_point, '')}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="tal">{{'Freight'|trans}}</td>
            <td class="tal">
                {% if not invoice or invoice.status == 'new' %}
                <input maxlength="9" name="fragt" id="fragt" style="width:80px" class="tal" value="{{invoice.shipping|number_format(2, localeconv.mon_decimal_point, '')}}" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" />
                {% else %}
                {{invoice.shipping|number_format(2, localeconv.mon_decimal_point, '')}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="text-align:right">
                {% if not invoice or invoice.status == 'new' %}
                <select name="momssats" id="momssats" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()">
                    <option value="0.25"{% if not invoice or invoice.vat == '0.25'%} selected="selected"{% endif %}>25%</option>
                    <option value="0"{% if invoice and not invoice.vat %} selected="selected"{% endif %}>0%</option>
                </select>
                {% else %}
                {{invoice.vat * 100}}%
                {% endif %}
            </td>
            <td class="tal">{{'VAT Amount'|trans}}</td>
            <td class="tal" id="moms">{{(invoice.vat * invoice.netAmount)|number_format(2, localeconv.mon_decimal_point, '')}}</td>
        </tr>
        <tr class="border">
            <td colspan="2">&nbsp;</td>
            <td style="text-align:center;font-weight:bold">{{'TO PAY'|trans}}</td>
            <td class="tal" id="payamount">
                {{((invoice.vat + 1) * invoice.netAmount + invoice.shipping)|number_format(2, localeconv.mon_decimal_point, '')}}
            </td>
        </tr>
    </tfoot>
    <tbody id="vareTable">
        {% for item in invoice.items %}
        {% if not invoice or invoice.status == 'new' %}
        <tr>
            <td>
                <input name="quantitie" style="width:58px" class="tal" value="{{item.quantity}}" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" />
            </td>
            <td>
                <input name="product" style="width:303px" value="{{item.title}}" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" />
            </td>
            <td>
                <input name="value" style="width:69px" class="tal" value="{% if invoice.hasPreVat %}{{(item.value * 1.25)|number_format(2, localeconv.mon_decimal_point, '')}}{% else %}{{item.value|number_format(2, localeconv.mon_decimal_point, '')}}{% endif %}" onkeyup="prisUpdate()" onchange="prisUpdate()" onblur="prisUpdate()" />
            </td>
            <td class="tal total"></td>
            <td style="border:0;font-weight:bold">
                <a href="" onclick="return removeRow(this)">
                    <img alt="X" src="/theme/default/images/admin/cross.png" height="16" width="16" title="{{'Remove Line'|trans}}" />
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td class="tal">{{item.quantity}}</td>
            <td>{{item.title}}</td>
            <td class="tal">{{item.value|number_format(2, localeconv.mon_decimal_point, '')}}</td>
            <td class="tal">{{(item.value * item.quantity)|number_format(2, localeconv.mon_decimal_point, '')}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript"><!--
window.addEventListener("DOMContentLoaded", function(event) {
    {% if not invoice or invoice.status == 'new' %}
    setShippingAddressVisability($('altpost').checked);
    valideMail();
    prisUpdate();
    {% endif %}
    window.status = {% if invoice %}{{invoice.status|json_encode|raw}}{% else %}"new"{% endif%};
});
--></script>
{% endblock %}
