{% extends "admin/index.html" %}

{% block actions %}
<li>
    <a href="/admin/invoices/new/">
        <img src="/theme/default/images/admin/table_add.png" alt="" width="16" height="16" /> {{'Create new'|trans}}
    </a>
</li>
{% if currentUser.accessLevel == 1 %}
<li>
    <a href="/admin/invoices/payments/">
        <img src="/theme/default/images/admin/tick.png" width="16" height="16" alt="" title="Validate" /> {{'Validate'|trans}}
    </a>
</li>
{% endif %}
{% endblock %}

{% block canvas %}
<div id="headline">{{title}}</div>
<form action="" method="get">
    <table>
        <tr>
            <td>{{'ID:'|trans}}</td>
            <td>{{'Year:'|trans}}</td>
            <td>{{'Month:'|trans}}</td>
            <td>{{'Clerk:'|trans}}</td>
            <td>{{'Status:'|trans}}</td>
            <td>{{'Vat:'|trans}}</td>
        </tr>
        <tr>
            <td>
                <input name="id" value="{{selected.id}}" size="4" /></td><td>
                <select name="y">
                    {% for year in years %}
                    <option value="{{year}}"{% if selected.year == year %} selected="selected"{% endif %}>
                        {{year}}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="m">
                    <option value=""{% if selected.month == 0 %} selected="selected"{% endif %}>{{'All'|trans}}</option>
                    <option value="1"{% if selected.month == 1 %} selected="selected"{% endif %}>{{'Jan'|trans}}</option>
                    <option value="2"{% if selected.month == 2 %} selected="selected"{% endif %}>{{'Feb'|trans}}</option>
                    <option value="3"{% if selected.month == 3 %} selected="selected"{% endif %}>{{'Mar'|trans}}</option>
                    <option value="4"{% if selected.month == 4 %} selected="selected"{% endif %}>{{'Apr'|trans}}</option>
                    <option value="5"{% if selected.month == 5 %} selected="selected"{% endif %}>{{'May'|trans}}</option>
                    <option value="6"{% if selected.month == 6 %} selected="selected"{% endif %}>{{'Jun'|trans}}</option>
                    <option value="7"{% if selected.month == 7 %} selected="selected"{% endif %}>{{'Jul'|trans}}</option>
                    <option value="8"{% if selected.month == 8 %} selected="selected"{% endif %}>{{'Aug'|trans}}</option>
                    <option value="9"{% if selected.month == 9 %} selected="selected"{% endif %}>{{'Sep'|trans}}</option>
                    <option value="10"{% if selected.month == 10 %} selected="selected"{% endif %}>{{'Oct'|trans}}</option>
                    <option value="11"{% if selected.month == 11 %} selected="selected"{% endif %}>{{'Nov'|trans}}</option>
                    <option value="12"{% if selected.month == 12 %} selected="selected"{% endif %}>{{'Dec'|trans}}</option>
                </select>
            </td>
            <td>
                {% if users|length < 2 %}<span style="display:none">{% endif %}
                <select name="clerk">
                    <option value=""{% if not selected.clerk %} selected="selected"{% endif %}>{{'All'|trans}}</option>
                    {% for user in users %}
                    <option value="{{user.fullName}}"{% if selected.clerk == user.fullName %} selected="selected"{% endif %}>
                        {{user.fullName}}
                    </option>
                    {% endfor %}
                </select>
                {% if users|length < 2 %}</span>{% endif %}
            </td>
            <td>
                <select name="status">
                    {% for value, name in statusOptions %}
                    <option value="{{value}}"{% if selected.status == value %} selected="selected"{% endif %}>
                        {{name}}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="momssats">
                    <option value=""{% if selected.momssats is null %} selected="selected"{% endif %}>{{'All'|trans}}</option>
                    <option value="0.25"{% if selected.momssats == '0.25' %} selected="selected"{% endif %}>25%</option>
                    <option value="0"{% if selected.momssats == '0' %} selected="selected"{% endif %}>0%</option>
                </select>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>{{'Name'|trans}}</td>
            <td>{{'Phone'|trans}}</td>
            <td>{{'Email'|trans}}</td>
            {% if departments|length > 1 %}<td>{{'Department'|trans}}</td>{% endif %}
            <td></td>
        </tr>
        <tr>
            <td><input name="name" value="{{selected.name}}" maxlength="64" /></td>
            <td><input name="tlf" value="{{selected.tlf}}" maxlength="16" /></td>
            <td><input name="email" value="{{selected.email}}" maxlength="64" /></td>
            {% if departments|length > 1 %}
            <td>
                <select name="department">
                    <option value="">{{'All'|trans}}</option>
                    {% for department in departments %}
                    <option{% if selected.department == department %} selected="selected"{% endif %}>{{department}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}
            <td><input type="submit" value="{{'Fetch'|trans}}" /></td>
        </tr>
    </table>
</form>
<table id="list" style="width:100%; margin:0 0 113px 0">
    <thead>
        <tr>
            <td style="width:16px;"></td>
            <td>{{'I'|trans}}D</td>
            <td>{{'Created'|trans}}</td>
            {% if not selected.clerk %}<td>{{'Responsible'|trans}}</td>{% endif %}
            <td>{{'Amount'|trans}}</td>
            <td>{{'Recipient'|trans}}</td>
        </tr>
    </thead>
    <tbody>
    {% for invoice in invoices %}
        <tr>
            <td style="text-align:center">
                <a href="/admin/invoices/{{invoice.id}}/">
                    {% if invoice.status == 'new' %}
                    <img src="/theme/default/images/admin/table.png" alt="{{'New'|trans}}" title="{{'New'|trans}}" />
                    {% elseif invoice.status == 'locked' and invoice.sent %}
                    <img src="/theme/default/images/admin/email_go.png" alt="{{'Sent'|trans}}" title="{{'Sent to customer'|trans}}" />
                    {% elseif invoice.status == 'locked' %}
                    <img src="/theme/default/images/admin/lock.png" alt="{{'Locked'|trans}}" title="{{'Locked'|trans}}" />
                    {% elseif invoice.status == 'pbsok' %}
                    <img src="/theme/default/images/admin/money.png" alt="{{'Ready'|trans}}" title="{{'Ready'|trans}}" />
                    {% elseif invoice.status == 'accepted' %}
                    <img src="/theme/default/images/admin/creditcards.png" alt="{{'Expedited'|trans}}" title="{{'Expedited'|trans}}" />
                    {% elseif invoice.status == 'giro' %}
                    <img src="/theme/default/images/admin/building.png" alt="{{'Giro'|trans}}" title="{{'Giro'|trans}}" />
                    {% elseif invoice.status == 'cash' %}
                    <img src="/theme/default/images/admin/email.png" alt="{{'Cash'|trans}}" title="{{'Cash'|trans}}" />
                    {% elseif invoice.status == 'pbserror' %}
                    <img src="/theme/default/images/admin/error.png" alt="{{'Error'|trans}}" title="{{'Error'|trans}}" />
                    {% elseif invoice.status == 'canceled' %}
                    <img src="/theme/default/images/admin/bin.png" alt="{{'Canceled'|trans}}" title="{{'Canceled'|trans}}" />
                    {% elseif invoice.status == 'rejected' %}
                    <img src="/theme/default/images/admin/bin.png" alt="{{'Rejected'|trans}}" title="{{'Rejected'|trans}}" />
                    {% endif %}
                </a>
            </td>
            <td style="text-align:right">
                <a href="/admin/invoices/{{invoice.id}}/">{{invoice.id}}</a>
            </td>
            <td style="text-align:right">
                <a href="/admin/invoices/{{invoice.id}}/">{{invoice.timestamp|date('d-m-Y')}}</a>
            </td>
            {% if not selected.clerk %}<td><a href="/admin/invoices/{{invoice.id}}/">{{invoice.clerk}}</a></td>{% endif %}
            <td style="text-align:right">
                <a href="/admin/invoices/{{invoice.id}}/">{{invoice.amount|number_format(2, '.', ',')}}</a>
            </td>
            <td>
                <a href="/admin/invoices/{{invoice.id}}/">
                    {% if not invoice.name and invoice.email %}{{invoice.email}}{% else %}{{invoice.name}}{% endif %}
                </a>
                <div class="address">
                    {{invoice.name}}<br/>
                    {{'Attn.:'|trans}} {{invoice.attn}}<br/>
                    {{invoice.address}}<br/>
                    {{invoice.postbox}}<br/>
                    {{invoice.postcode}} {{invoice.city}}<br/>
                    {% if selected.country %}{{countries[selected.country]}}<br/>
                    {% endif %}{{invoice.email}}<br/>
                    {{invoice.phone1}}<br/>
                    {{invoice.phone2}}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
