{% extends "admin/index.html" %}

{% block canvas %}
<div id="headline">Maintenance</div><div>
    <div>
        <div>
            <b>Server consumption</b> - E-mail:
            <span id="mailboxsize">
                <button onclick="$('loading').style.visibility = ''; x_get_mail_size(get_mail_size_r);">
                    Get e-mail consumption
                </button>
            </span>
            DB: <span id="dbsize">{{dbSize|number_format(1, ',', '')}}MB</span>
            WWW: <span id="wwwsize">{{wwwSize|number_format(1, ',', '')}}MB</span>
        </div>
        <div id="status"></div>
        <button onclick="scan_db();">Scan database</button>
        <button onclick="get_subscriptions_with_bad_emails();">Check emails in the address book</button>
        <button onclick="removeNoneExistingFiles();">Clean up files</button>
        <div id="errors"></div>

        <div>Delayed e-mails {{pendingEmails}}/{{totalDelayedEmails}}</div>
        <div>Cron last run at {{lastrun|date('d-m-Y')}}</div>
    </div>
</div>
{% endblock %}
