{% extends "admin/index.html" %}

{% block canvas %}
<div id="headline">{{'Maintenance'|trans}}</div><div>
    <div>
        <div>
            <b>{{'Server consumption'|trans}}</b> - {{'Email:'|trans}}
            <span id="mailboxsize">
                <button onclick="getEmailUsage()">{{'Get e-mail consumption'|trans}}</button>
            </span>
            {{'DB:'|trans}} <span id="dbsize">{{dbSize|number_format(1, ',', '')}}MiB</span>
            {{'WWW:'|trans}} <span id="wwwsize">{{wwwSize|number_format(1, ',', '')}}MiB</span>
        </div>
        <div id="status"></div>
        <button onclick="scan_db();">{{'Scan database'|trans}}</button>
        <button onclick="get_subscriptions_with_bad_emails();">{{'Check emails in the address book'|trans}}</button>
        <button onclick="removeNoneExistingFiles();">{{'Clean up files'|trans}}</button>
        <div id="errors"></div>

        <div>{{'Delayed emails %pending%/%total%'|trans|replace({'%pending%': pendingEmails, '%total%': totalDelayedEmails})}}</div>
        <div>{{'Cron last run at %date%'|trans|replace({'%date%': lastrun|date('d-m-Y')})}}</div>
    </div>
</div>
{% endblock %}
