<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/theme/default/style/admin/style.css" />
        <link rel="stylesheet" type="text/css" href="/theme/default/style/admin/calendar.css" />
        <link rel="stylesheet" type="text/css" href="/theme/default/style/admin/faktura.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/theme/default/style/admin/mainmenu.css" />
        <link rel="stylesheet" type="text/css" href="/theme/default/style/admin/proto.menu.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/theme/{{theme}}/style/admin.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>
        <script type="text/javascript" src="/javascript/admin/lib/protomenu/proto.menu.js"></script>
        <script type="text/javascript" src="/javascript/xHttp.js"></script>
        <script type="text/javascript" src="/javascript/admin/javascript.js"></script>
        <script type="text/javascript" src="/javascript/admin/index.js"></script>
        <script type="text/javascript" src="/javascript/admin/list.js"></script>
        <script type="text/javascript" src="/javascript/admin/calendar.js"></script>
        <script type="text/javascript" src="/javascript/admin/invoice.js"></script>
        <script type="text/javascript" src="/javascript/admin/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/javascript/admin/ckeditor/config.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                attachContextMenus();
                xHttp.request("/javascript/zipcodedk.json", loadZipCodesDk);
            });
        </script>
    </head>
    <body onload="init()">
        <div id="canvas">{% block canvas %}{% endblock %}</div>
        <div id="mainmenu">
            <a class="menuboxheader" onclick="showhide('Activity')">{{'Actions'|trans}}</a>
            <ul id="Activity"{% if hide.activity %} style="display:none"{% endif %}>
                {% block actions %}{% endblock %}
                <li id="loading" style="cursor:default"><img src="/theme/default/images/admin/loading.gif" width="16" height="16" alt="{{'Processing'|trans}}" /> {{'Loading'|trans}}</li>
                <li><a href="/admin/logout"><img src="/theme/default/images/admin/door_in.png" width="16" height="16" alt="" /> {{'Log out'|trans}}</a></li>
            </ul>
            <a class="menuboxheader" onclick="showhide('Indhold')">{{'Content'|trans}}</a>
            <ul id="Indhold"{% if hide.indhold %} style="display:none"{% endif %}>
                <li><a href="/admin/page/"><img src="/theme/default/images/admin/page_add.png" width="16" height="16" alt="" /> {{'Create page'|trans}}</a></li>
                <li><a href="/admin/categories/"><img src="/theme/default/images/admin/folder_add.png" width="16" height="16" alt="" /> {{'Create category'|trans}}</a></li>
                <li><a href="/admin/sitetree/"><img src="/theme/default/images/admin/book_open.png" width="16" height="16" alt="" /> {{'Overview'|trans}}</a></li>
                <li><a href="#" onclick="return jumpto()"><img src="/theme/default/images/admin/book_go.png" width="16" height="16" alt="" /> {{'Skip to page'|trans}}</a>
                <form onsubmit="jumpto();return false" action="" method="get"><input style="width:1px;height:1px;position:absolute;top:-20px;left:-20px" type="submit" accesskey="g" />
                    <p style="display:inline"><input style="width:30px" id="jumptoid" name="id" /></p>
                </form>
                </li>
                <li><a href="#" onclick="return sogsearch()">
                        <img src="/theme/default/images/admin/find.png" width="16" height="16" alt="" />
                        {{'Search'|trans}}
                    </a>
                    <form onsubmit="sogsearch();return false" action="/admin/search/" method="get">
                        <input style="width:1px;height:1px;position:absolute;top:-20px;left:-20px" type="submit" accesskey="f" />
                        <p style="display:inline">
                            <input style="width:91px" id="sogtext" name="text" />
                        </p>
                    </form>
                </li>
            </ul>
            <a class="menuboxheader" onclick="showhide('Suplemanger')">{{'Lists'|trans}}</a>
            <ul id="Suplemanger"{% if hide.suplemanger %} style="display:none"{% endif %}>
                <li><a href="/admin/requirement/list/"><img src="/theme/default/images/admin/page_white_key.png" width="16" height="16" alt="" /> {{'Requirements'|trans}}</a></li>
                <li><a href="/admin/brands/"><img src="/theme/default/images/admin/page_white_medal.png" width="16" height="16" alt="" /> {{'Brands'|trans}}</a></li>
                <li><a href="/admin/sortings/"><img src="/theme/default/images/admin/shape_align_left.png" width="16" height="16" alt="" /> {{'List sorting'|trans}}</a></li>
            </ul>
            <a class="menuboxheader" onclick="showhide('Tools')">{{'Tools'|trans}}</a>
            <ul id="Tools"{% if hide.tools %} style="display:none"{% endif %}>
                <li><a onclick="explorer('','')"><img src="/theme/default/images/admin/folder_page_white.png" width="16" height="16" alt="" /> {{'Open file manager'|trans}}</a></li>
                <li><a href="/admin/newsletters/"><img src="/theme/default/images/admin/email.png" width="16" height="16" alt="" /> {{'Newsletters'|trans}}</a></li>
                <li><a href="/admin/addressbook/list/"><img src="/theme/default/images/admin/book_addresses.png" width="16" height="16" alt="" /> {{'Address Book'|trans}}</a></li>
                <li><a href="/admin/maintenance/"><img src="/theme/default/images/admin/database_error.png" width="16" height="16" alt="" /> {{'Maintenance'|trans}}</a></li>
                <li><a href="/admin/users/"><img src="/theme/default/images/admin/group_edit.png" width="16" height="16" alt="" /> {{'Users and Groups'|trans}}</a></li>
                <li><a href="/admin/sitetree/inventory/"><img src="/theme/default/images/admin/book_open.png" width="16" height="16" alt="" /> {{'Pricelist'|trans}}</a></li>
                <li><a href="/admin/invoices/"><img src="/theme/default/images/admin/table_multiple.png" width="16" height="16" alt="" /> {{'Invoices'|trans}}</a></li>
            </ul>
        </div>
    </body>
</html>
