{% extends "admin/index.html" %}

{% block canvas %}
<div id="headline">Requirements list</div>
<div style="margin:16px;">
    <a href="?side=editkrav">Tilføj krav</a>
    {% for requirement in requirements %}
    <div id="krav{{requirement.id}}">
        <a href="" onclick="slet('krav',{{requirement.title|json_encode()}},{{requirement.id}});">
            <img src="/theme/default/images/admin/cross.png" title="Slet {{requirement.title}}!" width="16" height="16" />
        </a>
        <a href="?side=editkrav&amp;id={{requirement.id}}">{{requirement.title}}</a>
    </div>
    {% endfor %}
    </div>
{% endblock %}
