{% extends "admin/index.html" %}

{% block actions %}
<li><a onclick="updatemaerke(null)"><img src="/theme/default/images/admin/disk.png" width="16" height="16" alt="" /> {{'Save brand'|trans}}</a></li>
{% endblock %}

{% block canvas %}
{% spaceless %}
<div id="headline">{{'List of brands'|trans}}</div>
<form action="" id="maerkerform" onsubmit="return updatemaerke(null)">
    {% include 'admin/partial-maerker.html' %}
    <div id="imagelogo" style="display:none;position:absolute"></div>
    {% for brand in brands %}
        <div id="maerke{{brand.id}}">
            <a href="" onclick="return deleteBrand({{brand.title|json_encode()}},{{brand.id}})">
                <img src="/theme/default/images/admin/cross.png" alt="X" title="{{'Delete %title%!'|trans|replace({'%title%': brand.title})}}" width="16" height="16" />
            </a>
            <a href="/admin/brands/{{brand.id}}/"{% if not brand.link %} style="margin-left:{% if not brand.icon %}32{% else %}16{% endif %}px"{% endif %}>
                {% if brand.link %}
                <img src="/theme/default/images/admin/link.png" alt="W" width="16" height="16" title="{{brand.link}}"{% if not brand.icon %} style="margin-right:16px"{% endif %} />
                {% endif %}

                {% if brand.icon %}
                <img alt="icon" title="" src="/theme/default/images/admin/picture.png" width="16" height="16" onmouseout="document.getElementById('imagelogo').style.display = 'none'" onmouseover="showimage(this,{{brand.icon.path|json_encode()}})" />
                {% endif %}
                {{brand.title}}
            </a>
        </div>
    {% endfor %}
    </form>
{% endspaceless %}
{% endblock %}
