{% spaceless %}
{% for category in node.children %}
{% set hasContent = (includePages and category.hasContent) or category.hasChildren %}
{% set isOpen = hasContent and category.id in openCategories %}
<div id="kat{{category.id}}">
    {% if hasContent %}
    <img{% if isOpen %} style="display:none"{% endif %} src="/theme/default/images/admin/+.gif" id="kat{{category.id}}expand" onclick="expandCategory({{category.id}},{{inputType|json_encode()}},expandCategory_r)" height="16" width="16" alt="+" title="" />
    <img{% if not isOpen %} style="display:none"{% endif %} src="/theme/default/images/admin/-.gif" id="kat{{category.id}}contract" onclick="contractCategory({{category.id}})" height="16" width="16" alt="-" title="" />
    {% endif %}
    <a class="kat"{% if not hasContent %} style="margin-left:16px"{% endif %}{% if inputType == 'categories' %} onclick="this.firstChild.checked=true;setCookie('activekat',{{category.id}},360)"{% elseif not inputType %} href="{% if category.id %}/admin/categories/{{category.id}}/{% else %}/admin/custom/1/{% endif %}"{% endif %}>
        {% if inputType == 'categories' %}<input name="kat" type="radio" value="{{category.id}}"{% if selectedCategory.id == category.id %} checked="checked"{% endif %} />{% endif %}
        <img src="{% if category.icon %}{{category.icon.path}}{% else %}/theme/default/images/admin/{% if category.id == 0 %}page.png{% else %}folder.png{% endif %}{% endif %}" width="16" height="16" alt="" /> {{category.title}}
    </a>
    {% if hasContent %}
    <div id="kat{{category.id}}content" style="margin-left:16px">
        {% if isOpen %}
        {% include 'admin/partial-kat_expand.html' with {'node': category} %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% endfor %}
{% if includePages %}
{% for page in node.pages %}
<div id="bind{{node.id}}p{{page.id}}" class="side{{page.id}}">
    <a class="side"{% if inputType != 'pages' %} style="margin-left:16px" href="/admin/page/{{page.id}}/"{% endif %}>
        {% if inputType == 'pages' %}<input name="side" type="radio" value="{{page.id}}" />{% endif %}
        <img src="/theme/default/images/admin/page.png" width="16" height="16" alt="" /> {{page.title}}
        {% if page.sku %}<em>#:{{page.sku}}</em>{% endif %}
    </a>
</div>
{% endfor %}
{% endif %}
{% endspaceless %}
