<tr class="path">
    <td colspan="8">
        <a href="?sort={{sort}}&amp;kat={{category.id}}">
            <img src="/theme/default/images/admin/find.png" alt="{{'View'|trans}}" title="{{'Limit list to this section'|trans}}" />
        </a>
        {% if pathPrefix %}{{pathPrefix}}{% endif %}<a href="{{category.canonicalLink}}">{{category.title}}</a>
    </td>
</tr>
{% for page in category.pages(sort, reverseOrder) %}
<tr{% if loop.index is even %} class="altrow"{% endif %}>
    <td class="tal"><a href="/admin/page/{{page.id}}/">{{page.id}}</a></td>
    <td><a href="{{page.canonicalLink}}">{{page.title}}</a></td>
    <td>{{page.sku}}</td>
    <td class="tal">{% if page.oldPrice %}{{page.oldPrice|number_format(2, localeconv.mon_decimal_point, localeconv.mon_thousands_sep)}}{% endif %}</td>
    <td class="tal">{% if page.price %}{{page.price|number_format(2, localeconv.mon_decimal_point, localeconv.mon_thousands_sep)}}{% endif %}</td>
    <td class="tal">{{page.timeStamp|date('d-m-Y H:i:s')}}</td>
    <td>{{page.brand.title}}</td>
    <td>{{page.requirement.title}}</td>
</tr>
{% endfor %}
{% set pathPrefix = pathPrefix ~ category.title ~ ' > ' %}
{% for category in category.children %}
    {% include 'admin/partial-listview.html' %}
{% endfor %}
