{% extends "admin/index.html" %}

{% block actions %}
<li><a onclick="updateSide({{page.id}});"><img src="/theme/default/images/admin/disk.png" width="16" height="16" alt="" /> Save page</a></li>
{% endblock %}

{% block canvas %}
<div id="headline">{% if page %}Edit page #{{page.id}}{% else %}Opret ny side{% endif %}</div>
<form action="" method="post" onsubmit="return updateSide({{page.id}});">
    <input type="submit" accesskey="s" style="width:1px; height:1px; position:absolute; top: -20px; left:-20px;" />
    <input type="hidden" name="id" id="id" value="{{page.id}}" />
    <div>
        <input class="admin_name" type="text" name="navn" id="navn" value="{{page.title}}" maxlength="127" size="127" style="width:{{textWidth + 19}}px" />
        <textarea id="text" style="width:{{textWidth + 32}}px;height:420px">{{page.html|raw}}</textarea>
        <script><!--
            CKEDITOR.config.width = {{textWidth + 32}};
            CKEDITOR.config.contentsCss = '/theme/{{theme}}/style/rtef-text.css';
            CKEDITOR.replace('text');
        --></script>
        Search word (separate search words with a comma 'Emergency Blanket, Emergency Blanket'):<br />
        <textarea name="keywords" id="keywords" style="width:{{textWidth}}px;max-width:{{textWidth}}px" rows="2" cols="">{{page.keywords}}</textarea>
    </div>
    <div class="toolbox">
        <a class="menuboxheader" id="beskrivelseboxheader" style="width:{{thumbWidth - 16}}px" onclick="showhide('beskrivelsebox',this);">
            Description:
        </a>
        <div style="text-align:center;width:{{thumbWidth + 4}}px{% if hide.description %};display:none{% endif %}" id="beskrivelsebox">
            <br />
            <input id="icon_id" name="icon_id" type="hidden" value="{{page.icon.id}}" />
            <img id="icon_idthb" src="{% if page.icon.path %}{{page.icon.path}}{% else %}/images/web/intet-foto.jpg{% endif %}" alt="" onclick="explorer('thb', 'icon_id')" />
            <br />
            <img onclick="explorer('thb', 'icon_id')" src="/theme/default/images/admin/folder_image.png" width="16" height="16" alt="Pictures" title="Find image" />
            <img onclick="setThb('icon_id','','/images/web/intet-foto.jpg')" src="/theme/default/images/admin/cross.png" alt="X" title="Remove picture" width="16" height="16" />
            <textarea id="beskrivelse" style="width:{{thumbWidth}}px;height:115px">{% if page.hasExcerpt %}{{page.excerpt|trim}}{% endif %}</textarea>
        </div>
    </div>
    <div class="toolbox">
        <a class="menuboxheader" id="priserheader" style="width:261px" onclick="showhide('priser',this);">Price: </a>
        <div style="width:281px{% if hide.prices %};display:none{% endif %}" id="priser">
            <table style="width:100%">
                <tr>
                    <td>
                        <select name="burde" id="burde">
                            <option value="0"{% if page.oldPriceType == 0 %} selected="selected"{% endif %}>Before</option>
                            <option value="1"{% if page.oldPriceType == 1 %} selected="selected"{% endif %}>Indicative price</option>
                            <option value="2"{% if page.oldPriceType == 2 %} selected="selected"{% endif %}>Should cost</option>
                        </select>
                    </td>
                    <td style="text-align:right">
                        <input class="XPris" onkeypress="return checkForInt(event)" onchange="prisHighlight()" value="{{page.oldPrice}}" name="for" id="for" size="11" maxlength="11" style="width:100px;text-align:right" />
                        ,-
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="fra" id="fra">
                            <option value="0"{% if page.priceType == 0 %} selected="selected"{% endif %}>Price</option>
                            <option value="1"{% if page.priceType == 1 %} selected="selected"{% endif %}>From</option>
                            <option value="2"{% if page.priceType == 2 %} selected="selected"{% endif %}>Used</option>
                        </select>
                    </td>
                    <td style="text-align:right">
                        <input value="{{page.price}}" class="{% if page.oldPrice %}NyPris{% else %}Pris{% endif %}" name="pris" id="pris" size="11" maxlength="11" style="width:100px;text-align:right" onkeypress="return checkForInt(event)" onchange="prisHighlight()" />
                        ,-
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="toolbox">
        <a class="menuboxheader" id="miscboxheader" style="width:250px" onclick="showhide('miscbox',this);">
            Other:
        </a>
        <div style="width:270px{% if hide.misc %};display:none{% endif %}" id="miscbox">
            SKU:
            <input type="text" name="varenr" id="varenr" maxlength="63" style="text-align:right;width:128px" value="{{page.sku}}" />
            <br />
            <img src="/theme/default/images/admin/page_white_key.png" width="16" height="16" alt="" />
            <select id="krav" name="krav">
                {% for requirementId, name in requirementOptions %}
                <option{% if page.requirement.id == requirementId %} selected="selected"{% endif %} value="{{requirementId}}">
                    {{name}}
                </option>
                {% endfor %}
            </select>
            <br />
            <img width="16" height="16" alt="" src="/theme/default/images/admin/page_white_medal.png" />
            <select id="maerke" name="maerke" size="10">
                <option{% if not page.brand.id %} selected="selected"{% endif %} value="0">None</option>
                {% for brand in brands %}
                <option{% if brand.id == page.brand.id %} selected="selected"{% endif %} value="{{brand.id}}">{{brand.title}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if page %}
    <div class="toolbox">
        <a class="menuboxheader" id="listboxheader" style="width:{{textWidth - 20 + 32}}px" onclick="showhide('listbox',this);">
            Lists:
        </a>
        <div style="width:{{textWidth + 32}}px{% if hide.listbox %};display:none{% endif %}" id="listbox">
            {% spaceless %}
            {% for table in page.tables %}
            <table>
                <thead>
                    <tr>
                        {% for column in table.columns %}
                        <td>{{column.title}}</td>
                        {% endfor %}
                        {% if table.hasLinks %}
                        <td><img src="/theme/default/images/admin/link.png" alt="Link" title="" width="16" height="16" /></td>
                        {% endif %}
                        <td style="width:32px;"></td>
                    </tr>
                </thead>
                <tfoot>
                    <tr id="list{{table.id}}footer">
                        {% for column in table.columns %}
                        {% if column.sorting == 0 %}
                        <td><input style="display:none;{% if column.type != 0 %}text-align:right;{% endif %}" /></td>
                        {% else %}
                        <td>
                            <select style="display:none;">
                                <option value=""></option>
                                {% for option in column.options %}
                                <option value="{{option}}">{{option}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        {% endif %}
                        {% endfor %}
                        {% if table.hasLinks %}
                        <td><input style="display:none;text-align:right;" /></td>
                        {% endif %}
                        <td>
                            <img onclick="listInsertRow({{table.id}});" src="/theme/default/images/admin/disk.png" alt="Edit" title="Edit" width="16" height="16" />
                        </td>
                    </tr>
                </tfoot>
                <tbody id="list{{table.id}}rows">
                    {% if table.rows %}
                    {% for row in table.rows %}
                    <tr id="list_row{{row.id}}">
                        {% for columnId, column in table.columns %}
                        {% if column.sort == 0 %}
                        <td{% if column.type %} style="text-align:right;"{% endif %}>
                            <input value="{{row[columnId]}}" style="display:none;{% if column.type %}text-align:right;{% endif %}" />
                            <span>{{row[columnId]}}</span>
                        </td>
                        {% else %}
                        <td>
                            <select style="display:none">
                                <option value=""></option>
                                {% for option in column.options %}
                                <option value="{{option}}"{% if row[columnId] == option %} selected="selected"{% endif %}>
                                    {{option}}
                                </option>
                                {% endfor %}
                            </select>
                            <span>{{row[columnId]}}</span>
                        </td>
                        {% endif %}
                        {% endfor %}
                        {% if table.hasLinks %}
                        <td style="text-align:right;">
                            <input value="{{row.page.id}}" style="display:none;text-align:right;" />
                            <span>{{row.page.id}}</span>
                        </td>
                        {% endif %}
                        <td>
                            <img onclick="listEditRow({{table.id}}, {{row.id}});" src="/theme/default/images/admin/application_edit.png" alt="Edit" title="Edit" width="16" height="16" />
                            <img onclick="listUpdateRow({{table.id}}, {{row.id}});" style="display:none" src="/theme/default/images/admin/disk.png" alt="Edit" title="Edit" width="16" height="16" />
                            <img onclick="listRemoveRow({{table.id}}, {{row.id}});" src="/theme/default/images/admin/cross.png" alt="X" title="Delete row" />
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <script type="text/javascript"><!--
                Event.observe(window, 'load', function() { listSizeFooter({{table.id}}); });
                listlink[{{table.id}}] = {{table.hasLinks|json_encode()|raw}};
            --></script>
            {% endfor %}
            {% endspaceless %}
            <input type="button" onclick="window.open('addlist.php?id={{page.id}}', 'addlist','toolbar=0,height=250');" value="Add list">
        </div>
    </div>
</form>
<form action="" method="post" onsubmit="return bind({{page.id}});">
    {% endif %}
    <div class="toolbox">
        <a class="menuboxheader" id="bindingheader" style="width:366px;" onclick="showhide('binding',this);">
            Bindinger:
        </a>
        <div id="binding"{% if hide.binding %} style="display:none;"{% endif %}>
            <div id="bindinger">
                <br />
                {% for categoryId, path in bindings %}
                <p id="bind{{categoryId}}">
                    <img onclick="removeBinding({{path|json_encode()}}, {{page.id}}, {{categoryId}})" src="/theme/default/images/admin/cross.png" alt="X" title="Remove binding" width="16" height="16" />
                    {{path}}
                </p>
                {% endfor %}
            </div>
            {% include 'admin/partial-katlist.html' %}
            {% if page %}
            <br />
            <input type="submit" value="Create binding" accesskey="b" />
            {% endif %}
        </div>
    </div>
</form>
{% if page %}
<form action="" method="post" onsubmit="return addAccessory({{page.id}})">
    <div class="toolbox">
        <a class="menuboxheader" id="accessoryheader" style="width:593px;" onclick="showhide('tilbehor',this);">
            Accessories:
        </a>
        <div id="tilbehor"{% if hide.tilbehor %} style="display:none;"{% endif %}>
            <div id="accessories">
                <br />
                {% for accessoryId, accessoryTitle in accessories %}
                <p id="accessory{{accessoryId}}">
                    <img onclick="removeAccessory({{accessoryTitle|json_encode()}}, {{page.id}}, {{accessoryId}})" src="/theme/default/images/admin/cross.png" alt="X" title="Remove binding" width="16" height="16" />
                    {{accessoryTitle}}
                </p>
                {% endfor %}
            </div>
            <div><iframe id="accessoryFrame" src="/admin/editpage/pagelist/" width="100%" height="300"></iframe></div>
            <br />
            <input type="submit" value="Add accessories" accesskey="a" />
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
