{% extends "admin/index.html" %}

{% block actions %}
    <li><a onclick="updateSpecial({{page.id}})"><img src="/theme/default/images/admin/disk.png" width="16" height="16" alt="" /> {{'Save page'|trans}}</a></li>
{% endblock %}

{% block canvas %}
<div id="headline">{{'Edit %title%'|trans|replace({'%title%': page.title})}}</div>
<form action="" method="post" onsubmit="return updateSpecial({{page.id}})">
    <input type="submit" accesskey="s" style="width:1px;height:1px;position:absolute;top:-20px;left:-20px" />
    {% if category %}
    <input class="admin_name" id="title" value="{{category.title}}" maxlength="127" size="127" style="width:{{textWidth + 19}}px" />
    {% endif %}
    <textarea id="text" style="width:{{textWidth}}px;height:420px">{{page.html|raw}}</textarea>
    <script><!--
        CKEDITOR.config.width = {{pageWidth + 32}};
        CKEDITOR.config.contentsCss = '/theme/{{theme}}/style/rtef-text.css';
        CKEDITOR.replace('text');
    --></script>
    {% if categories %}
    <br />
    {{'Sort main categories:'|trans}}
    <ul id="subMenus">
        {% for category in categories %}
        <li id="item_{{category.id}}">
            <img src="{% if category.icon %}{{category.icon.path}}{% else %}/theme/default/images/admin/folder.png{% endif %}" alt=""> {{category.title}}
        </li>
        {% endfor %}

    </ul>
    <input type="hidden" id="subMenusOrder" />
    <script type="text/javascript"><!--
        Sortable.create(
            'subMenus',
            {
                ghosting:false,
                onstraint:false,
                hoverclass:'over',
                onChange:function(element){
                    var newOrder = Sortable.serialize(element.parentNode);
                    newOrder = newOrder.replace(/subMenus\[\]=/g,"");
                    newOrder = newOrder.replace(/&/g,",");
                    $('subMenusOrder').value = newOrder;
                }
            }
        );
        var newOrder = Sortable.serialize($('subMenus'));
        newOrder = newOrder.replace(/subMenus\[\]=/g,"");
        newOrder = newOrder.replace(/&/g,",");
        $('subMenusOrder').value = newOrder;
    --></script>
    {% endif %}
</form>
{% endblock %}
