{% extends "admin/index.html" %}

{% block actions %}
<li><a href="/admin/users/new/"><img src="/theme/default/images/admin/table_add.png" width="16" height="16" alt="" title="Create new" /> Create new</a></li>
{% endblock %}

{% block canvas %}
<div id="headline">Users and Groups</div>
<table id="list">
    <thead>
        <tr>
            <td></td>
            <td><a href="/admin/users/">Name</a></td>
            <td><a href="/admin/users/?order=date">Last online</a></td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
            {% if currentUser.accessLevel %}
                <img src="/theme/default/images/admin/cross.png" alt="X" title="Delete" onclick="deleteuser({{user.id}}, {{user.fullName|json_encode()}})" />
            {% endif %}
            </td>
            <td><a href="/admin/users/{{user.id}}/">{{user.fullName}}</a></td>
            <td><a href="/admin/users/{{user.id}}/">{{user.lastLoginText}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
