{% extends "index.html" %}

{% block content %}
<div id="text" class="clearfix">
    <div id="date">{{renderable.timeStamp|date('d-m-Y H:i:s')}}</div>
    <h1>{{renderable.title}}</h1>
    {{renderable.html|raw}}
    {% for table in renderable.tables %}
    {% if table.rows %}
    <div id="table{{table.id}}">
    {% include 'partial-table.html' with {'orderBy': table.orderBy} %}
    </div>
    {% endif %}
    {% endfor %}
    {% if renderable.oldPrice > 0%}
    <div id="spar">Spar<br />{{(100 / renderable.oldPrice * (renderable.oldPrice - renderable.price))|round}}%</div>
    {% endif %}
    {% if renderable.requirement %}
    <a id="krav" href="{{renderable.requirement.canonicalLink}}" onclick="return openkrav({{renderable.requirement.canonicalLink|json_encode()}})" target="krav">
        <img src="/theme/arms-gallery.dk/images/advarsel.gif" alt="" title="" width="54" height="47" /><br />
        {{renderable.requirement.title}}
    </a>
    {% endif %}
    <p style="text-align:right">
        {% if renderable.sku %}
        <br /><strong>Varenr: {{renderable.sku}}</strong><br />
        {% endif %}
        {% if not hasProductTable %}
        {% include 'price.html' with {'product': renderable} %}
        {% if renderable.price > 0 %}
        <a href="" onclick="shoppingCart.addItem('page', {{renderable.id}}); return false">
            <img src="/theme/default/images/cart_add.png" alt="+" title="Tilføj til indkøbshummer" />
        </a>
        {% endif %}
        {% endif %}
    </p>
    {% if renderable.brand %}
    <p align="center" style="clear:both">Se andre produkter af samme mærke</p>
    {% include 'productTiles.html' with {'products': [renderable.brand]} %}
    {% endif %}
</div>
{% if renderable.activeAccessories %}
<p align="center" style="clear:both">Tilbehør</p>
{% include 'productTiles.html' with {'products': renderable.activeAccessories} %}
{% endif %}
{% endblock %}
