{% extends "index.html" %}

{% block content %}
<div id="text">
    <div style="padding-left:16px">
        <h1>Søg</h1>
        <form action="/" method="get">
            <table>
                <tr>
                    <td>Indeholder</td>
                    <td><input name="q" size="31" /></td>
                    <td><input type="submit" value="Søg" /></td>
                </tr>
                <tr>
                    <td>Varenummer</td>
                    <td><input name="varenr" size="31" value="" maxlength="63" /></td>
                </tr>
                <tr>
                    <td>Uden ordene</td>
                    <td><input name="sogikke" size="31" value="" /></td>
                </tr>
                <tr>
                    <td>Min pris</td>
                    <td><input name="minpris" size="5" maxlength="11" value="" />,-</td>
                </tr>
                <tr>
                    <td>Max pris</td>
                    <td><input name="maxpris" size="5" maxlength="11" value="" />,-</td>
                </tr>
                <tr>
                    <td>Mærke:</td>
                    <td>
                        <select name="maerke">
                            <option value="0">Alle</option>
                            {% for brand in search.brands %}
                            <option value="{{brand.id}}">{{brand.title}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
