<table cellspacing="0" id="liste">
{% for product in products %}
    {% if loop.index is divisibleby(2) %}
    <tr>
    {% endif %}
        <td>
            <a href="{{product.link}}">
                {% if product.icon %}<img src="{{product.icon}}" alt="{{product.name}}" title="" /><br />{% endif %}
                {{product.name}}<br />
                echoPrice(
                    product.price.now,
                    product.price.before,
                    product.price.from,
                    product.price.market
                );
            </a>
        </td>
    {% if loop.index is not divisibleby(3) or loop.last %}
    </tr>
    {% endif %}
</table>
