{% if product.oldPrice %}
    {% if product.oldPriceType == 1 %}
        Vejl.pris: <span>
    {% elseif product.oldPriceType == 2 %}
        Burde koste: <span>
    {% else %}
        Før: <span class="XPris">
    {% endif %}
    {{product.oldPrice|number_format(0, ',', '.')}},-</span>
{% endif %}

{% if product.price %}
    {% if product.priceType == 1 and product.oldPrice %}
        <span class="NyPris">Nu fra:
    {% elseif product.priceType == 2 and product.oldPrice %}
        <span class="NyPris">Brugt:
    {% elseif product.priceType == 1 %}
        Fra: <span class="Pris">
    {% elseif product.priceType == 2 %}
        Brugt: <span class="Pris">
    {% elseif product.oldPrice %}
        <span class="NyPris">Nu:
    {% else %}
        Pris: <span class="Pris">
    {% endif %}
    {{product.price|number_format(0, ',', '.')}},-</span>
{% endif %}
