@charset "utf-8";
img {
 max-width:100%;
}
#logo, #headder form, #container4 {
	float:none;
}
.bar ul {
	width:auto;
}
#submenu ul {
	text-align:left;
}
#container {
	position:static;
}
#container2 {
	width:auto;
}
#container3 {
	height:auto;
	width:auto;
	position:static;
}
#container4 {
	height:auto;
	width:auto;
}
#content {
	overflow:visible;
	width:auto;
	position:static;
	width:auto;
	bottom:
}
#text {
	width:auto;
	padding:2px;
	margin:auto;
	border:0 none;
}
marquee {
	position:static;
	width:auto;
	border:1px solid #000000;
	border-left:0 none;
	border-right:0 none;
}
#headder div {
	width:auto;
	padding:2px;
}
#menu {
	width:auto;
	overflow:visible;
}
#menu a {
	background-color:#CCCCCC;
	margin: 2px auto;
}
#footer {
	position:static;
	width:auto;
}
.liste {
	width:100%;
	margin:auto;
}
.liste * {
	width:auto;
}
.liste td {
	display:block;
	width:100%;
	padding:0;
}
.liste .vare {
	width:100%;
	margin:10px 0;
}
.liste .vare h2 {
	width:100%;
}
.liste .vare h2 div a img {
	margin:5px auto;
}
.imgright, .imgleft {
	padding:0;
	margin:auto;
	display:block;
	float:none;
}