{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{renderable.title}}</title>
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="/theme/arms-gallery.dk/style/style.min.css" />
        <meta http-equiv="content-language" content="{{'en'|trans}}" />
        <link rel="alternate" type="application/rss+xml" title="{{'News on %name%'|trans|replace({'%name%': companyName})}}" href="/feed/rss/" />
        <link title="{{companyName}}" type="application/opensearchdescription+xml" rel="search" href="/opensearch.xml" />
        <link rel="canonical" href="{{renderable.canonicalLink}}" />
        <meta name="Keywords" content="{% for crumb in crumbs %}{{crumb.title}}{% if not loop.last %}, {% endif %}{% endfor %}" />
        {% if renderable.icon %}
        <meta property="og:image" content="{{renderable.icon.path}}" />
        <meta property="og:image:type" content="{{renderable.icon.mime}}" />
        <meta property="og:image:width" content="{{renderable.icon.width}}" />
        <meta property="og:image:height" content="{{renderable.icon.height}}" />
        <meta property="og:image:alt" content="{{renderable.icon.description}}" />
        {% endif %}
        {% if renderable.excerpt %}<meta property="og:description" content="{{renderable.excerpt}}" />{% endif %}
    </head>
    <body>
        <div id="headder">
            <div>
                <a href="/"><img id="logo" src="/theme/arms-gallery.dk/images/logo.gif" alt="{{companyName}}" width="428" title="" /></a>
                <img src="/theme/default/images/menu.svg" onclick="$('menu').style.left='0'" id="burger" width="30" height="30" />
                <form action="/search/results/" method="get">
                    <input name="q" value="{{search}}" placeholder="{{'Search'|trans}}" id="searchbox" /><input name="sogikke" type="hidden" />
                    <input name="minpris" type="hidden" />
                    <input name="maxpris" type="hidden" />
                    <input name="maerke" type="hidden" value="0" />
                    <span class="notmobile">
                        <a href="" onclick="this.parentNode.submit();return false">
                            <img src="/theme/arms-gallery.dk/images/søg.gif" alt="{{'Search'|trans}}" width="15" height="15" title="{{'Search'|trans}}" />
                        </a><br />
                        <a href="/search/" class="note">{{'Advanced search'|trans}}</a>
                    </span>
                </form>
                <svg id="basket" onclick="shoppingCart.open()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 29.999999">
                    <ellipse cy="25.643" cx="6.016" rx="1.794" ry="1.74" fill="#333"/>
                    <path d="M24.77 6.26c-.253 0-.538.208-.655.472-1.114 2.51-6.43 14.6-6.43 14.6H3.695c-.267 0-.482.215-.482.482v.913c0 .267.215.482.48.48 4.897-.013 9.805.024 14.694-.005.255 0 .54-.205.656-.47 2.16-4.858 6.437-14.595 6.437-14.595h3.627c.266 0 .48-.215.48-.48V6.74c0-.266-.214-.48-.48-.48z" fill="#333"/>
                    <path d="M1.995 10.41l19.085.033-4.098 9.758H3.252z" fill="#333"/>
                    <ellipse cy="25.643" cx="15.534" rx="1.794" ry="1.74" fill="#333"/>
                    <circle cx="6.423" cy="9.753" r="6.57" fill="#333" stroke="#fff" stroke-width="1.134"/>
                    <text style="line-height:125%" x="6.43" y="14.435" font-size="11" font-family="Sans" fill="#fff">
                        <tspan id="count" x="6.43" y="14.11" style="text-align:center" text-anchor="middle">&nbsp;</tspan>
                    </text>
                </svg>
            </div>
        </div>
        {% if crumbs %}
        <div class="bar" id="crumb">
            <ul>
                {% for crumb in crumbs %}
                <li>{% if not loop.first %} &gt; {% endif %}<a href="{{crumb.canonicalLink}}">{{crumb.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% set extraRows = 0 %}
        <div class="bar" id="cart">
            <ul>
                <li>
                    <a href="" onclick="shoppingCart.open();return false"><img src="/theme/default/images/cart.png" alt="" /> {{'Shopping list'|trans}} <span id="cartCount"></span></a>
                </li>
            </ul>
        </div>
        <div class="bar" id="submenu">
            {% if category.id == 0 %}
            {% set extraRows = extraRows + 1 %}
            <ul>
                {% include 'submenu.html' with {'notes': category.pages} %}
            </ul>
            {% elseif category.branch[2].hasVisibleChildren %}
            {% set extraRows = extraRows + 1 %}
            <ul>
                {% include 'submenu.html' with {'notes': category.branch[2].visibleChildren} %}
            </ul>
            {% endif %}
        </div>
        <div id="container"{% if extraRows %} style="top:{{93 + 16 * extraRows}}px"{% endif %}>
            <div id="container2">
                <div id="container3">
                    <div id="container4">
                        <div id="content">
                            {% block content %}<div id="text">{{renderable.html|raw}}</div>{% endblock %}
                        </div>
                        <marquee loop="-1" scrollamount="1" truespeed scrolldelay="15" onmouseover="this.scrollAmount=0" onmouseout="this.scrollAmount=1">
                            {{infoPage.html|raw}}
                        </marquee>
                        <div id="footer">
                            {{companyAddress}}, {{companyZipCode}} {{companyCity}}, {{'Tel.'|trans}} <a href="tel:{{companyPhone}}">{{companyPhone}}</a>, <a href="mailto:{{companyName}} &lt;{{companyEmail}}&gt;"><strong>{{companyEmail}}</strong></a> SE13081387.<br />
                            <span>
                                {{'Prices are VAT inclusive. Subject to reservations:'|trans}}<br />
                                {{'Sold items, printing errors and price changes, as well as force majeure.'|trans}}
                            </span>
                        </div>
                    </div>
                    <div id="menu" onclick="this.style.left='-100%'">
                    {% include 'menu.html' %}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/javascript/arms-gallery.dk.js"></script>
        <script type="text/javascript"><!--
            {% block jsonload %}{% endblock %}
            var addthis_config = {"data_use_cookies_ondomain": false, "data_use_cookies": false};
        --></script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=armsgallery"></script>
        <script type="text/javascript"><!--
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-1037075-2', {
                'storage': 'none',
                'clientId': localStorage.getItem('ga:clientId')
            });
            ga(function(tracker) {
                localStorage.setItem('ga:clientId', tracker.get('clientId'));
            });

            ga('send', 'pageview');
        --></script>
    </body>
</html>
{% endspaceless %}
