{% for menuItem in menu %}
    <a href="{{menuItem.canonicalLink}}" {% if menuItem in category.branch %}class="main_active"{% else %}class="main"{% endif %}{% if menuItem.id == category.id %} id="activmenu"{% endif %}>
        {{menuItem.title}}
    </a>
    {% if menuItem in category.branch %}
    {% for subItem in menuItem.visibleChildren %}
    <a href="{{subItem.canonicalLink}}"{% if subItem in category.branch %} class="active" id="activmenu"{% endif %}>
        {{subItem.title}}
    </a>
    {% endfor %}
    {% endif %}
{% endfor %}
