{% if products %}
<table cellspacing="0" class="liste">
    {% for item in products %}
    {% if loop.index is odd or loop.first %}<tr>{% endif %}
        <td>
            <div class="vare">
                <h2><a href="{{item.canonicalLink(category)}}">{{item.title}}</a></h2>
                {% if item.icon.path %}
                <div style="text-align:center">
                    <a href="{{item.canonicalLink(category)}}">
                        <img style="margin:10px 0" alt="{{item.icon.description}}" src="{{item.icon.path}}" width="{{item.icon.width}}" height="{{item.icon.height}}" />
                    </a>
                </div>
                {% endif %}
                {% if item.excerpt %}
                <div style="padding:5px;">{{item.excerpt}}</div>
                {% endif %}
                <a href="{{item.canonicalLink(category)}}">
                    <img class="laemere web" src="/theme/arms-gallery.dk/images/info.gif" alt="Læs mere" width="83" height="15" />
                </a>
                <div style="padding:5px; text-align:right;">
                    {% if item.price > 0 %}<strong>{{item.price|number_format(0, ',', '.')}},-</strong>{% else %}&nbsp;{% endif %}
                </div>
            </div>
        </td>
    {% if loop.index is even or loop.last %}</tr>{% endif %}
    {% endfor %}
</table>
{% endif %}
