{% extends "index.html" %}

{% block content %}
<div id="text" class="clearfix">
    <div id="date">{{renderable.timeStamp|date('d-m-Y H:i:s')}}</div>
    <h1>{{renderable.title}}</h1>
    {{renderable.html|raw}}
    {% for table in renderable.tables %}
    {% if table.rows %}
    <div id="table{{table.id}}">
    {% include 'partial-table.html' with {'orderBy': table.orderBy} %}
    </div>
    {% endif %}
    {% endfor %}
    {% if renderable.oldPrice > 0%}
    <div id="spar">Spar<br />{{(100 / renderable.oldPrice * (renderable.oldPrice - renderable.price))|round}}%</div>
    {% endif %}
    {% if renderable.requirement %}
    <a id="krav" href="{{renderable.requirement.canonicalLink}}" onclick="return openkrav({{renderable.requirement.canonicalLink|json_encode()}})" target="krav">
        <img src="/theme/arms-gallery.dk/images/advarsel.gif" alt="" title="" width="54" height="47" /><br />
        {{renderable.requirement.title}}
    </a>
    {% endif %}
    {% if renderable.sku or renderable.price or renderable.brand %}
    <p vocab="http://schema.org/" typeof="Product" style="text-align:right">
        {% if renderable.brand %}<meta property="brand" content="{{renderable.brand.title}}" />{% endif %}
        <meta property="name" content="{{renderable.title}}" />
        {% if renderable.icon %}<meta property="image" content="{{renderable.icon.path}}" />{% endif %}
        {% if renderable.excerpt %}<meta property="description" content="{{renderable.excerpt}}" />{% endif %}
        {% if renderable.sku %}
        <br /><strong>Varenr: <span property="sku">{{renderable.sku}}</span></strong><br />
        {% endif %}
        {% if not hasProductTable %}{% include 'price.html' with {'product': renderable} %}{% endif %}
        {% if renderable.price > 0 %}
        <span property="offers" typeof="Offer">
            <meta property="price" content="{{renderable.price|number_format(2, '.', '')}}" />
            <meta property="priceCurrency" content="{{'USD'|trans}}" />
        </span>
        {% if not hasProductTable %}
        <a href="" onclick="shoppingCart.addItem('page', {{renderable.id}}); return false">
            <img src="/theme/default/images/cart_add.png" alt="+" title="{{'Add to shopping cart'|trans}}" />
        </a>
        {% endif %}
        {% endif %}
    </p>
    {% endif %}

    {% if renderable.brand %}
    <p align="center" style="clear:both">
        {{'View other product from the same brand'|trans}}
        {% include 'productTiles.html' with {'products': [renderable.brand]} %}
    </p>
    {% endif %}
</div>

{% if renderable.activeAccessories %}
<p align="center" style="clear:both">{{'Accessories'|trans}}</p>
{% include 'productTiles.html' with {'products': renderable.activeAccessories} %}
{% endif %}
{% endblock %}
