<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <style type="text/css">
            #faktura td {
                border:1px solid #000;
                border-collapse:collapse; padding:2px;
            }
            .tal {
                text-align:right;
            }
        </style>
    </head>
    <body>
        <p>{{'Date:'|trans}} {{invoice.timeStampPay|date('d-m-Y')}}<br />
        </p>
        <table>
            <tr>
                <td></td>
                <td>{{'Customer:'|trans}}</td>
                {% if invoice.hasShippingAddress %}<td>{{'Delivery address:'|trans}}</td>{% endif %}
            </tr>
            <tr>
                <td>{{'Name:'|trans}}</td>
                <td>{{invoice.name}}</td>
                {% if invoice.hasShippingAddress %}<td>{{invoice.shippingName}}</td>{% endif %}
            </tr>
            {% if invoice.phone1 or (invoice.hasShippingAddress and invoice.shippingPhone) %}
            <tr>
                <td>{{'Phone:'|trans}}</td>
                <td>{{invoice.phone1}}</td>
                {% if invoice.hasShippingAddress %}<td>{{invoice.shippingPhone}}</td>{% endif %}
            </tr>
            {% endif %}
            {% if invoice.attn or (invoice.hasShippingAddress and invoice.shippingAttn) %}
            <tr>
                <td>{{'Attn.:'|trans}}</td>
                <td>{{invoice.attn}}</td>
                {% if invoice.hasShippingAddress %}<td>{{invoice.attn}}</td>{% endif %}
            </tr>
            {% endif %}
            {% if invoice.address or (invoice.hasShippingAddress and (invoice.shippingAddress or invoice.shippingAddress2)) %}
            <tr>
                <td>{{'Address:'|trans}}</td>
                <td>{{invoice.address}}</td>
                {% if invoice.hasShippingAddress %}<td>{{invoice.shippingAddress}}<br />
                {{invoice.shippingAddress}}</td>{% endif %}
            </tr>
            {% endif %}
            {% if invoice.postbox or (invoice.hasShippingAddress and invoice.shippingPostbox) %}
            <tr>
                <td>{{'Postbox:'|trans}}</td>
                <td>{{invoice.postbox}}</td>
                {% if invoice.hasShippingAddress %}<td>{{invoice.shippingPostbox}}</td>{% endif %}
            </tr>
            {% endif %}
            <tr>
                <td>{{'Zipcode:'|trans}}</td>
                <td>{{invoice.postcode}}</td>
                {% if invoice.hasShippingAddress %}<td>{{invoice.shippingPostcode}}</td>{% endif %}
            </tr>
            <tr>
                <td>{{'City:'|trans}}</td>
                <td>{{invoice.city}}</td>
                {% if invoice.hasShippingAddress %}<td>{{invoice.shippingCity}}</td>{% endif %}
            </tr>
            <tr>
                <td>{{'Country:'|trans}}</td>
                <td>{{invoice.country}}</td>
                {% if invoice.hasShippingAddress %}<td>{{invoice.shippingCountry}}</td>{% endif %}
            </tr>
            {% if invoice.phone2 %}
            <tr>
                <td>{{'Mobile:'|trans}}</td>
                <td>{{invoice.phone2}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{'Email:'|trans}}</td>
                <td><a href="mailto:{{invoice.email}}">{{invoice.email}}</a></td>
            </tr>
        </table>
        <p>{{'Payment for your order no. %invoiceId% is now approved. Your product will be shipped as soon as possible. A Track & Trace link will automatically be sent via email so you can follow your package.'|trans|replace({'%invoiceId%': invoice.id})}}<br />
        </p>

        {% include 'partial-payment-invoice.html' %}
        </p>
        <p>{{'Sincerely,'|trans}}</p>
        <p>
            {{invoice.clerk}}<br />
            {{siteName}}<br />
            {{address}}<br />
            {{postcode}} {{city}}<br />
            {{'Tel.'|trans}} {{phone}}<br />
            <a href="mailto:{{invoice.department}}">{{invoice.department}}</a>
        </p>
    </body>
</html>
